<meta charset="utf-8" />
<style>
#seg {
	height: 26vh;  
	margin-top: 0px;
	border-radius: 2px;
	border: 1px solid silver;
}
   
    
</style>
<section class="content-header">
	<h1>Apertura de Caja</h1>
	<ol class="breadcrumb">
		<li>
			<a>
				<i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a>
		</li>
		<li class="active">{{breadCrumbs.servicio}}</li>
	</ol>
</section>
<section class="content">
	<form name="stockWarehouse" novalidate>
		<div class="row centerCol">
		
			<div class="col-md-8">
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<h3 class="box-title">Parámetros de búsqueda</h3>
						<div class="box-tools pull-right">
							<button class="btn btn-box-tool" type="button" id="btnAlmacen" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div class="row centerRow">
							<div class="col-md-4">
								<div class="form-group">
									<label>Tipo de Consulta:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-database"></i>
										</div>
										<select class="form-control" name="typeSearch" id="typeSearch" select2
											data-minimum-results-for-search="Infinity" idioma-s2="{{ currentLanguage }}"
											ng-model="searchVO.typeSearch"
											ng-options="tc as tc.nbTipoBusqueda for tc in lists.typeSearch track by tc.idTipoBusqueda">
										</select>
									</div>
								</div>
							</div>
						
							<div class="col-md-6" ng-if="searchVO.typeSearch.cdTipoBusqueda === 'TD'">
								<div class="form-group">
									<label>TODO:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-user"></i>
										</div>
										<input class="form-control"  ng-model="requestVO.nbSolicitantexx"  readonly
								            capitalize  />
						             </div>
										
									
								</div>
							</div>
							
							<div class="col-md-6" ng-if="searchVO.typeSearch.cdTipoBusqueda === 'FL'">
								<div class="form-group">
									<label>FOLIO USUARIO:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-product-hunt"></i>
										</div>
										<input class="form-control" ng-model="searchVO.value"  />
									</div>
								</div>
							</div>							
							<div class="col-md-6" ng-if="searchVO.typeSearch.cdTipoBusqueda === 'ST'">
								<div class="form-group">
									<label>ESTATUS:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-product-hunt"></i>
										</div>
										<select name="estatususer" id="estatususer" class="form-control" select2
										    data-minimum-results-for-search="Infinity"
											idioma-s2="{{ currentLanguage }}" ng-model="searchVO.estatususer"
											ng-options="tp as tp.nbStatus for tp in lists.estatususer track by tp.idStatus">
										</select>
									</div>
								</div>
							</div>					
						</div>

					</div>
					<div class="box-footer">
						<div class="row centerRow">
							<button class="btn btn-danger" ng-click="filterEstatus(searchVO.typeSearch, searchVO.estatususer, searchVO.value)">
								Buscar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs preventClic">
					<li role="presentation" class="tabBox" ng-class="{ 'active border-box':flags.isMosaic}">
						<a ng-click="toggleViewtab('m')">Mosaico</a>
					</li>
					<li role="presentation" class="tabBox" ng-class="{ 'active border-box':flags.isList }">
						<a ng-click="toggleViewtab('l')">Lista</a>
					</li>
				</ul>
				<div class="box box-danger">
					<div class="box-header with-border">
						<div class="row middleRow">
							<div class="col-sm-3">
								<h4 ng-if="flags.isMosaic">Registros encontrados:
									{{(lists.datosuser | filter:view.searchSomething).length | number}}</h4>
								<!-- <h4 ng-if="oldMode && slider.value!='4 meses'">Registros encontrados:
									{{(catTodosAntiguos | filter:view.searchSomething).length | number}}</h4>
								<h4 ng-if="oldMode && slider.value=='4 meses'">Registros encontrados:
									{{(catTodosAntiguos4Meses | filter:view.searchSomething).length | number}}</h4> -->
							</div>
							
<!-- 							<div class="col-sm-5 ngShowEnter" ng-show="searchVO.viewMode != 'antique'"> -->
							   <div class="col-sm-5">
								 <div class="row centerRow">
									<span class="badge spanStatus allStatus labelCheck"
									      ng-click="view.searchSomething = ''">
										Todos
									</span>
									<span class="badge quantityEmpty spanStatus labelCheck"
										ng-click="view.searchSomething = 'Sin Asignar'">
										Sin Asignar
									</span>
<!-- 									<span class="badge quantityWarning spanStatus labelCheck" -->
<!-- 										ng-click="view.searchSomething = 'Programada'"> -->
<!-- 										Programada -->
<!-- 									</span> -->
									<span class="badge quantitySuccess spanStatus labelCheck"
										ng-click="view.searchSomething = 'Asignado'">
										Asignado
									</span>
									
								 </div>
							   </div>
<!-- 							</div> -->
<!-- 							<div class="col-md-5 ngShowEnter" ng-show="oldMode"> -->
<!-- 								<rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider> -->
<!-- 							</div> -->
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-search"></i>
									</span>
									<input id="searchsomething" type="text" class="form-control"
										placeholder="Filtrar por:" ng-model="view.searchSomething"
										ng-model-options="{debounce: 500}" />
									<span class="input-group-addon labelCheck" ng-click="" tooltip="Descargar reporte"
										placement="top">
										<img src="static/dist/img/excel.png" class="img-xs" />
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="box-body ngShowEnter" ng-show="flags.isMosaic">
						<ul class="row ulAlmacen" id="almacenScroll">
							<li class="col-md-3 ngOnlyEnter" ng-class="{ 'imgSmall':grp.tpImg == 'small'}"
								ng-repeat="grp in lists.datosuser | filter:view.searchSomething">
								
								<div class="contImgAlmacen labelCheck ngOnlyEnter" ng-click="showModalDatosPersonal(grp)" >
									<img ng-src="{{grp.lbAvatar}}"/>
									<label>
										{{grp.foliouser}} 
									</label>
								</div>
							
								<div class="contInfoAlmacen">
									<div class="quantityStock" ng-class="{'quantityExcedente':grp.nuStock >= grp.nuStockMax,
														'quantitySuccess':grp.nuStock > grp.nuStockMin && grp.nuStock < grp.nuStockMax,
														 'quantityWarning':grp.nuStock <= grp.nuStockMin,
														 'quantityEmpty':grp.nuStock == 0 }">
										<label>{{grp.nuStock}}</label>
									</div>
									<div class="btnRequest">
										<button class="btn btn-danger btn-sm" ng-click="showModalAgignarApertura(grp)" ng-class="{ 'disabled':grp.activo === 0, 'enabled':grp.activo === 1 }"
											 tooltip="Asingar Apertura" tooltip-placement="left">
											<i class="fa fa-plus"></i>
										</button>
									</div>
									<div  ng-click="showModalInfo(grp)" >
										<label >Folio Usuario:</label><span> {{grp.foliouser}}</span>
									</div>
									<div>
											<label>Nombre:</label><span> {{grp.usuario}}</span>
									</div>
									<div>
											<label>F/H Apertura:</label><span> {{grp.fcHoraAsig}}</span><br>
											
									</div>									
									<div>
											<label>Cantidad Apertura:</label><span ng-class="{
																
																 'quantityWarning':grp.cantApertura == '0.00',
																 'quantityEmpty':grp.cantApertura =='1,880.00' }">$ {{grp.cantApertura}}</span><br>
											
									</div>	
									<div>
											<label>Caja:</label><span> {{grp.nbCaja}}</span>
									</div>									
									<div>
										<label>Estatus:</label><span class="badge stAlmacen" ng-class="{
																'quantitySuccess':grp.nbStatusCaja =='Asignado',
																 'quantityWarning':grp.nbStatusCaja == '',
																 'quantityEmpty':grp.nbStatusCaja == 'Sin Asignar'}"> {{grp.nbStatusCaja}} </span>
									</div>
<!-- 									<div class="col-md-8"> -->
<!-- 										<label>Cambiar Estatus:</label> -->
										
<!-- 										<select name="typeStatus" id="typeStatus" class="form-control" select2 -->
<!-- 											idioma-s2="{{ currentLanguage }}" ng-model="searchVO.typeStatusActualiza"  -->
<!-- 											ng-options="tp as tp.nbStatus for tp in lists.typeStatusActualiza track by tp.idStatus"   > -->
<!-- 										</select> -->
<!-- 									</div> -->
									<div> <br></div>
									<!-- <div>
										<label>Fecha:</label><span> {{grp.fhIngreso}}</span>
									</div> -->
								</div>
							</li>
						</ul>
					</div>
					<div class="box-body ngShowEnter" ng-if="flags.isList">
						<div class="row ngOnlyEnter">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-hover header-fixed">
										<thead>
											<tr>
												<th class="center">FOLIO USUARIO</th>
												<th class="center">NOMBRE</th>
												<th class="wrap-text">F/H ASIGNADA</th>
												<th class="wrap-text">CAJA</th>
												<th class="wrap-text">ACCIÓN</th>
												<th class="wrap-text">ESTATUS</th>
											</tr>
										</thead>
										<tbody>
										  
											<tr dir-paginate="grp in lists.datosuser | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
												<td  class="center"  ng-click="showModalDetail(grp)"> 
									                   <a>{{grp.foliouser}} </a>
												</td>
												<td class="center">{{grp.usuario}}</td>
												<td class="center">{{grp.fcHoraAsig}}</td>
												<td class="center">{{grp.nbCaja}}</td>
												<td class="center">	
												        <div > 
										                   <button class="btn btn-danger btn-sm" ng-click="showModalAgignarApertura(grp)" ng-class="{ 'disabled':grp.activo === 0, 'enabled':grp.activo === 1 }"
											                      tooltip="Asignar Apertura" tooltip-placement="left"> 
											                      <i class="fa fa-plus"></i> 
 										                   </button> 
 										                </div>  
 										        </td>
												<td class="center">
													<span class="badge stAlmacen" ng-class="{
																'quantitySuccess':grp.nbStatusCaja =='Asignado',
																 'quantityEmpty':grp.nbStatusCaja == 'Sin Asignar'}">
														{{grp.nbStatusCaja}}
													</span>
												</td>
												
											</tr>
											<tr class="ngShowEnter"
												ng-show="(lists.sucursales | filter:view.searchSomething).length < 1">
												<td colspan="6" class="text-center">
													<h4>No se encontraron coincidencias</h4>
												</td>
											</tr>
											
										</tbody>
									</table>
								</div>
								<div class="container-fluid">
									<div class="fixed-table-pagination" style="display: block;">
										<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething"
											array="lists.stockProduct"></rows-per-page>
										<div class="pull-right pagination">
											<dir-pagination-controls class="pagination"></dir-pagination-controls>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</form>



<!-- INICIO TOAST INFO SUCURSAL -->
<toast is-toast="flags.isShowAsigApertura" 
       icon-toast="fa-info"
       backdrop-toast="true"  
	   title-toast="APERTURA DE CAJA{{searchVO.numCaja}}" uppercase-title="true"
	   width-toast="55%">
	<toast-content>
		 <div class="row center" ng-show="flags.isPrimero">
            <div class=" col-md-5" >
                <form name="newRequest" id="newRequest" role="form" novalidate >
                    <fieldset>
                       <legend>ASIGNACIÓN DE CAJA</legend>
                          <div class="col-xs-12 col-md-12 ">
                            <div class="form-group ">
                             
                                <div ng-repeat="ice in lists.datosuser track by $index" >
                                  <div class=" inputGroup contImgAlmacen labelCheck ngOnlyEnter " ng-class="{'has-error':newRequest.numCaja.$invalid  && newRequest.numCaja.$dirty}"
                                        >
                                       
                                     <input id="{{ ice.numCaja }}" ng-disabled= "ice.activo === 0 "
                                             type="radio" name="numCaja" id="numCaja"  required  />
                                     <label class="center" for="{{ ice.numCaja}}" 
                                            ng-class="{'quantitySuccess':ice.activo == 0 }" > <img ng-src="{{ice.lbcajaRegist}}" /> {{ice.numCaja}}</label>
                                 <span class="fadeInDown a-3ms help-block"
							           ng-show="newRequest.numCaja.$invalid && newRequest.numCaja.$dirty">
							                    La descripciÃ³n es requerida </span>
                                  </div>
                                </div>  
                           
                            </div>
                          </div>
                    </fieldset>       
                </form> 
             </div>	
             
             <div class="col-xs-12 col-md-7" >
                <form class="formPay" name="icev"  id="icev" >
                    <fieldset>
                       <legend>DATOS DE ASIGNACIÓN</legend>
						<div class="row">
							<div class="col-md-12">
								<label>Folio Apertura:</label>
								<div class="input-group-center ">
									<i class="fa fa-hashtag"></i>
									FL0001
								</div>
							</div>						
							<div class="col-md-12">
								<label>Gerente a Cargo:</label>
								<div class="input-group-center ">
									<i class="fa fa-user"></i>
									{{detailVO.gerente}}
								</div>
							</div>
							<div class="col-md-12">
								<label>Fecha/Hora de Apertura:</label>
								<div class="input-group-center">
									<i class="fa fa-calendar "></i>
									09/03/2019 09:00 AM  
								</div>
							</div>
						    <div class="col-md-12">
								<label>Asignado A:</label>
								<div class="input-group-center">
									<i class="fa fa-user "></i>
									{{detailVO.usuario}} 
								</div>
							</div>
						    <div class="col-md-12">
								<label>Horario:</label>
								<div class="input-group-center">
									<i class="fa fa-clock-o "></i>
									 09:00 - 21:00 hrs
								</div>
							</div>									
						</div>
                       
                    </fieldset>
                                       
                </form> 
                 <div class="col-xs-12 col-md-12">
                                        <hr style="border:1px solid #e4e4e4;">
                                           <div class="centerRowAround">
                                              <button class="btn btn-danger fadeInDown a-10ms"
                                                      ng-click="pasoDos(newRequest)">
                                                       Siguiente
                                               </button>
                                            </div>
                                       </div>
             </div>	            
             
             
<!--             <div class="row"> -->
                                     
<!--            </div> -->
		 </div>
		 
		 
		 <div class="row" ng-show="flags.isSegundo">
                <div class="col-md-12">
  
                       <form class="formPay" name="formPay" >

                        <fieldset>
                            <legend>FONDO INICIAL</legend>

                            <div class="row">
                <div class="col-md-9">
                    <table class="table table-hover header-fixed fixed-pay">
                        <thead>
                            <tr>
                                <th>TIPO</th>
                                <th >DENOMINACIÓN</th>
                                <th >CANTIDAD</th>
                                <th>IMPORTE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pro in lists.aperturainicial">
                                
                                <td class="text-center alignMiddle">
                                    <span tooltip="{{ pro.nbProducto }}" tooltip-placement="top">
                                        {{ pro.nbTipo }}
                                    </span>
                                </td>
                                <td class="text-center alignMiddle">
                                    <label>${{ pro.nbDenominacion }}</label>
                                </td>
                                <td width="130px" class="alignMiddle">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <a class="btn" style="box-shadow:none;">
                                                    <i class="fa fa-minus"
                                                        style="color: #cf0a2c !important">
                                                    </i>
                                                </a>
                                            </div>

                                            <input type="text" class="form-control text-center inputFecha"
                                                integer-number ng-model="pro.cantidad" readonly />

                                            <div class="input-group-btn">
                                                <a class="btn" style="box-shadow:inherit;">
                                                    <i class="fa fa-plus"
                                                        style="color: #cf0a2c !important">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                
                                <td class="text-center alignMiddle">
                                    <label>${{ pro.importe }}</label>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                 <div class="col-md-3">
                    <div class="carprev-content__foot">
                        <div class="form-group">
                            
                            
                        </div>
                        <table class="table qantity" style="margin-top:0.5rem;">
                            <tbody>                       
                                <tr>
                                    <td class=" text-center" >
                                        <label>TOTAL</label>
                                    </td>
                                    
                                </tr>
                                <tr>
                                   
                                    <td class="text-center" >
                                        <strong>
                                            $1,880.00
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="buttons">
                            <button class="btn btn-danger btn-block"
                                ng-click="pasoTres()">
                                Siguiente
                            </button>
                        </div>
                        <div>--------------------------------------- </div>
                        <button class="btn fadeInDown btn-block" id="login-btn" ng-click="retrocederDos()">
                        Retroceder
                       </button>
                    </div>
                </div>               
                
                
			</div>

                            

                        </fieldset>
                    </form>  
      
                </div>
     </div>

           <div class="row" ng-show="flags.isTercero">
                <div class="col-md-12">
  
                       <form class="formPay" name="formPay">

                        <fieldset>
                            <legend>DEPÓSITO PARCIAL</legend>

                            <div class="row">
                            
                            <div class= "col-xs-12 col-md-6">
					             <div class="form-group-center ">
						             <label>Monto para depósito parcial:</label>
						              <div class="input-group-center">
                                                    <input class="form-control" type="text" name="nuTotalImporte"
                                                        ng-model="cta.nuTotalImporte" money-mask
                                                        money-mask-prepend="$" />
                                      </div>
					              </div>
				            </div>				            
                           <div class="row">
                             <div class="col-xs-12 col-md-12">
                                   <hr style="border:1px solid #e4e4e4;">
                              <div class="row  centerRowAround">
                                   <a class="btn fadeInDown " id="login-btn" ng-click="retrocederUno()">
                                       Retroceder
                                   </a>
                                  <button class="btn btn-danger fadeInDown" id="login-btn"
                                          ng-click="pasoCuatro()">
                                         Generar Ticket
                                  </button>
<!--                                                 quitModalAgignarApertura() -->
                              </div>
                             </div>
                            </div>
                            
			               </div>

                        </fieldset>
                    </form>  
      
                </div>
           </div>
<!--          df -->
  <div class="row" ng-show="flags.isCuarto">
                <div class="col-md-12">
                    <div id="ticket" class="contentreceit row">
                        
                        <div class="contentreceit__receit">

                            <div class="receit-header">
                                <img src="static/dist/img/santaclaralogo.png" />
                                <div class="receit-header__title">
                                    <h4>Ticket de Apertura Inicial</h4>
                                    <span><i>
                                       Ticket de Apertura Inicial

                                    </i></span>
                                    <p></p>
                                </div>
                                <img src="static/dist/img/barcode.jpg" />
                                <h4 style="margin-top:1rem;">Usuario: <strong>{{detailVO.usuario}} </strong></h4>
                            </div>

                            <div class="receit-body">
                                <p>Gerente: <strong>{{detailVO.gerente}}</strong></p>
                                <p>Fecha Apertura: <strong>{{ dateCurrent() }}</strong></p>
                                 <p>Caja Asignada: <strong>{{detailVO.numCaja}}</strong></p>
                                <p>Ticket: <strong>#15478</strong></p>

                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="p in shoppingcar.listProducts">
                                            <td class="alignMiddle text-center">
                                                {{ p.nuCantidad }}
                                            </td>
                                            <td class="alignMiddle">
                                                {{ p.nbProducto }}
                                            </td>
                                            <td class="alignMiddle text-right">
                                                <strong>${{ p.nuTotal }}</strong>
                                            </td>
                                            <td class="alignMiddle text-right">
                                                <strong>${{ p.nuTotal }}</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <hr style="border:1px dashed #e4e4e4;">

                                <div class="row">
                                    <div class="col-md-4">
                                        <h3>TOTAL</h3>
                                    </div>
                                    <div class="col-md-8 text-right">
                                        <h3> $1,880.00</h3>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <hr style="border:1px solid #e4e4e4;">

                    <div class="row centerRow">
                        <button class="btn btn-danger" ng-click="printTicket('ticket');">
                            Imprimir ticket
                        </button>
                    </div>
                </div>  
           </div>
<!-- df -->
	<div>	</div>
	</toast-content>
	
</toast>
<!-- FIN TOAST INFO SUCURSAL -->
	
<!-- INICIO TOAST INFO DATOS PERSONALES -->
<toast is-toast="flags.isShowDatosPersonales" 
       icon-toast="fa-info"
       backdrop-toast="true"  
	   title-toast="DATOS PERSONALES{{searchVO.numCaja}}" uppercase-title="true"
	   width-toast="50%">
	<toast-content>
		 <div class="row center" >

             
             <div class="col-xs-12 col-md-12" >
                <form class="formPay" name="icev"  id="icev" >
                    <fieldset>
                       <legend>DATOS GENERALES</legend>
						<div class="row">
							<div class="col-md-6">
								<label>Folio Usario:</label>
								<div class="input-group-center ">
									<i class="fa fa-hashtag"></i>
									FL0001
								</div>
							</div>						
							<div class="col-md-6">
								<label>Nombre:</label>
								<div class="input-group-center ">
									<i class="fa fa-user"></i>
									{{detailVO.usuario}} 
								</div>
							</div>
							<div class="col-md-6">
								<label>Teléfono:</label>
								<div class="input-group-center ">
									<i class="fa fa-phone"></i>
									{{detailVO.teluser}} 
								</div>
							</div>	
							<div class="col-md-6">
								<label>Correo:</label>
								<div class="input-group-center ">
									<i class="fa fa-envelope-o"></i>
									{{detailVO.correouser}} 
								</div>
							</div>
							<div class="col-md-6">
								<label>Fecha Ingreso</label>
								<div class="input-group-center">
									<i class="fa fa-calendar "></i>
									09/03/2019 09:00 AM  
								</div>
							</div>
							<div class="col-md-6">
								<label>Dirección</label>
								<div class="input-group-center ">
									<i class="fa fa-user"></i>
									{{detailVO.direccionuser}} 
								</div>
							</div>								
						</div>
                       
                    </fieldset>
                                       
                </form> 
                                       <div class="col-xs-12 col-md-12">
                                        <hr style="border:1px solid #e4e4e4;">
                                           <div class="centerRowAround">
                                              <button class="btn btn-danger fadeInDown a-10ms"
                                                      ng-click="quitModalDatosPersonal()">
                                                       Aceptar
                                               </button>
                                            </div>
                                       </div>
             </div>	            
             

		 </div>
		 

	<div>
		</div>
	</toast-content>
	
</toast>
<!-- FIN TOAST INFO DATOS PERSONALES -->

</section>