<meta charset="utf-8" />
<style>
#seg {
	height: 26vh;  
	margin-top: 0px;
	border-radius: 2px;
	border: 1px solid silver;
}
   
    
</style>
<section class="content-header">
	<h1>Corte de Caja</h1>
	<ol class="breadcrumb">
		<li>
			<a>
				<i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a>
		</li>
		<li class="active">{{breadCrumbs.servicio}}</li>
	</ol>
</section>
<section class="content">
	<form name="stockWarehouse" novalidate>
		<div class="row centerCol">
		
			<div class="col-md-8">
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<h3 class="box-title">Parámetros de búsqueda</h3>
						<div class="box-tools pull-right">
							<button class="btn btn-box-tool" type="button" id="btnAlmacen" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div class="row centerRow">
							<div class="col-md-4">
								<div class="form-group">
									<label>Tipo de Consulta:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-database"></i>
										</div>
										<select class="form-control" name="typeSearch" id="typeSearch" select2
											data-minimum-results-for-search="Infinity" idioma-s2="{{ currentLanguage }}"
											ng-model="searchVO.typeSearch"
											ng-options="tc as tc.nbTipoBusqueda for tc in lists.typeSearch track by tc.idTipoBusqueda">
										</select>
									</div>
								</div>
							</div>
						
							<div class="col-md-6" ng-if="searchVO.typeSearch.cdTipoBusqueda === 'TD'">
								<div class="form-group">
									<label>TODO:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-user"></i>
										</div>
										<input class="form-control"  ng-model="requestVO.nbSolicitantexx"  readonly
								            capitalize  />
						             </div>
										
									
								</div>
							</div>
							
							<div class="col-md-6" ng-if="searchVO.typeSearch.cdTipoBusqueda === 'FL'">
								<div class="form-group">
									<label>FOLIO USUARIO:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-product-hunt"></i>
										</div>
										<input class="form-control" ng-model="searchVO.value"  />
									</div>
								</div>
							</div>							
							<div class="col-md-6" ng-if="searchVO.typeSearch.cdTipoBusqueda === 'ST'">
								<div class="form-group">
									<label>ESTATUS:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-product-hunt"></i>
										</div>
										<select name="typeestatus" id="typeestatus" class="form-control" select2
										    data-minimum-results-for-search="Infinity"
											idioma-s2="{{ currentLanguage }}" ng-model="searchVO.estatususer"
											ng-options="tp as tp.nbStatus for tp in lists.estatususer track by tp.idStatus">
										</select>
									</div>
								</div>
							</div>					
						</div>

					</div>
					<div class="box-footer">
						<div class="row centerRow">
							<button class="btn btn-danger" ng-click="filterEstatus(searchVO.typeSearch, searchVO.estatususer, searchVO.value)">

								Buscar
							</button>
							
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs preventClic">
					<li role="presentation" class="tabBox" ng-class="{ 'active border-box':flags.isMosaic}">
						<a ng-click="toggleViewtab('m')">Mosaico</a>
					</li>
					<li role="presentation" class="tabBox" ng-class="{ 'active border-box':flags.isList }">
						<a ng-click="toggleViewtab('l')">Lista</a>
					</li>
				</ul>
				<div class="box box-danger">
					<div class="box-header with-border">
						<div class="row middleRow">
							<div class="col-sm-3">
								<h4 ng-if="flags.isMosaic">Registros encontrados:
									{{(lists.datosuser | filter:view.searchSomething).length | number}}</h4>
								<!-- <h4 ng-if="oldMode && slider.value!='4 meses'">Registros encontrados:  
									{{(catTodosAntiguos | filter:view.searchSomething).length | number}}</h4>
								<h4 ng-if="oldMode && slider.value=='4 meses'">Registros encontrados:
									{{(catTodosAntiguos4Meses | filter:view.searchSomething).length | number}}</h4> -->
							</div>
							
<!-- 							<div class="col-sm-5 ngShowEnter" ng-show="searchVO.viewMode != 'antique'"> -->
							   <div class="col-sm-5">
								 <div class="row centerRow">
									<span class="badge spanStatus allStatus labelCheck"
									      ng-click="view.searchSomething = ''">
										Todos
									</span>
									<span class="badge quantityEmpty spanStatus labelCheck"
										ng-click="view.searchSomething = 'Cerrado'">
										Cerrado
									</span>
<!-- 									<span class="badge quantityWarning spanStatus labelCheck" -->
<!-- 										ng-click="view.searchSomething = 'Programada'"> -->
<!-- 										Programada -->
<!-- 									</span> -->
									<span class="badge quantitySuccess spanStatus labelCheck"
										ng-click="view.searchSomething = 'Activo'">
										Activo
									</span>
									
								 </div>
							   </div>
<!-- 							</div> -->
<!-- 							<div class="col-md-5 ngShowEnter" ng-show="oldMode"> -->
<!-- 								<rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider> -->
<!-- 							</div> -->
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-search"></i>
									</span>
									<input id="searchsomething" type="text" class="form-control"
										placeholder="Filtrar por:" ng-model="view.searchSomething"
										ng-model-options="{debounce: 500}" />
									<span class="input-group-addon labelCheck" ng-click="" tooltip="Descargar reporte"
										placement="top">
										<img src="static/dist/img/excel.png" class="img-xs" />
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="box-body ngShowEnter" ng-show="flags.isMosaic">
						<ul class="row ulAlmacen" id="almacenScroll">
							<li class="col-md-3 ngOnlyEnter" ng-class="{ 'imgSmall':grp.tpImg == 'small'}"
								ng-repeat="grp in lists.datosuser | filter:view.searchSomething">
								
								<div class="contImgAlmacen labelCheck ngOnlyEnter" ng-click="showModalInfoMovParcial(grp)" >
									<img ng-src="{{grp.lbAvatar}}"/>
									<label>
										{{grp.foliouser}} 
									</label>
								</div>
								<!--<div class="contImgAlmacen ngOnlyEnter" ng-if="grp.stTipo == 'Insumo'">
									<img ng-src="{{grp.blImg}}" />
									<label ng-class="{'quantityExcedente':grp.nuStock >= grp.nuStockMax,
														'quantitySuccess':grp.nuStock > grp.nuStockMin && grp.nuStock < grp.nuStockMax,
														 'quantityWarning':grp.nuStock <= grp.nuStockMin,
														 'quantityEmpty':grp.nuStock == 0 }">
										{{grp.cdGrupo}}
									</label>
								</div>-->
								<div class="contInfoAlmacen">
									<div class="quantityStock" ng-class="{'quantityExcedente':grp.nuStock >= grp.nuStockMax,
														'quantitySuccess':grp.nuStock > grp.nuStockMin && grp.nuStock < grp.nuStockMax,
														 'quantityWarning':grp.nuStock <= grp.nuStockMin,
														 'quantityEmpty':grp.nuStock == 0 }">
										<label>{{grp.nuStock}}</label>
									</div>
									<div class="btnRequest">
										<button class="btn btn-danger btn-sm"  ng-click="showModalCerrarCaja(grp)" ng-class="{ 'disabled':grp.nbStatuscorte == 'Cerrado', 'enabled':grp.nbStatuscorte =='Activo' }"
											 tooltip="Cerrar Caja" tooltip-placement="left">
											<i class="fa fa-plus"></i>
										</button>
									</div>
									<div >
										<label >Folio:</label><span> {{grp.foliouser}}</span>
									</div>
									<div>
											<label>Nombre:</label><span> {{grp.gerente}}</span>
									</div>
									<div>
											<label>F/H Apertura:</label><span> {{grp.fcUltimoPedido}}</span>
									</div>									
									<div>
											<label>Apertura:</label><span ng-class="{
																
																 'quantityWarning':grp.cantApertura == '0.00',
																 'quantityEmpty':grp.cantApertura =='1,880.00' }">$ {{grp.cantApertura}}</span><br>
											
									</div>	
									<div>
											<label>Apertura Cerrada:</label><span ng-class="{
																
																 'quantityWarning':grp.cantApertura == '0.00',
																 'quantityEmpty':grp.cantApertura =='1,880.00' }">$ {{grp.cantApertura}}</span><br>
											
									</div>																										
									<div>
										<label>Estatus:</label><span class="badge stAlmacen" ng-class="{
																'quantitySuccess':grp.nbStatuscorte =='Activo',
																 'quantityEmpty':grp.nbStatuscorte == 'Cerrado'}"> {{grp.nbStatuscorte}} </span>
									</div>
<!-- 									<div class="col-md-8"> -->
<!-- 										<label>Cambiar Estatus:</label> -->
										
<!-- 										<select name="typeStatus" id="typeStatus" class="form-control" select2 -->
<!-- 											idioma-s2="{{ currentLanguage }}" ng-model="searchVO.typeStatusActualiza"  -->
<!-- 											ng-options="tp as tp.nbStatus for tp in lists.typeStatusActualiza track by tp.idStatus"   > -->
<!-- 										</select> -->
<!-- 									</div> -->
									<div> <br></div>
									<!-- <div>
										<label>Fecha:</label><span> {{grp.fhIngreso}}</span>
									</div> -->
								</div>
							</li>
						</ul>
					</div>
					<div class="box-body ngShowEnter" ng-if="flags.isList">
						<div class="row ngOnlyEnter">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-hover header-fixed">
										<thead>
											<tr>
												<th class="center">FOLIO USUARIO</th>
												<th class="center">NOMBRE</th>
												<th class="wrap-text">APERTURA</th>
												<th class="wrap-text">ESTATUS</th>
												<th class="wrap-text">ACCION</th>
											</tr>
										</thead>
										<tbody>
											<tr dir-paginate="grp in lists.datosuser | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
												<td  class="center"  ng-click="showModalInfoMovParcial(grp)"> 
									                   <a>{{grp.foliouser}} </a>
												</td>
												<td class="center">{{grp.gerente}}</td>
												<td class="center">{{grp.fcUltimoPedido}}</td>
												<td class="center">
													<span class="badge stAlmacen" ng-class="{
																'quantitySuccess':grp.nbStatuscorte =='Activo',
																 'quantityEmpty':grp.nbStatuscorte == 'Cerrado'}">
														{{grp.nbStatuscorte}}
													</span>
												</td>
												<td class="center">														<div > 
										                   <button class="btn btn-danger btn-sm" ng-click="showModalCerrarCaja(grp)" ng-class="{ 'disabled':grp.nbStatuscorte == 'Cerrado', 'enabled':grp.nbStatuscorte =='Activo' }"
											                      tooltip="Cerrar Caja" tooltip-placement="left"> 
											                      <i class="fa fa-plus"></i> 
 										                   </button> 
 										                </div>     
 										        </td>
												
												
											</tr>
											<tr class="ngShowEnter"
												ng-show="(lists.sucursales | filter:view.searchSomething).length < 1">
												<td colspan="6" class="text-center">
													<h4>No se encontraron coincidencias</h4>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="container-fluid">
									<div class="fixed-table-pagination" style="display: block;">
										<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething"
											array="lists.stockProduct"></rows-per-page>
										<div class="pull-right pagination">
											<dir-pagination-controls class="pagination"></dir-pagination-controls>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</form>



<!-- INICIO TOAST INFO SUCURSAL -->
<toast is-toast="flags.isShowCerrarCaja" 
       icon-toast="fa-info"
       backdrop-toast="true"  
	   title-toast="CERRAR CAJA{{detailVO.nbTipoSucursal}}" uppercase-title="true"
	   width-toast="60%">
	<toast-content>
		
		 <div class="row" ng-show="flags.isCorteCaja">
                <div class="col-md-12">
  
                       <form class="formPay" name="formPay" >

                        <fieldset>
                            <legend>CORTE DE CAJA</legend>

                            <div class="row">
                <div class="col-md-9">
                    <table class="table table-hover header-fixed fixed-pay">
                        <thead>
                            <tr>
                                <th>TIPO</th>
                                <th >DENOMINACIÓN</th>
                                <th >CANTIDAD</th>
                                <th>IMPORTE</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pro in lists.aperturainicial">
                                
                                <td class="text-center alignMiddle">
                                    <span tooltip="{{ pro.nbProducto }}" tooltip-placement="top">
                                        {{ pro.nbTipo }}
                                    </span>
                                </td>
                                <td class="text-center alignMiddle">
                                    <label>${{ pro.nbDenominacion }}</label>
                                </td>
                                <td width="130px" class="alignMiddle">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <a class="btn" style="box-shadow:none;">
                                                    <i class="fa fa-minus"
                                                        style="color: #cf0a2c !important">
                                                    </i>
                                                </a>
                                            </div>

                                            <input type="text" class="form-control text-center inputFecha"
                                                integer-number ng-model="pro.cantidad"  />

                                            <div class="input-group-btn">
                                                <a class="btn" style="box-shadow:inherit;">
                                                    <i class="fa fa-plus"
                                                        style="color: #cf0a2c !important">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                
                                <td class="text-center alignMiddle">
                                    <label>${{ pro.importe }}</label>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                 <div class="col-md-3">
                    <div class="carprev-content__foot">
                        <div class="form-group">
                            
                            
                        </div>
                        <table class="table qantity" style="margin-top:0.5rem;">
                            <tbody>                       
                                <tr>
                                    <td class=" text-center" >
                                        <label>TOTAL </label>
                                    </td>
                                    
                                </tr>
                                <tr>
                                   
                                    <td class="text-center" >
                                        <strong>
                                            $1,880.00
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="buttons">
                            <button class="btn btn-danger btn-block"
                                ng-click="mostrarTercero()">
                                Finalizar Corte de Caja
                            </button>
                        </div>
                    </div>
                </div>               
                
                
			</div>

                            

                        </fieldset>
                    </form>  
      
                </div>
     </div>

           <div class="row" ng-show="flags.isTipoCorte">
                <div class="col-md-12">
  
                       <form class=" formPay" name="formPay" >

                        <fieldset>
                            <legend>TIPO DE CORTE DE CAJA</legend>
                            <div class="col-md-12">
					             <div class="form-group">
						             <label>QUE TIPO DE CORTE DESEA REALIZAR:</label>
						              <div class="form-group">
						              
						                 <div class="row">
                                           <div class="col-md-6" ng-repeat="ice in lists.tipoCorte track by $index" >
                                              <div class=" inputGroup contImgAlmacen labelCheck ngOnlyEnter ">
                                       
                                                    <input id="{{ ice.idTipoCorte }}" 
                                                     type="radio" name="idTipoCorte" id="idTipoCorte"  required />
                                                    <label   for="{{ ice.idTipoCorte}}" >
                                                         <img ng-src="{{ice.lbimagen}}"/> {{ice.nbCorte}}
                                                    </label>
                                              </div>
                                           </div> 
                                         </div>
                                         
                                     </div>
					              </div>
				            </div>
				            				            
                             
                                  <div class="col-md-12">
                                       <hr style="border:1px solid #e4e4e4;">
                                           <div class="centerRowAround">
                                                <button class="btn fadeInDown a-10ms" id="login-btn" ng-click="quitModalCerrarCaja()">
                                                      Cancelar
                                                </button>
                                                <button class="btn btn-danger fadeInDown a-10ms" id="login-btn"
                                                        ng-click="mostrarSegundo()">
                                                        Siguiente
                                                </button>
                                           </div>
                                  </div>
                        </fieldset>
                    </form>  
      
                </div>
           </div>
  <div class="row" ng-show="flags.isfinalizarCorte">
                <div class="col-md-12">
                    <div id="ticket" class="contentreceit row">
                        
                        <div class="contentreceit__receit">

                            <div class="receit-header">
                                <img src="static/dist/img/santaclaralogo.png" />
                                <div class="receit-header__title">
                                    <h4>Ticket de Corte de Caja</h4>
                                    <span><i>
                                        Ticket de Corte de Caja

                                    </i></span>
                                    <p></p>
                                </div>
                                <img src="static/dist/img/barcode.jpg" />
                                <h4 style="margin-top:1rem;">Usuario: <strong>{{detailVO.usuario}} </strong></h4>
                            </div>

                            <div class="receit-body">
                                <p>Gerente: <strong>{{detailVO.gerente}}</strong></p>
                                <p>Fecha Apertura: <strong>{{ dateCurrent() }}</strong></p>
                                <p>Fecha Cierre: <strong>{{ dateCurrent() }}</strong></p>
                                 <p>Caja Asignada: <strong>{{detailVO.numCaja}}</strong></p>
                                <p>Ticket: <strong>#15478</strong></p>

                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="p in shoppingcar.listProducts">
                                            <td class="alignMiddle text-center">
                                                {{ p.nuCantidad }}
                                            </td>
                                            <td class="alignMiddle">
                                                {{ p.nbProducto }}
                                            </td>
                                            <td class="alignMiddle text-right">
                                                <strong>${{ p.nuTotal }}</strong>
                                            </td>
                                            <td class="alignMiddle text-right">
                                                <strong>${{ p.nuTotal }}</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <hr style="border:1px dashed #e4e4e4;">

                                <div class="row">
                                    <div class="col-md-4">
                                        <h3>TOTAL</h3>
                                    </div>
                                    <div class="col-md-8 text-right">
                                        <h3> $1,880.00</h3>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <hr style="border:1px solid #e4e4e4;">

                    <div class="row centerRow">
                        <button class="btn btn-danger" ng-click="printTicket('ticket');">
                            Imprimir recibo
                        </button>
                    </div>
                </div>  
           </div>
		</div>
	</toast-content>
	
</toast>

<!-- FIN TOAST INFO SUCURSAL -->
	
	
<!-- INICIO TOAST INFO SUCURSAL -->
<toast is-toast="flags.isShowInfoMovimientoDia" 
       icon-toast="fa-info"
       backdrop-toast="true"
	   title-toast="MOVIMIENTO REALIZADO {{detailVO.nbTipoSucursal}}" uppercase-title="true"
	   width-toast="60%">
	<toast-content>
		
		 <div class="row" >
                <div class="col-md-12">
  
                       <form class="formPay" name="formPay" >

                        <fieldset>
                            <legend>Movimientos del día</legend>

                            <div class="row">
                <div class="col-md-9">
								<div class="table-responsive">
									<table class="table table-hover header-fixed">
										<thead>
											<tr>
												<th class="center">FOLIO MOVIMIENTO</th>
												<th class="center">MOVIMIENTO</th>
												<th class="wrap-text">DESCRIPCIÓN</th>
												<th class="wrap-text">FECHA/HORA MOVIMIENTO</th>
												<th class="wrap-text">IMPORTE</th>
											</tr>
										</thead>
										<tbody>
											<tr dir-paginate="grp in lists.datoMovimiento | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
												<td  class="center"  ng-click="showModalDetail(grp)"> 
									                   <a>{{grp.flmovimiento}} </a>
												</td>
												<td class="center" ><span ng-class="{
																'quantitySuccess':grp.nbMovimiento =='Deposito',
																 'quantityEmpty':grp.nbMovimiento == 'Retiro'}">{{grp.nbMovimiento}}</span></td>
												<td class="center">{{grp.nbDescripcion}}</td>
												<td class="center">{{dateCurrent()}}</td>
												<td class="center">{{grp.importe}}</td>
												
											</tr>
											<tr class="ngShowEnter"
												ng-show="(lists.sucursales | filter:view.searchSomething).length < 1">
												<td colspan="6" class="text-center">
													<h4>No se encontraron coincidencias</h4>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
                </div>
                 <div class="col-md-3">
                    <div class="carprev-content__foot">
                        <div class="form-group">
                            
                        </div>
                        <table class="table qantity" style="margin-top:0.5rem;">
                            <tbody>                       
                                <tr>
                                    <td class=" text-center" >
                                        <label>TOTAL MOVIMIENTO RETIRO</label>
                                    </td>
                                    
                                </tr>
                                <tr>
                                   
                                    <td class="text-center" >
                                        <strong>
                                            $1,880.00
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="buttons">
                            <button class="btn btn-danger btn-block"
                                ng-click="mostrarTercero()">
                                Finalizar Corte de Caja
                            </button>
                        </div>
                    </div>
                </div>               
                
                
			</div>

                        </fieldset>
                    </form>  
      
                </div>
     </div>



	
	</toast-content>
	
</toast>

<!-- FIN TOAST INFO SUCURSAL -->

</section>