
<html>
<meta charset="utf-8" />
<body>
<section class="content-header">
    <h1>{{ breadCrumbs.servicio }}</h1>

  

    <ol class="breadcrumb">
        <li>
            <a>
                <i class="{{breadCrumbs.icono}}"></i>{{ breadCrumbs.modulo }}
            </a>
        </li>
        <li class="active">{{ breadCrumbs.servicio }}</li>
    </ol>
</section>

<section class="content">
    
    <div class="row">
        


        <div class="col-md-12">
            <div class="box box-danger">
            
                <div class="box-header with-border text-center">
                    <h3 class="box-title">
                       Depósito Parcial
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            
                <div class="box-body">
                            <div class="row">
                             <div class="col-xs-6 col-md-3">
					             <div class="form-group">
						             <label>Folio Movimiento:</label>
						             <div class="input-group">
							            <div class="input-group-addon">
								           <i class="fa fa-user"></i>
							            </div>
							            <input class="form-control"  ng-model="FL0043" readonly
								            capitalize  />
						             </div>
					              </div>
				            </div>                            
                            <div class="col-xs-6 col-md-6">
					             <div class="form-group">
						             <label>Tipo:</label>
						             <div class="input-group">
							            <div class="input-group-addon">
								           <i class="fa fa-user"></i>
							            </div>
							            <select name="typeSearchMov" id="typeSearchMov" class="form-control"
                                        data-minimum-results-for-search="Infinity"
                                        select2
                                        idioma-s2="{{ currentLanguage }}"
                                        ng-model="searchVO.typeSearchMov"
                                        ng-options="tp as tp.nbStatusMov for tp in lists.typeSearchMov track by tp.idTypeMov">
                                    </select>
						             </div>
					              </div>
				            </div>
				            <div class="col-xs-6 col-md-3">
					             <div class="form-group">
						             <label>Fecha/Hora:</label>
						             <div class="input-group">
							            <div class="input-group-addon">
								           <i class="fa fa-calendar"></i>
							            </div>
							            <input class="form-control" ng-Model="dateCurrent()" readonly
								            capitalize />
						             </div>
					              </div>
				            </div>
                            <div class="col-xs-6 col-md-6">
					             <div class="form-group">
						             <label>Concepto:</label>
						             <div class="input-group">
							            <div class="input-group-addon">
								           <i class="fa fa-info"></i>
							            </div>
							            <input class="form-control"  ng-model="requestVO.nbMovimientov" readonly
								            capitalize  />
						             </div>
					              </div>
				            </div>				            
<!--                             <div  class="col-xs-6 col-md-6"> -->
<!-- 								<div class="form-group"> -->
<!-- 									<label>Fecha y Hora Recibida:</label> -->
<!-- 									<div class="input-group"> -->
<!-- 										<div class="input-group-addon"> -->
<!-- 											<i class="fa fa-building"></i> -->
<!-- 										</div> -->
<!-- 										<input type="text" class="form-control inputFecha" datetime-picker -->
<!-- 											ng-model="programarVO.fhInicio" readonly /> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
                             <div class="col-xs-6 col-md-6">
					             <div class="form-group">
						             <label>Usuario:</label>
						             <div class="input-group">
							            <div class="input-group-addon">
								           <i class="fa fa-user"></i>
							            </div>
							            <input class="form-control"  ng-model="requestVO.nbSolicitanted" readonly
								            capitalize  />
						             </div>
					              </div>
				            </div>
                             <div class="col-xs-6 col-md-6">
					             <div class="form-group">
						             <label>Entregado a:</label>
						             <div class="input-group">
							            <div class="input-group-addon">
								           <i class="fa fa-user"></i>
							            </div>
							            <input class="form-control"  ng-model="requestVO.nbSolicitanted" readonly
								            capitalize  />
						             </div>
					              </div>
				            </div>				            
                            <div class="col-xs-6 col-md-6">
					             <div class="form-group">
						             <label>Clave:</label>
						             <div class="input-group">
							            <div class="input-group-addon">
								           <i class="fa fa-key "></i>
							            </div>
							            <input class="form-control" type="password" ng-model="requestVO.nbRecibio" />
						             </div>
					              </div>
				            </div>
				            <div class="col-xs-6 col-md-6">
					             <div class="form-group">
						             <label>Importe:</label>
						             <div class="input-group">
							            <div class="input-group-addon">
								           <i class="fa fa-usd"></i>
							            </div>
							            <input class="form-control"  ng-model="requestVO.nbRecibiod" money-mask
                                                        money-mask-prepend="$" />
						             </div>
					              </div>
				            </div>                                                   
				              <div class="col-xs-12 col-md-6">
					               <div class="form-group"
						                ng-class="{'has-error':newRequest.txDescripcion.$invalid && newRequest.txDescripcion.$dirty}">
						                <label><span class="asteriskReq">*</span>Descripción:</label>
						               <div class="input-group">
							              <div class="input-group-addon">
								             <i class="fa fa-comment"></i>
							              </div>
							                  <textarea class="form-control" rows="3" name="txDescripcion" id="txDescripcion" required
								                ng-model="requestVO.txDescripcion" capitalize style="resize: inherit;">
										      </textarea>
						               </div>
					               </div>
				              </div>
				              
                             <div class="col-xs-12 col-md-12">
                             <hr style="border:1px solid #e4e4e4;">
                            <div class="row centerRow">
                                <button class="btn btn-danger"   ng-click="payProducts()">
                                   Aceptar
                                </button>
                            </div>
                            </div>
			               </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="box box-danger">
            
                <div class="box-header with-border">
                    <div class="row middleRow">
                        
                        <div class="col-sm-3">
                            <h3 class="box-title">
                                Registros Realizados: 
                                {{ (lists.datoMovimiento| filter:view.searchSomething).length | number}}
                            </h3>
                        </div>
                        
                        <div class="col-sm-5">
								 <div class="row centerRow">
									<span class="badge spanStatus allStatus labelCheck"
									      ng-click="view.searchSomething = ''">
										Todos
									</span>
									<span class="badge quantityEmpty spanStatus labelCheck"
										ng-click="view.searchSomething = 'Retiro'">
										Retiro
									</span>
<!-- 									<span class="badge quantityWarning spanStatus labelCheck" -->
<!-- 										ng-click="view.searchSomething = 'Programada'"> -->
<!-- 										Programada -->
<!-- 									</span> -->
									<span class="badge quantitySuccess spanStatus labelCheck"
										ng-click="view.searchSomething = 'Deposito'">
										Depósito
									</span>
									
								 </div>
							   </div>
                        <div class="col-sm-4">
                            <div class="input-group filters">
                                <span class="input-group-addon">
                                    <i class="fa fa-filter"></i>
                                </span>
                                <input id="filterProducts" type="text"
                                    class="form-control"
                                    placeholder="Filtrar por..."
                                    ng-blur="validateFiltercode(array.filter)"
                                    ng-model="array.filter" />
                            </div>
                        </div>
                        
                    </div>
                </div>
            
                <div class="box-body">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-hover header-fixed">
										<thead>
											<tr>
												<th class="center">FOLIO MOVIMIENTO</th>
												<th class="center">AUTORIZADO POR</th>
												<th class="center">MOVIMIENTO</th>
												<th class="wrap-text">DESCRIPCIÓN</th>
												<th class="wrap-text">FECHA/HORA MOVIMIENTO</th>
												<th class="wrap-text">IMPORTE</th>
											</tr>
										</thead>
										<tbody>
											<tr dir-paginate="grp in lists.datoMovimiento | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
												<td  class="center"  ng-click="showModalDetail(grp)"> 
									                   <a>{{grp.flmovimiento}} </a>
												</td>
												<td class="center">{{grp.nbAutorizado}}</td>
												<td class="center">{{grp.nbMovimiento}}</td>
												<td class="center">{{grp.nbDescripcion}}</td>
												<td class="center">{{dateCurrent()}}</td>
												<td class="center">{{grp.importe}}</td>
												
											</tr>
											<tr class="ngShowEnter"
												ng-show="(lists.sucursales | filter:view.searchSomething).length < 1">
												<td colspan="6" class="text-center">
													<h4>No se encontraron coincidencias</h4>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="container-fluid">
									<div class="fixed-table-pagination" style="display: block;">
										<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething"
											array="lists.stockProduct"></rows-per-page>
										<div class="pull-right pagination">
											<dir-pagination-controls class="pagination"></dir-pagination-controls>
										</div>
									</div>
								</div>
							</div>


                </div>
            
                <div class="box-footer">
                    
                </div>
            </div>
        </div>

    </div>

</section>
</body>
</html>