
<html>
<meta charset="utf-8" />
<body>
<section class="content-header">
    <h1>{{ breadCrumbs.servicio }}</h1>

  

    <ol class="breadcrumb">
        <li>
            <a>
                <i class="{{breadCrumbs.icono}}"></i>{{ breadCrumbs.modulo }}
            </a>
        </li>
        <li class="active">{{ breadCrumbs.servicio }}</li>
    </ol>
</section>

<section class="content contentorders">

       <div class="row tabsorders">

        <div class="col-md-12">
            <div class="col-md-4 tabsorders-tabs noneSelectedUser" ng-class="{ 'active':tab.isActive }"
                ng-repeat="tab in lists.tabs track by $index" ng-click="toggleTab(tab)">
                <h4>{{ tab.nbTab }}</h4>
            </div>
        </div>

    </div>
   
   
    
    <div class="row centerCol">

        <div class="col-md-12 ngFadeIn" ng-if="flags.isSearchSucursal">

            <div class="box box-danger">

                <div class="box-body">
                    <div class="row">

                        <div class="col-md-4">

                            <fieldset>
                                <legend>
                                    SUCURSALES ACTIVOS
                                </legend>
                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-filter"></i>
                                    </span>
                                    <input id="filterReady1" type="text" class="form-control"
                                        placeholder="Filtrar por..." ng-model="array.filterReady1" />
                                </div>
                                <br>
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped header-fixed">
                                        <thead>
                                            <tr>
                                                <th class="center"># FOLIO</th>
                                                <th class="center">SUCURSAL</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                ng-repeat="ready in lists.datosuser | filter:array.filterReady1 track by $index">
                                                <td class="alignMiddle center">{{ ready.foliouser}}</td>
                                                <td class="alignMiddle center">{{ ready.nbTipoSucursal }}</td>
                                                <td class="alignMiddle center"> 
                                                    <button class="btn btn-danger btn-box-tool"
                                                        tooltip="Ver Empleados" tooltip-placement="left" ng-click="changeDatos(ready)">
                                                        <i class="fa fa-share"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="ngShowEnter"
                                                ng-show="(lists.ordersReady1 | filter:array.filterReady1).length < 1">
                                                <td colspan="6" class="text-center">
                                                    <h4>Sin coincidencias</h4>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>

                        </div>
                        <div class="col-md-4">

                            <fieldset>
                                <legend>
                                    EMPLEADOS
                                </legend>
                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-filter"></i>
                                    </span>
                                    <input id="filterReady" type="text" class="form-control"
                                        placeholder="Filtrar por..." ng-model="array.filterReady" />
                                </div>
                                <br>
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped header-fixed">
                                        <thead>
                                            <tr>
                                                <th class="center"># FOLIO</th>
                                                <th class="center">NOMBRE</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                ng-repeat="ready in lists.allEmpleados | filter:array.filterReady track by $index">
                                                <td class="alignMiddle center">{{ ready.foliouser}}</td>
                                                <td class="alignMiddle center">{{ ready.usuario}}</td>
                                                <td class="alignMiddle center">
                                                    <button class="btn btn-danger btn-box-tool"
                                                        tooltip="Pedido entregado" tooltip-placement="left"  ng-click="changeTicket(ready)">
                                                        <i class="fa fa-share"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="ngShowEnter"
                                                ng-show="(lists.ordersReady | filter:array.filterReady).length < 1">
                                                <td colspan="6" class="text-center">
                                                    <h4>Sin coincidencias</h4>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>

                        </div>
                        <div class="col-md-4">

                            <fieldset>
                                <legend>
                                    TICKETS REGISTRADOS
                                </legend>
                                <br>
                                                            <div class="col-md-12">
							<div class="col-md-5 " id="modif" >
								<div class="form-group">
									<label>Fecha Inicio:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-building"></i>
										</div>
										<input type="text" class="form-control inputFecha" date-picker
											ng-model="programarVO.fhInicio" readonly />
									</div>
								</div>
							</div>
							<div class="col-md-5" id="modif">
								<div class="form-group">
									<label>Fecha Fin:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-building"></i>
										</div>
										<input type="text" class="form-control inputFecha" date-picker
											ng-model="programarVO.fhFin" readonly />
									</div>
								</div>
							</div>
							<div class="col-md-2 ">
							    
									 <button class="btn btn-danger btn-sm "  id= "btn-search" sng-click="showModalVentasDia(grp)" ng-class="{ 'disabled':grp.nbStatuscorte == 'Cerrado', 'enabled':grp.nbStatuscorte =='Activo' }"
											                      tooltip="Buscar" tooltip-placement="left"> 
											                      <i class="fa fa-search"></i> 
 									</button> 
 								
                            </div>
							
							
							
							</div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-filter"></i>
                                    </span>
                                    <input id="filterPending" type="text" class="form-control"
                                        placeholder="Filtrar por..." ng-model="array.filterPending" />
                                </div>
                                <br>
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped header-fixed">
                                        <thead>
                                            <tr>
                                               <th class="center">FOLIO</th>
												<th class="center">F/H REGISTRO</th>
												<th class="wrap-text">TOTAL</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="grp in lists.detalleticket | orderBy:order:reverse | filter:view.searchsomething| itemsPerPage: view.rowsPerPage">
												<td  class="center"  ng-click="showModalDetail(grp)" > 
									                   <a>{{grp.detCantidad}}</a>
												</td>
												<td class="center">{{grp.detDescripcion}}</td>
												<td class="center text-right">$ {{grp.detimporte}}</td>
											</tr>
                                            <tr class="ngShowEnter"
                                                ng-show="(lists.ordersPending | filter:array.filterPending).length < 1">
                                                <td colspan="6" class="text-center">
                                                    <h4>Sin coincidencias</h4>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="container-fluid">
                                    <div class="fixed-table-pagination" style="display: block;">
                                        <rows-per-page rows="array.rowsPerPage" filtro="array.filterPending"
                                            array="lists.ordersPending"></rows-per-page>
                                        <div class="pull-right pagination">
                                            <dir-pagination-controls class="pagination" id-pagination="pendings">
                                            </dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                        </div>

                    </div>
                </div>
            </div>

        </div>        
        
        
        
        
        
        
        
<!--  c        -->
<!--    c      -->
        <div class="col-md-7" ng-if="flags.isOrderDay">
            <div class="box box-danger">
            
                <div class="box-header with-border text-center">
                    <h3 class="box-title">
                        Parámetros de búsqueda
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            
                <div class="box-body">
                    <div class="row centerRow">
                        
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Tipo de consulta:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-database"></i>
                                    </div>
                                    <select class="form-control" name="typeSearch" id="typeSearch" select2
                                        data-minimum-results-for-search="Infinity"
                                        idioma-s2="{{ currentLanguage }}"
                                        ng-model="searchVO.typeSearch"
                                        ng-options="tc as tc.nbTipoBusqueda for tc in lists.typeSearch track by tc.idTipoBusqueda">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="searchVO.typeSearch.cdTipoBusqueda === 'TD'">
                            <div class="form-group">
                                <label>Valor:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-product-hunt"></i>
                                    </div>
                                    <input type="text" class="form-control"
                                        ng-model="searchVO.value"
                                        ng-disabled="searchVO.typeSearch.cdTipoBusqueda === 'TD'" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="searchVO.typeSearch.cdTipoBusqueda === 'SC'">
                            <div class="form-group">
                                <label>Sucursales:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-product-hunt"></i>
                                    </div>
                                    <select class="form-control" id="datosuser" 
                                        data-minimum-results-for-search="Infinity"
                                        select2
                                        idioma-s2="{{ currentLanguage }}"
                                        ng-model="searchVO.datosuser"
                                        ng-options="tp as tp.nbTipoSucursal for tp in lists.datosuser track by tp.idTipoSucursal">
                                    </select>
                                </div>
                            </div>
                        </div>
                        
<!--                         <div class="col-md-5" ng-if="searchVO.typeSearch.cdTipoBusqueda === 'SC'"> -->
<!--                             <div class="form-group"> -->
<!--                                 <label>Tipo Consulta Sucursal:</label> -->
<!--                                 <div class="input-group"> -->
<!--                                     <div class="input-group-addon"> -->
<!--                                         <i class="fa fa-product-hunt"></i> -->
<!--                                     </div> -->
<!--                                     <select class="form-control" name="typeSearchDos" id="typeSearchDos" select2 -->
<!--                                         data-minimum-results-for-search="Infinity" -->
<!--                                         idioma-s2="{{ currentLanguage }}" -->
<!--                                         ng-model="searchVO.typeSearchDos" -->
<!--                                         ng-options="tc as tc.nbTipoBusqueda for tc in lists.typeSearchDos track by tc.idTipoBusqueda"> -->
<!--                                     </select> -->
<!--                                 </div> -->
<!--                             </div>                             -->
<!--                          </div> -->
                         
 <!-- v -->
<!--                         <div class="row centerRow col-md-12 " ng-if="searchVO.typeSearchDos.cdTipoBusqueda == 'FC'"> -->
<!-- 							<div class="col-md-6"> -->
<!-- 								<div class="form-group"> -->
<!-- 									<label>Fecha Inicio:</label> -->
<!-- 									<div class="input-group"> -->
<!-- 										<div class="input-group-addon"> -->
<!-- 											<i class="fa fa-building"></i> -->
<!-- 										</div> -->
<!-- 										<input type="text" class="form-control inputFecha" date-picker -->
<!-- 											ng-model="programarVO.fhInicioc" readonly /> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div class="col-md-6"> -->
<!-- 								<div class="form-group"> -->
<!-- 									<label>Fecha F:</label> -->
<!-- 									<div class="input-group"> -->
<!-- 										<div class="input-group-addon"> -->
<!-- 											<i class="fa fa-building"></i> -->
<!-- 										</div> -->
<!-- 										<input type="text" class="form-control inputFecha" date-picker -->
<!-- 											ng-model="programarVO.fhFinc" readonly /> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div>    -->
<!-- f -->
                         
                        <div class="col-md-6" ng-if="searchVO.typeSearch.cdTipoBusqueda === 'MV'">
                            <div class="form-group">
                                <label>Valor:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-product-hunt"></i>
                                    </div>
                                    <select class="form-control" name="typeSearchMov" id="typeSearchMov"
                                        data-minimum-results-for-search="Infinity"
                                        select2
                                        idioma-s2="{{ currentLanguage }}"
                                        ng-model="searchVO.typeSearchMov"
                                        ng-options="tp as tp.nbStatusMov for tp in lists.typeSearchMov track by tp.idTypeMov">
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6" ng-if="searchVO.typeSearch.cdTipoBusqueda == 'FC'">
							<div class="col-md-6">
								<div class="form-group">
									<label>Fecha Inicio:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-building"></i>
										</div>
										<input type="text" class="form-control inputFecha" date-picker
											ng-model="programarVO.fhInicio" readonly />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Fecha Fin:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-building"></i>
										</div>
										<input type="text" class="form-control inputFecha" date-picker
											ng-model="programarVO.fhFin" readonly />
									</div>
								</div>
							</div>
						</div>                        

                    </div>
                </div>
            
                <div class="box-footer">
                    <div class="row centerRow">
                        <button class="btn btn-danger" ng-click="searchResults()">
                            Buscar
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12" ng-if="flags.isOrderDay">
            <div class="box box-danger">
            
                <div class="box-header with-border">
                    <div class="row middleRow">
                        
                        <div class="col-sm-3">
                            <h3 class="box-title">
                                Movimientos encontrados: 
                                {{ (lists.stock | filter:array.filter).length | number }}
                            </h3>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-5">
                            <div class="input-group filters">
                                <span class="input-group-addon">
                                    <i class="fa fa-filter"></i>
                                </span>
                                <input id="filterProducts" type="text"
                                    class="form-control"
                                    placeholder="Filtrar por..."
                                    ng-blur="validateFiltercode(array.filter)"
                                    ng-model="array.filter" />
                            </div>
                        </div>
                        
                    </div>
                </div>
            
                <div class="box-body">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-hover header-fixed">
										<thead>
											<tr>
												<th class="center">FOLIO</th>
												<th class="center">CAJA</th>
												<th class="center">USUARIO</th>
												<th class="wrap-text">F/H APERTURA</th>
												<th class="wrap-text">APERTURA</th>
												<th class="wrap-text">F/H CIERRE</th>
												<th class="wrap-text">CIERRE</th>
											</tr>
										</thead>
										<tbody>
											<tr dir-paginate="grp in lists.datoMovimiento | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
												<td  class="center"  ng-click="showModalDetail(grp)"> 
									                   <a>{{grp.flmovimiento}} </a>
												</td>
												<td class="center">{{grp.cajaAsign}}</td>
												<td class="center">{{grp.nbAutorizado}}</td>
												<td class="center">{{grp.fcMovimiento}}</td>
												<td class="center">{{grp.importe}}</td>
												<td class="center">{{grp.fcMovimiento}}</td>
												<td class="center">{{grp.importe}}</td>
												
											</tr>
											<tr class="ngShowEnter"
												ng-show="(lists.sucursales | filter:view.searchSomething).length < 1">
												<td colspan="6" class="text-center">
													<h4>No se encontraron coincidencias</h4>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="container-fluid">
									<div class="fixed-table-pagination" style="display: block;">
										<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething"
											array="lists.stockProduct"></rows-per-page>
										<div class="pull-right pagination">
											<dir-pagination-controls class="pagination"></dir-pagination-controls>
										</div>
									</div>
								</div>
							</div>


                </div>
            
                <div class="box-footer">
                    
                </div>
            </div>
        </div>

    </div>

</section>
</body>
</html>