<div class="col-md-6 selection-icecream">
    
    <div class="row">

        <div class="col-md-12">
            <label>Tipo de café:</label>
        </div>
        <div class="col-md-6" ng-repeat="tcoffe in lists.typecoffe track by $index">
            <div class="inputGroup">
                <input id="{{ tcoffe.cdTipo }}" name="typecoffe" type="radio"
                    ng-change="changeType(models.typecoffe)"
                    ng-model="models.typecoffe" value="{{ tcoffe.cdTipo }}" />
                <label for="{{ tcoffe.cdTipo }}">{{ tcoffe.nbTipo }}</label>
            </div>
        </div>

    </div>

    <hr>

    <div class="row" ng-if="models.typecoffe === 'VS'">

        <div class="col-md-12">
            <label>Tamaño del café:</label>
        </div>
        <div class="col-md-6" ng-repeat="scoffe in lists.sizecoffe track by $index">
            <div class="inputGroup">
                <input id="{{ scoffe.cdCafe }}" name="sizecoffe" type="radio"
                    ng-change="changeSize(models.sizecoffe)"
                    ng-model="models.sizecoffe" value="{{ scoffe.cdCafe }}" />
                <label for="{{ scoffe.cdCafe }}">{{ scoffe.nbCafe }}</label>
            </div>
        </div>

    </div>

    <div class="row" ng-if="models.typecoffe === 'TZ'">

        <div class="col-md-12">
            <label>Tamaño del café:</label>
        </div>
        <div class="col-md-6" ng-repeat="scoffe in lists.sizecoffeExp track by $index">
            <div class="inputGroup">
                <input id="{{ scoffe.cdCafe }}" name="sizecoffeExp" type="radio"
                    ng-change="changeSize(models.sizecoffeExp)"
                    ng-model="models.sizecoffeExp" value="{{ scoffe.cdCafe }}" />
                <label for="{{ scoffe.cdCafe }}">{{ scoffe.nbCafe }}</label>
            </div>
        </div>

    </div>

    <div class="row" ng-if="models.typecoffe === 'VS' && models.sizecoffe">

        <div class="col-md-12">
            <div class="tastemain">
                <label>Sabor del café: <strong> {{ models.tastetext }}</strong></label>
                <div class="tasteicon" style="justify-content:start;">
                    <div ng-repeat="taste in lists.tastesVS"
                        tooltip="{{ taste.nbSabor }}" tooltip-placement="right">
                        <label class="tastemove"
                            ng-click="selecTasteCafe(taste,'normal')"
                            ng-class="{ 'active':taste.isActive }"
                            ng-style="{ 'background-color': taste.colorsup }">
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row" ng-if="models.typecoffe === 'TZ'">

        <div class="col-md-12">
            <label>Sabor del café:</label>
        </div>
        <div class="col-md-6" ng-repeat="tcoffe in lists.tastesTZ track by $index">
            <div class="inputGroup">
                <input id="{{ tcoffe.cdSabor }}" name="tastecoffe" type="radio"
                    ng-change="selecTasteCafe(tcoffe,'espresso')"
                    ng-model="models.tastecoffe" value="{{ tcoffe.cdSabor }}" />
                <label for="{{ tcoffe.cdSabor }}">{{ tcoffe.nbSabor }}</label>
            </div>
        </div>

    </div>

</div>

<div class="col-md-6 detailstock-product">

    <div class="row">

        <div class="col-md-12">
            <div ng-if="!models.typecoffe" class="basecono">
                <div>
                    <img height="142px" style="padding-right:1.5rem;border-right:1px solid;"
                        src="static/dist/img/svg/cafes/cafe-chico.svg" />
                    <img height="142px" style="padding-left:1.5rem;"
                        src="static/dist/img/svg/cafes/cafe-sencillo.svg" />
                </div>
                <i style="margin-left: -3rem;">
                    Comience seleccionando el tipo de café
                </i>
            </div>

            <div ng-if="models.typecoffe === 'VS' && !models.sizecoffe" class="basecono">
                <img height="142px"
                    src="static/dist/img/svg/cafes/cafe-chico.svg" />
            </div>
            <div ng-if="models.typecoffe === 'TZ' && !models.sizecoffeExp" class="basecono">
                <img height="142px"
                    src="static/dist/img/svg/cafes/cafe-sencillo.svg" />
            </div>


            <div ng-if="models.sizecoffe === 'CH' && models.typecoffe === 'VS'">
                <img class="svgproduct"
                    ng-src="static/dist/img/svg/cafes/cafe-chico.svg"
                    onload="SVGInject(this)" />
            </div>
            <div ng-if="models.sizecoffe === 'GR' && models.typecoffe === 'VS'">
                <img class="svgproduct"
                    ng-src="static/dist/img/svg/cafes/cafe-grande.svg"
                    onload="SVGInject(this)" />
            </div>
            <div ng-if="models.sizecoffeExp === 'SN' && models.typecoffe === 'TZ'">
                <img class="svgproduct"
                    ng-src="static/dist/img/svg/cafes/cafe-sencillo.svg"
                    onload="SVGInject(this)" />
            </div>
            <div ng-if="models.sizecoffeExp === 'DB' && models.typecoffe === 'TZ'">
                <img class="svgproduct"
                    ng-src="static/dist/img/svg/cafes/cafe-doble.svg"
                    onload="SVGInject(this)" />
            </div>
                
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
        
                    <div class="detailproduct-body__pay">
                        <label class="price">
                            $ {{ models.priceCoffe }}
                        </label>
                        <div class="typepay">
                            <span>Efectivo</span>
                            <i class="fa fa-cc-visa" style="color:#0D47A1"></i>
                            <i class="fa fa-cc-mastercard" style="color:#FF6F00"></i>
                            <i class="fa fa-cc-amex" style="color:#00BCD4"></i>
                        </div>
                    </div>
        
                </div>
        
            </div>
        
            <div class="row">
        
                <div class="col-md-12 detailproduct-body__btn">
                    <a class="btn"
                        ng-click="addTocarCoffe()"
                        ng-disabled="models.tastetext === ''">
                        Agregar al carrito
                    </a>
                    <a class="btn btn-danger"
                        ng-click="addTocarCoffe();toPay(shoppingcar.listProducts)"
                        ng-disabled="models.tastetext === ''">
                        Pagar
                    </a>
                </div>
        
            </div>
        </div>

    </div>

</div>