
<div class="col-md-6 selection-icecream">
    <div class="row">
        <div class="col-md-12">
            <label>Tamaño del frappe:</label>
        </div>
        <div class="col-md-6" ng-repeat="frappe in lists.sizefrappe track by $index">
            <div class="inputGroup">
                <input id="{{ frappe.cdFrappe }}" name="sizefrappe" type="radio"
                    ng-change="changeSize(frappe)"
                    ng-model="models.sizefrappe" value="{{ frappe.cdFrappe }}" />
                <label for="{{ frappe.cdFrappe }}">{{ frappe.nbFrappe }}</label>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">

        <div class="col-md-12">

            <div class="tastemain" ng-if="!models.sizefrappe">
                <label>Sabor del frappe: </label>
                <div class="tasteicon">
                    <div ng-repeat="taste in lists.tastes">
                        <label style="background-color: #e2e2e2;">
                        </label>
                    </div>
                </div>
            </div>

            <div class="tastemain" ng-if="models.sizefrappe">
                <label>Sabor del frappe: <strong> {{ models.tastetext }}</strong></label>
                <div class="tasteicon">
                    <div ng-repeat="taste in lists.tastes"
                        tooltip="{{ taste.nbSabor }}"
                        tooltip-placement="right">
                        <label ng-click="selecTasteFrappe(taste)"
                            ng-class="{ 'active':taste.isActive }"
                            ng-style="{ 'background-color': taste.color }">
                        </label>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <hr>

    <div class="row">

        <div class="col-md-4">
            <div class="inputGroup">
                <input id="chispas" name="chispas" type="checkbox"
                    ng-model="models.chispas"
                    ng-disabled="!models.sizefrappe"
                    ng-change="toggleToppingFrappe('chispas',models.chispas)" />
                <label for="chispas">Chispas</label>
            </div>
        </div>

        <div class="col-md-4">
            <div class="inputGroup">
                <input id="lunetas" name="lunetas" type="checkbox"
                    ng-model="models.lunetas"
                    ng-disabled="!models.sizefrappe"
                    ng-change="toggleToppingFrappe('lunetas',models.lunetas)" />
                <label for="lunetas">Lunetas</label>
            </div>
        </div>

        <div class="col-md-4">
            <div class="inputGroup">
                <input id="oreos" name="oreo" type="checkbox"
                    ng-model="models.oreos"
                    ng-disabled="!models.sizefrappe"
                    ng-change="toggleToppingFrappe('oreos',models.oreos)" />
                <label for="oreos">Oreos</label>
            </div>
        </div>

    </div>

</div>

<div class="col-md-6 detailstock-product">

    <div class="row">

        <div class="col-md-12">
            <div ng-if="!models.sizefrappe" class="basecono">
                <img height="142px"
                    src="static/dist/img/svg/bases/frappe.svg" />
                <i>Comience seleccionando el tamaño del frappe</i>
            </div>

            <div ng-if="models.sizefrappe === 'MD'">
                <img class="svgproduct"
                    ng-src="static/dist/img/svg/frappes/frappe-mediano.svg"
                    onload="SVGInject(this)" />
            </div>

            <div ng-if="models.sizefrappe === 'GR'">
                <img class="svgproduct"
                    ng-src="static/dist/img/svg/frappes/frappe-grande.svg"
                    onload="SVGInject(this)" />
            </div>
                
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
        
                    <div class="detailproduct-body__pay">
                        <label class="price">
                            $ {{ models.priceFrappe }}
                        </label>
                        <div class="typepay">
                            <span>Efectivo</span>
                            <i class="fa fa-cc-visa" style="color:#0D47A1"></i>
                            <i class="fa fa-cc-mastercard" style="color:#FF6F00"></i>
                            <i class="fa fa-cc-amex" style="color:#00BCD4"></i>
                        </div>
                    </div>
        
                </div>
        
            </div>
        
            <div class="row">
        
                <div class="col-md-12 detailproduct-body__btn">
                    <a class="btn"
                        ng-click="addTocarFrappe()"
                        ng-disabled="!models.tastetext">
                        Agregar al carrito
                    </a>
                    <a class="btn btn-danger"
                        ng-click="addTocarFrappe();toPay(shoppingcar.listProducts)"
                        ng-disabled="!models.tastetext">
                        Pagar
                    </a>
                </div>
        
            </div>
        </div>

    </div>

</div>
    
    
    