
<div class="col-md-6 selection-icecream">
    <div class="row">

        <div class="col-md-12">
            <div class="form-group">
                <label>Base del helado:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-cubes"></i>
                    </div>
                    <select name="base" id="base"
                        select2
                        ng-model="models.base"
                        ng-change="changeBase(models.base,models.tipoHelado)"
                        ng-options="bs as bs.nbBase for bs in lists.bases track by bs.idBase">
                        <option value="">Seleccione una opción</option>

                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-12">

            <div class="row">

                <div class="col-md-4" ng-repeat="ice in lists.gourmetices track by $index">
                    <div class="inputGroup">
                        <input id="{{ ice.cdHelado }}" name="typeice" type="radio"
                            ng-disabled="!models.base"
                            ng-change="viewTastes(models.tipoHelado,ice)"
                            ng-model="models.tipoHelado" value="{{ ice.cdHelado }}" />
                        <label for="{{ ice.cdHelado }}">{{ ice.nbHelado }}</label>
                    </div>
                </div>

            </div>
            
        </div>
    </div>

    <hr>

    <div class="row">

        <div class="col-md-12">

            <div ng-if="!lists.tasteone">
                <div class="tastemain">
                    <label>Sabor del helado</label>
                    <div>
                        <div class="tasteicon">
                            <label ng-click="selecTaste(taste)"
                                ng-disabled="true"
                                ng-style="{ 'background-color': taste.color }"
                                ng-repeat="taste in lists.tastes">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tastemain" ng-if="lists.tasteone">
                <label>Sabor bola 1: <strong> {{ models.tasteone }}</strong></label>
                <div class="tasteicon">
                    <div ng-repeat="taste in lists.tasteone"
                        tooltip="{{ taste.nbSabor }}" tooltip-placement="right">
                        <label class="tastemove"
                            ng-click="selecTaste(taste,'one')"
                            ng-class="{ 'active':taste.isActive }"
                            ng-style="{ 'background-color': taste.color }">
                        </label>
                    </div>
                </div>
            </div>
            <div class="tastemain" ng-if="lists.tastetwo">
                <label>Sabor bola 2: <strong> {{ models.tastetwo }}</strong></label>
                <div class="tasteicon">
                    <div ng-repeat="taste in lists.tastetwo"
                        tooltip="{{ taste.nbSabor }}" tooltip-placement="right">
                        <label class="tastemove"
                            ng-click="selecTaste(taste,'two')"
                            ng-class="{ 'active':taste.isActive }"
                            ng-style="{ 'background-color': taste.color }">
                        </label>
                    </div>
                </div>
            </div>
            <div class="tastemain" ng-if="lists.tastethree">
                <label>Sabor bola 3: <strong> {{ models.tastethree }}</strong></label>
                <div class="tasteicon">
                    <div ng-repeat="taste in lists.tastethree"
                        tooltip="{{ taste.nbSabor }}" tooltip-placement="right">
                        <label class="tastemove"
                            ng-click="selecTaste(taste,'three')"
                            ng-class="{ 'active':taste.isActive }"
                            ng-style="{ 'background-color': taste.color }">
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <hr>

    <div class="row">

        <div class="col-md-4">
            <div class="inputGroup">
                <input id="chispas" name="chispas" type="checkbox"
                    ng-model="models.chispas"
                    ng-disabled="!models.tipoHelado"
                    ng-change="toggleTopping('chispas',models.chispas)" />
                <label for="chispas">Chispas</label>
            </div>
        </div>

        <div class="col-md-4">
            <div class="inputGroup">
                <input id="lunetas" name="lunetas" type="checkbox"
                    ng-model="models.lunetas"
                    ng-disabled="!models.tipoHelado"
                    ng-change="toggleTopping('lunetas',models.lunetas)" />
                <label for="lunetas">Lunetas</label>
            </div>
        </div>

        <div class="col-md-4">
            <div class="inputGroup">
                <input id="oreos" name="oreo" type="checkbox"
                    ng-model="models.oreos"
                    ng-disabled="!models.tipoHelado"
                    ng-change="toggleTopping('oreos',models.oreos)" />
                <label for="oreos">Oreos</label>
            </div>
        </div>

    </div>

</div>

<div class="col-md-6 detailstock-product">

    <div class="row">

        <div class="col-md-12">
            <div ng-if="!models.base" class="basecono">
                <img height="142px"
                    src="static/dist/img/svg/bases/basecono.svg" />
                <i>Comience seleccionando la base del helado</i>
            </div>

            <div ng-if="models.base">

                <img class="svgproduct"
                    ng-if="!models.tipoHelado"
                    ng-src="{{ models.base.blImg }}" />

                <div ng-if="models.base.cdBase === 'BQS'">
                    
                    <div ng-if="models.tipoHelado === 'sencillo'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/barquillo-sencillo.svg"
                            onload="SVGInject(this)" />
                    </div>

                    <div ng-if="models.tipoHelado === 'doble'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/barquillo-doble.svg"
                            onload="SVGInject(this)" />
                    </div>

                    <div ng-if="models.tipoHelado === 'triple'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/barquillo-triple.svg"
                            onload="SVGInject(this)" />
                    </div>
                    
                </div>

                <div ng-if="models.base.cdBase === 'BQV'">
                    
                    <div ng-if="models.tipoHelado === 'sencillo'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/barquillo-vainilla-sencillo.svg"
                            onload="SVGInject(this)" />
                    </div>

                    <div ng-if="models.tipoHelado === 'doble'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/barquillo-vainilla-doble.svg"
                            onload="SVGInject(this)" />
                    </div>

                    <div ng-if="models.tipoHelado === 'triple'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/barquillo-vainilla-triple.svg"
                            onload="SVGInject(this)" />
                    </div>
                    
                </div>

                <div ng-if="models.base.cdBase === 'BQC'">
                    
                    <div ng-if="models.tipoHelado === 'sencillo'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/barquillo-chocolate-sencillo.svg"
                            onload="SVGInject(this)" />
                    </div>

                    <div ng-if="models.tipoHelado === 'doble'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/barquillo-chocolate-doble.svg"
                            onload="SVGInject(this)" />
                    </div>

                    <div ng-if="models.tipoHelado === 'triple'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/barquillo-chocolate-triple.svg"
                            onload="SVGInject(this)" />
                    </div>
                    
                </div>

                <div ng-if="models.base.cdBase === 'BQW'">
                    
                    <div ng-if="models.tipoHelado === 'sencillo'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/barquillo-waffle-sencillo.svg"
                            onload="SVGInject(this)" />
                    </div>

                    <div ng-if="models.tipoHelado === 'doble'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/barquillo-waffle-doble.svg"
                            onload="SVGInject(this)" />
                    </div>

                    <div ng-if="models.tipoHelado === 'triple'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/barquillo-waffle-triple.svg"
                            onload="SVGInject(this)" />
                    </div>
                    
                </div>

                <div ng-if="models.base.cdBase === 'BWC'">
                    
                    <div ng-if="models.tipoHelado === 'sencillo'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/barquillo-wafflechoco-sencillo.svg"
                            onload="SVGInject(this)" />
                    </div>

                    <div ng-if="models.tipoHelado === 'doble'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/barquillo-wafflechoco-doble.svg"
                            onload="SVGInject(this)" />
                    </div>

                    <div ng-if="models.tipoHelado === 'triple'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/barquillo-wafflechoco-triple.svg"
                            onload="SVGInject(this)" />
                    </div>
                    
                </div>

                <div ng-if="models.base.cdBase === 'CNW'">
                    
                    <div ng-if="models.tipoHelado === 'sencillo'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/canasta-waffle-sencillo.svg"
                            onload="SVGInject(this)" />
                    </div>

                    <div ng-if="models.tipoHelado === 'doble'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/canasta-waffle-doble.svg"
                            onload="SVGInject(this)" />
                    </div>

                    <div ng-if="models.tipoHelado === 'triple'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/canasta-waffle-triple.svg"
                            onload="SVGInject(this)" />
                    </div>
                    
                </div>

                <div ng-if="models.base.cdBase === 'CWC'">
                    
                    <div ng-if="models.tipoHelado === 'sencillo'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/canasta-wafflechoco-sencillo.svg"
                            onload="SVGInject(this)" />
                    </div>

                    <div ng-if="models.tipoHelado === 'doble'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/canasta-wafflechoco-doble.svg"
                            onload="SVGInject(this)" />
                    </div>

                    <div ng-if="models.tipoHelado === 'triple'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/canasta-wafflechoco-triple.svg"
                            onload="SVGInject(this)" />
                    </div>
                    
                </div>

                <div ng-if="models.base.cdBase === 'VAS'">
                    
                    <div ng-if="models.tipoHelado === 'sencillo'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/vaso-sencillo.svg"
                            onload="SVGInject(this)" />
                    </div>

                    <div ng-if="models.tipoHelado === 'doble'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/vaso-doble.svg"
                            onload="SVGInject(this)" />
                    </div>

                    <div ng-if="models.tipoHelado === 'triple'">
                        <img class="svgproduct"
                            ng-src="static/dist/img/svg/vaso-triple.svg"
                            onload="SVGInject(this)" />
                    </div>
                    
                </div>
                {{ models.img }}
            </div>
                
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
        
                    <div class="detailproduct-body__pay">
                        <label class="price">
                            $ {{ models.priceIce }}
                        </label>
                        <div class="typepay">
                            <span>Efectivo</span>
                            <i class="fa fa-cc-visa" style="color:#0D47A1"></i>
                            <i class="fa fa-cc-mastercard" style="color:#FF6F00"></i>
                            <i class="fa fa-cc-amex" style="color:#00BCD4"></i>
                        </div>
                    </div>
        
                </div>
        
            </div>
        
            <div class="row">
        
                <div class="col-md-12 detailproduct-body__btn">
                    <a class="btn"
                        ng-click="addTocar()"
                        ng-disabled="!models.tipoHelado">
                        Agregar al carrito
                    </a>
                    <a class="btn btn-danger"
                        ng-click="addTocar();toPay(shoppingcar.listProducts)"
                        ng-disabled="!models.tipoHelado">
                        Pagar
                    </a>
                </div>
        
            </div>
        </div>

    </div>

</div>


