<div class="col-md-6 selection-icecream">
    
    <div class="row">

        <div class="col-md-12">
            <label>Tipo de malteada:</label>
        </div>
        <div class="col-md-6" ng-repeat="tmilk in lists.typemilkchakes track by $index">
            <div class="inputGroup">
                <input id="{{ tmilk.cdTipo }}" name="typemilk" type="radio"
                    ng-change="changeType(models.typeMilkchake,tmilk)"
                    ng-model="models.typeMilkchake" value="{{ tmilk.cdTipo }}" />
                <label for="{{ tmilk.cdTipo }}">{{ tmilk.nbTipo }}</label>
            </div>
        </div>

    </div>

    <hr>

    <div class="row">

        <div class="col-md-12">
            <label>Tamaño de la malteada:</label>
        </div>
        <div class="col-md-6" ng-repeat="milk in lists.sizemilkchakes track by $index">
            <div class="inputGroup">
                <input id="{{ milk.cdMalteada }}" name="sizemilk" type="radio"
                    ng-change="changeSize(models.sizeMilkchake,milk)"
                    ng-disabled="!models.typeMilkchake"
                    ng-model="models.sizeMilkchake" value="{{ milk.cdMalteada }}" />
                <label for="{{ milk.cdMalteada }}">{{ milk.nbMalteada }}</label>
            </div>
        </div>

    </div>

    <hr>

    <div class="row">

        <div class="col-md-12">

            <div class="tastemain" ng-if="models.sizeMilkchake">
                <label>Sabor de la malteada: <strong> {{ models.tastetext }}</strong></label>

                <div class="tasteicon" ng-if="models.typeMilkchake==='TD'"
                    style="justify-content:start;">
                    <div ng-repeat="taste in lists.tastesTD"
                        tooltip="{{ taste.nbSabor }}" tooltip-placement="right">
                        <label class="tastemove"
                            ng-click="selecTasteMilkchake(taste,'TD')"
                            ng-class="{ 'active':taste.isActive }"
                            ng-style="{ 'background-color': taste.colorsup }">
                        </label>
                    </div>
                </div>

                <div class="tasteicon" ng-if="models.typeMilkchake==='GM'"
                    style="justify-content:start;">
                    <div ng-repeat="taste in lists.tastesGM"
                        tooltip="{{ taste.nbSabor }}" tooltip-placement="right">
                        <label class="tastemove"
                            ng-click="selecTasteMilkchake(taste,'GM')"
                            ng-class="{ 'active':taste.isActive }"
                            ng-style="{ 'background-color': taste.colorsup }">
                        </label>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="col-md-6 detailstock-product">

    <div class="row">

        <div class="col-md-12">
            <div ng-if="!models.sizeMilkchake" class="basecono">
                <img height="142px"
                    src="static/dist/img/svg/malteada/malteada.svg" />
                <i>Comience seleccionando el tipo de paleta</i>
            </div>


            <div ng-if="models.sizeMilkchake">
                
                <img class="svgproduct"
                    ng-src="static/dist/img/svg/malteada/malteada.svg"
                    onload="SVGInject(this)" />
                
            </div>
                
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
        
                    <div class="detailproduct-body__pay">
                        <label class="price">
                            $ {{ models.priceMilkchake }}
                        </label>
                        <div class="typepay">
                            <span>Efectivo</span>
                            <i class="fa fa-cc-visa" style="color:#0D47A1"></i>
                            <i class="fa fa-cc-mastercard" style="color:#FF6F00"></i>
                            <i class="fa fa-cc-amex" style="color:#00BCD4"></i>
                        </div>
                    </div>
        
                </div>
        
            </div>
        
            <div class="row">
        
                <div class="col-md-12 detailproduct-body__btn">
                    <a class="btn"
                        ng-click="addTocarMilkchake()"
                        ng-disabled="models.tastetext === ''">
                        Agregar al carrito
                    </a>
                    <a class="btn btn-danger"
                        ng-click="addTocarMilkchake();toPay(shoppingcar.listProducts)"
                        ng-disabled="models.tastetext === ''">
                        Pagar
                    </a>
                </div>
        
            </div>
        </div>

    </div>

</div>