
<div class="col-md-6 selection-icecream">
    <div class="row">

        <div class="col-md-12">
            <div class="form-group">
                <label>Tipo de paleta:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-cubes"></i>
                    </div>
                    <select name="typepallete" id="typepallete"
                        select2
                        ng-model="models.typepallete"
                        ng-change="changePallete(models.typepallete)"
                        ng-options="tp as tp.nbPaleta for tp in lists.typepallete track by tp.idPaleta">
                        <option value="">Seleccione una opción</option>

                    </select>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">

        <div class="col-md-12">

            <div ng-if="!models.typepallete">
                <div class="tastemain">
                    <label>Sabor de la paleta</label>
                    <div>
                        <div class="tasteicon">
                            <label ng-click="selecTaste(taste)"
                                ng-disabled="true"
                                ng-style="{ 'background-color': taste.colorsup }"
                                ng-repeat="taste in lists.tastescream">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tastemain" ng-if="models.typepallete.cdPaleta === 'LPZ'">
                <label>Sabor de la paleta: <strong> {{ models.tastetext }}</strong></label>
                <div class="tasteicon" style="justify-content:start;">
                    <div ng-repeat="taste in lists.tastespencil"
                        tooltip="{{ taste.nbSabor }}" tooltip-placement="right">
                        <label class="tastemove"
                            ng-click="selecTastePallete(taste,'pencil')"
                            ng-class="{ 'active':taste.isActive }"
                            ng-style="{ 'background-color': taste.colorsup }">
                        </label>
                    </div>
                </div>
            </div>

            <div class="tastemain" ng-if="models.typepallete.cdPaleta === 'CRM'">
                <label>Sabor de la paleta: <strong> {{ models.tastetext }}</strong></label>
                <div class="tasteicon">
                    <div ng-repeat="taste in lists.tastescream"
                        tooltip="{{ taste.nbSabor }}" tooltip-placement="right">
                        <label class="tastemove"
                            ng-click="selecTastePallete(taste,'cream')"
                            ng-class="{ 'active':taste.isActive }"
                            ng-style="{ 'background-color': taste.colorsup }">
                        </label>
                    </div>
                </div>
            </div>

            <div class="tastemain" ng-if="models.typepallete.cdPaleta === 'AGA'">
                <label>Sabor de la paleta: <strong> {{ models.tastetext }}</strong></label>
                <div class="tasteicon">
                    <div ng-repeat="taste in lists.tasteswater"
                        tooltip="{{ taste.nbSabor }}" tooltip-placement="right">
                        <label class="tastemove"
                            ng-click="selecTastePallete(taste,'water')"
                            ng-class="{ 'active':taste.isActive }"
                            ng-style="{ 'background-color': taste.colorsup }">
                        </label>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="col-md-6 detailstock-product">

    <div class="row">

        <div class="col-md-12">
            <div ng-if="!models.typepallete" class="basecono">
                <img height="142px"
                    src="static/dist/img/svg/paletas/paleta-normal.svg" />
                <i>Comience seleccionando el tipo de paleta</i>
            </div>

            <div ng-if="models.typepallete">

                <div ng-if="models.typepallete.cdPaleta === 'LPZ'">
                    
                    <img class="svgproduct"
                        ng-src="static/dist/img/svg/paletas/paleta-lapiz.svg"
                        onload="SVGInject(this)" />
                    
                </div>

                <div ng-if="models.typepallete.cdPaleta !== 'LPZ'">
                    
                    <img class="svgproduct"
                        ng-src="static/dist/img/svg/paletas/paleta-normal.svg"
                        onload="SVGInject(this)" />
                    
                </div>

            </div>
                
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
        
                    <div class="detailproduct-body__pay">
                        <label class="price">
                            $ {{ models.pricePallete }}
                        </label>
                        <div class="typepay">
                            <span>Efectivo</span>
                            <i class="fa fa-cc-visa" style="color:#0D47A1"></i>
                            <i class="fa fa-cc-mastercard" style="color:#FF6F00"></i>
                            <i class="fa fa-cc-amex" style="color:#00BCD4"></i>
                        </div>
                    </div>
        
                </div>
        
            </div>
        
            <div class="row">
        
                <div class="col-md-12 detailproduct-body__btn">
                    <a class="btn"
                        ng-click="addTocarPallete()"
                        ng-disabled="!models.typepallete">
                        Agregar al carrito
                    </a>
                    <a class="btn btn-danger"
                        ng-click="addTocarPallete();toPay(shoppingcar.listProducts)"
                        ng-disabled="!models.typepallete">
                        Pagar
                    </a>
                </div>
        
            </div>
        </div>

    </div>

</div>


