<!-- <div class="box"> -->

    <!-- <div class="box-body"> -->
        <div class="row customain opacitynone">
            <div class="col-md-12">
                <slick ng-if="flags.readymain" data="flags.readymain" infinite="false"
                    slides-to-show="4" slides-to-scroll="4" dots="true">
            
                    <div ng-repeat="main in lists.mainStock"
                        class="mainstock-product" ng-class="{ 'active':main.isActive }"
                        ng-style="{
                            'width':main.nuSize,
                            'background-color':main.bgColor,
                            'color':main.color
                        }"
                        ng-click="viewProduct(main)">
                
                        <img class="mainstock-product__img" data-lazy="{{ main.lbImagen }}" />
                        <h3 class="mainstock-product__name">
                            {{ main.nbTipoProducto }}
                        </h3>
                    </div>
                
                </slick>
            </div>
        </div>
    <!-- </div> -->

<!-- </div> -->
