<section class="content-header">
	<h1>Existencia en Almacén</h1>
	<ol class="breadcrumb">
		<li>
			<a>
				<i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a>
		</li>
		<li class="active">{{breadCrumbs.servicio}}</li>
	</ol>
</section>
<section class="content">
	<form name="stockWarehouse" novalidate>
		<div class="row centerCol">
			<div class="col-md-8">
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<h3 class="box-title">Parámetros de búsqueda</h3>
						<div class="box-tools pull-right">
							<button class="btn btn-box-tool" type="button" id="btnAlmacen" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Tipo de Consulta:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-database"></i>
										</div>
										<select class="form-control" name="typeSearch" id="typeSearch" select2
											data-minimum-results-for-search="Infinity" idioma-s2="{{ currentLanguage }}"
											ng-model="searchVO.typeSearch" ng-change="updateValue(searchVO.typeSearch)"
											ng-options="tc as tc.nbTipoBusqueda for tc in lists.typeSearch track by tc.idTipoBusqueda">
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6" ng-if="searchVO.typeSearch.cdTipoBusqueda !== 'TP'">
								<div class="form-group">
									<label>Valor:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-product-hunt"></i>
										</div>
										<input type="text" class="form-control" ng-model="searchVO.value"
											ng-disabled="searchVO.typeSearch.cdTipoBusqueda === 'TD'" />
									</div>
								</div>
							</div>
							<div class="col-md-6" ng-if="searchVO.typeSearch.cdTipoBusqueda === 'TP'">
								<div class="form-group">
									<label>Valor:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-product-hunt"></i>
										</div>
										<select name="typeProduct" id="typeProduct" class="form-control" select2
											idioma-s2="{{ currentLanguage }}" ng-model="searchVO.typeProduct"
											ng-options="tp as tp.nbTipoProducto for tp in lists.typeProduct track by tp.idTipoProducto">
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<div class="row centerRow">
							<button class="btn btn-danger"
								ng-click="filterProducts(searchVO.typeSearch, searchVO.typeProduct, searchVO.value)">
								Buscar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs preventClic">
					<li role="presentation" class="tabBox item" ng-class="{ 'active border-box':flags.isMosaic}"
						ng-disabled="flags.isLot && searchVO.typeSearch.cdTipoBusqueda =='LOT'">
						<a ng-click="toggleViewtab('m')">Mosaico</a>
					</li>
					<li role="presentation" class="tabBox item" ng-class="{ 'active border-box':flags.isList}"
						ng-disabled="flags.isLot && searchVO.typeSearch.cdTipoBusqueda =='LOT'">
						<a ng-click="toggleViewtab('l')">Lista</a>
					</li>
					<li ng-if="flags.isLot && searchVO.typeSearch.cdTipoBusqueda =='LOT'" role="presentation"
						class="tabBox item" ng-class="{ 'active border-box':flags.isLot}">
						<a ng-click="toggleViewtab('lot')">Lotes</a>
					</li>
					<li ng-if="lists.listProductRequest.length > 0" role="presentation"
						ng-disabled="flags.isLot && searchVO.typeSearch.cdTipoBusqueda =='LOT'" class="tabBox item"
						ng-class="{ 'active border-box':flags.isRequestTab}">
						<a ng-click="toggleViewtab('sol')">Solicitud</a>
					</li>

					<li role="presentation" class="tabBox pull-right">
						<div class="input-group">
							<switcher class="" id-check="viewMode" ng-model="searchVO.viewMode"
								ng-disabled="flags.isLot && searchVO.typeSearch.cdTipoBusqueda =='LOT'"
								ng-change="modeOldWarehouse(newValue,oldValue)" false-label="Estatus"
								false-value="'status'" true-label="Antigüedad" true-value="'antique'">
							</switcher>
						</div>
					</li>
				</ul>
				<div class="box box-danger">
					<div class="box-header with-border">
						<div class="row middleRow">
							<div class="col-sm-3">
								<h4
									ng-if="!flags.isLot && !flags.isRequestTab && searchVO.typeSearch.cdTipoBusqueda !='LOT'">
									Registros
									encontrados:
									{{(lists.stockProduct | filter:view.searchSomething).length | number}}</h4>

								<h4 ng-if="flags.isLot && searchVO.typeSearch.cdTipoBusqueda =='LOT'">Lotes encontrados:
									{{(lists.productLot | filter:view.searchSomething).length | number}}</h4>

								<h4
									ng-if="!flags.isLot && flags.isRequestTab && searchVO.typeSearch.cdTipoBusqueda !='LOT'">
									Solicitudes:
									{{(lists.listProductRequest | filter:view.searchSomething).length | number}}</h4>



							</div>
							<div class="col-sm-5 ngShowEnter"
								ng-show="searchVO.viewMode != 'antique' && !flags.isLot && !flags.isRequestTab">
								<div class="row centerRow">
									<span class="badge spanStatus allStatus labelCheck"
										ng-click="view.searchSomething = ''">
										Todos
									</span>
									<span class="badge quantityExcedente spanStatus labelCheck"
										ng-click="view.searchSomething = 'Excedente'">
										Excedente
									</span>
									<span class="badge quantitySuccess spanStatus labelCheck"
										ng-click="view.searchSomething = 'Suficiente'">
										Suficiente
									</span>
									<span class="badge quantityWarning spanStatus labelCheck"
										ng-click="view.searchSomething = 'Por agotarse'">
										Por agotarse
									</span>
									<span class="badge quantityEmpty spanStatus labelCheck"
										ng-click="view.searchSomething = 'Agotado'">
										Agotado
									</span>
								</div>
							</div>

							<div class="col-md-5 ngShowEnter"
								ng-show="searchVO.viewMode == 'antique' && !flags.isLot && !flags.isRequestTab">
								<rzslider rz-slider-model="slider.value" rz-slider-options="slider.options">
								</rzslider>
							</div>
							<div class="col-md-5" ng-show="flags.isLot && !flags.isRequestTab">
								<div class="input-group">
								</div>
							</div>

							<div class="col-md-5" ng-show="flags.isRequestTab">
								<div class="row centerRow" ng-if="lists.listProductRequest.length > 0">
									<button class="btn btn-danger" ng-click="sendAllRequest(lists.listProductRequest)">
										Enviar Todos
									</button>
								</div>
							</div>

							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-search"></i>
									</span>
									<input id="searchsomething" type="text" class="form-control"
										placeholder="Filtrar por" ng-model="view.searchSomething"
										ng-model-options="{debounce: 500}" />
									<span class="input-group-addon labelCheck" ng-click="" tooltip="Descargar reporte"
										placement="top">
										<img src="static/dist/img/excel.png" class="img-xs" />
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="box-body ngShowEnter" ng-show="flags.isRequestTab">
						<div class="row ngOnlyEnter">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-hover header-fixed">
										<thead>
											<tr>
												<th class="center">SUCURSAL</th>
												<th class="center">PRODUCTO</th>
												<th class="center">PRIORIDAD</th>
												<th class="center">SOLICITANTE</th>
												<th class="center">U/M</th>
												<th class="center">CANTIDAD</th>
												<!-- <th class="center">DESCRIPCIÓN</th> -->
												<th class="center">EDITAR</th>
												<th class="center">QUITAR</th>
											</tr>
										</thead>
										<tbody>
											<tr
												dir-paginate="cta in lists.listProductRequest | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
												<td class="center">
													<a>{{cta.nbSucursalMatriz}}</a>
												</td>
												<td class="center">{{cta.nbProducto}}</td>
												<td class="center">{{cta.tpPrioridadVO.nbPrioridad}}</td>
												<td class="center">{{cta.nbSolicitante}}</td>
												<td class="center">{{cta.tpUnidadMedidaVO.nbUnidadMedida}}</td>
												<td class="center">{{cta.nuCantidad}}</td>
												<!-- <td class="center">{{cta.txDescripcion}}</td> -->

												<td class="center">
													<div class="row centerRow">
														<button class="btn btn-danger btn-sm"
															ng-click="showModalRequest(cta, 'EDIT')" tooltip="Editar"
															tooltip-placement="left">
															<i class="fa fa-pencil"></i>
														</button>
													</div>
												</td>
												<td class="center">
													<div class="row centerRow">
														<button class="btn btn-danger btn-sm"
															ng-click="showConfirm($index)" tooltip="Eliminar"
															tooltip-placement="bottom">
															<i class="fa fa-minus"></i>
														</button>
													</div>
												</td>
											</tr>
											<tr class="ngShowEnter"
												ng-show="(lists.listProductRequest | filter:view.searchSomething).length < 1">
												<td colspan="6" class="text-center">
													<h4>No se encontraron coincidencias</h4>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="container-fluid">
									<div class="fixed-table-pagination" style="display: block;">
										<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething"
											array="lists.listProductRequest"></rows-per-page>
										<div class="pull-right pagination">
											<dir-pagination-controls class="pagination"></dir-pagination-controls>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="box-body ngShowEnter" ng-show="flags.isMosaic">
						<ul class="row ulAlmacen" id="almacenScroll">
							<li class="col-md-3 ngOnlyEnter" ng-class="{ 'imgSmall':grp.tpImg == 'small'}"
								ng-repeat="grp in lists.stockProduct | filter:view.searchSomething">
								<div class="contImgAlmacen labelCheck ngOnlyEnter" ng-click="showModalDetail(grp)">
									<img ng-src="{{grp.lbImg}}" />
									<label ng-class="{'quantityExcedente':grp.nuStock >= grp.nuStockMax,
														'quantitySuccess':grp.nuStock > grp.nuStockMin && grp.nuStock < grp.nuStockMax,
														 'quantityWarning':grp.nuStock <= grp.nuStockMin,
														 'quantityEmpty':grp.nuStock == 0 }">
										{{grp.flProducto}}
									</label>
								</div>
								<!--<div class="contImgAlmacen ngOnlyEnter" ng-if="grp.stTipo == 'Insumo'">
									<img ng-src="{{grp.blImg}}" />
									<label ng-class="{'quantityExcedente':grp.nuStock >= grp.nuStockMax,
														'quantitySuccess':grp.nuStock > grp.nuStockMin && grp.nuStock < grp.nuStockMax,
														 'quantityWarning':grp.nuStock <= grp.nuStockMin,
														 'quantityEmpty':grp.nuStock == 0 }">
										{{grp.cdGrupo}}
									</label>
								</div>-->
								<div class="contInfoAlmacen">
									<div class="quantityStock" ng-class="{'quantityExcedente':grp.nuStock >= grp.nuStockMax,
														'quantitySuccess':grp.nuStock > grp.nuStockMin && grp.nuStock < grp.nuStockMax,
														 'quantityWarning':grp.nuStock <= grp.nuStockMin,
														 'quantityEmpty':grp.nuStock == 0 }">
										<label>{{grp.nuStock}}</label>
									</div>
									<div class="btnRequest">
										<button class="btn btn-danger btn-sm" ng-click="showModalRequest(grp, 'NEW')"
											tooltip="Solicitar más Producto" tooltip-placement="left">
											<i class="fa fa-plus"></i>
										</button>
									</div>
									<div>
										<label>Nombre:</label><span> {{grp.nbTipoProducto}}</span>
									</div>
									<div>
										<label>Presentación:</label><span> {{grp.tpPresentacion}}</span>
									</div>
									<div>
										<label>Almacén:</label><span> {{grp.nbAlmacen}}</span>
									</div>
									<!-- <div>
										<label>Fecha:</label><span> {{grp.fhIngreso}}</span>
									</div> -->
								</div>
							</li>
							<li ng-show="(lists.stockProduct | filter:view.searchSomething).length < 1"
								style="justify-content: center;">
								<label>
									<h4>No se encontraron coincidencias</h4>
								</label>
							</li>
						</ul>
					</div>
					<div class="box-body ngShowEnter" ng-if="flags.isLot && searchVO.typeSearch.cdTipoBusqueda =='LOT'">
						<div class="row ngOnlyEnter">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-hover header-fixed">
										<thead>
											<tr>
												<th class="center">FOLIO</th>
												<th class="center">DESCRIPCIÓN</th>
												<th class="center">CADUCIDAD</th>
												<th class="center">CANTIDAD</th>
												<th class="center">IMPORTE</th>
											</tr>
										</thead>
										<tbody>
											<tr
												dir-paginate="cta in lists.productLot | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
												<td class="center" ng-click="viewLotDetail(cta)">
													<a>{{cta.flLote}}</a>
												</td>
												<td class="center">{{cta.txLote}}</td>
												<td class="center">{{cta.fhCaducidad}}</td>
												<td class="center">{{cta.nuCantidad}}</td>
												<td class="center">{{cta.nuImporte}}</td>
												<!--<td class="center">
													<span class="badge stAlmacen" ng-class="{'quantityExcedente':cta.nuStock >= cta.nuStockMax,
																		'quantitySuccess':cta.nuStock > cta.nuStockMin && cta.nuStock < cta.nuStockMax,
																		 'quantityWarning':cta.nuStock <= cta.nuStockMin,
																		 'quantityEmpty':cta.nuStock == 0 }">
														{{cta.nbStatus}}
													</span>
												</td>
												<td class="center">
													<button class="btn btn-danger btn-sm"
														ng-click="showModalRequest(cta)"
														tooltip="Solicitar más Producto" tooltip-placement="left">
														<i class="fa fa-plus"></i>
													</button>
												</td>-->
											</tr>
											<tr class="ngShowEnter"
												ng-show="(lists.productLot | filter:view.searchSomething).length < 1">
												<td colspan="6" class="text-center">
													<h4>No se encontraron coincidencias</h4>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="container-fluid">
									<div class="fixed-table-pagination" style="display: block;">
										<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething"
											array="lists.productLot"></rows-per-page>
										<div class="pull-right pagination">
											<dir-pagination-controls class="pagination"></dir-pagination-controls>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="box-body ngShowEnter" ng-if="flags.isList">
						<div class="row ngOnlyEnter">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-hover header-fixed">
										<thead>
											<tr>
												<th class="center">FOLIO</th>
												<th class="center">NOMBRE</th>
												<th class="wrap-text">PRESENTACIÓN</th>
												<th class="wrap-text">ALMACÉN</th>
												<th class="wrap-text">CANTIDAD DISPONIBLE</th>
												<th class="wrap-text">ESTATUS</th>
												<th class="wrap-text">ACCIÓN</th>
											</tr>
										</thead>
										<tbody>
											<tr
												dir-paginate="cta in lists.stockProduct | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
												<td class="center" ng-click="showModalDetail(cta)">
													<a>{{cta.flProducto}}</a>
												</td>
												<td class="center">{{cta.nbTipoProducto}}</td>
												<td class="center">{{cta.tpPresentacion}}</td>
												<td class="center">{{cta.nbAlmacen}}</td>
												<td class="center">{{cta.nuStock}}</td>
												<td class="center">
													<span class="badge stAlmacen" ng-class="{'quantityExcedente':cta.nuStock >= cta.nuStockMax,
																'quantitySuccess':cta.nuStock > cta.nuStockMin && cta.nuStock < cta.nuStockMax,
																 'quantityWarning':cta.nuStock <= cta.nuStockMin,
																 'quantityEmpty':cta.nuStock == 0 }">
														{{cta.nbStatus}}
													</span>
												</td>
												<td class="center">
													<button class="btn btn-danger btn-sm"
														ng-click="showModalRequest(cta,'NEW')"
														tooltip="Solicitar más Producto" tooltip-placement="left">
														<i class="fa fa-plus"></i>
													</button>
												</td>
											</tr>
											<tr class="ngShowEnter"
												ng-show="(lists.stockProduct | filter:view.searchSomething).length < 1">
												<td colspan="6" class="text-center">
													<h4>No se encontraron coincidencias</h4>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="container-fluid">
									<div class="fixed-table-pagination" style="display: block;">
										<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething"
											array="lists.stockProduct"></rows-per-page>
										<div class="pull-right pagination">
											<dir-pagination-controls class="pagination"></dir-pagination-controls>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
<!-- TOAS DETALLE DEL PRODUCTOS -->
<toast is-toast="flags.isShowDetail" on-show="showToast()" on-hide="quitModalDetail()" icon-toast="fa-info"
	title-toast="detalle del producto" hidden-close="false" backdrop-toast="false" uppercase-title="true"
	width-toast="55%">
	<toast-content>
		<div class="row">
			<div class="col-md-2">
				<div class="labelCheck ngOnlyEnter text-center">
					<img class="imgDetail" ng-src="{{detailVO.lbImg}}" /> 
				</div>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<ul class="nav nav-tabs preventClic">
							<li role="presentation" class="tabBox item"
								ng-class="{ 'active border-box':flags.isDetailProduct}">
								<a ng-click="toggleViewtabDetail('p')">Producto</a>
							</li>
							<li role="presentation" class="tabBox item"
								ng-class="{ 'active border-box':flags.isDetailByLot}">
								<a ng-click="toggleViewtabDetail('l')">Lote</a>
							</li>
						</ul>
						<div class="box box-danger">
							<div class="box-body ngShowEnter" ng-show="flags.isDetailProduct">
								<div class="table-responsive">
									<table class="table table-hover header-fixed">
										<thead>
											<tr>
												<th class="center">FOLIO</th>
												<th class="center">NOMBRE</th>
												<th class="wrap-text">PRESENTACIÓN</th>
												<th class="wrap-text">ALMACÉN</th>
												<th class="wrap-text">CANTIDAD DISPONIBLE</th>
												<th class="wrap-text">ESTATUS</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="center">
													<a>{{detailVO.flProducto}}</a>
												</td>
												<td class="center">{{detailVO.nbTipoProducto}}</td>
												<td class="center">{{detailVO.tpPresentacion}}</td>
												<td class="center">{{detailVO.nbAlmacen}}</td>
												<td class="center">{{detailVO.nuStock}}</td>
												<td class="center">
													<span class="badge stAlmacen" ng-class="{'quantityExcedente':detailVO.nuStock >= detailVO.nuStockMax,
																		'quantitySuccess':detailVO.nuStock > detailVO.nuStockMin && detailVO.nuStock < detailVO.nuStockMax,
																		 'quantityWarning':detailVO.nuStock <= detailVO.nuStockMin,
																		 'quantityEmpty':detailVO.nuStock == 0 }">
														{{detailVO.nbStatus}}
													</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="box-body ngShowEnter" ng-show="flags.isDetailByLot">
								<div class="table-responsive">
									<table class="table table-hover header-fixed">
										<thead>
											<tr>
												<th class="center">FOLIO</th>
												<th class="center">DESCRIPCIÓN</th>
												<th class="center">CADUCIDAD</th>
												<th class="center">CANTIDAD</th>
												<th class="center">IMPORTE</th>
											</tr>
										</thead>
										<tbody>
											<tr
												dir-paginate="cta in detailVO.productLot | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
												<td class="center">
													<a>{{cta.flLote}}</a>
												</td>
												<td class="center">{{cta.txLote}}</td>
												<td class="center">{{cta.fhCaducidad}}</td>
												<td class="center">{{cta.nuCantidad}}</td>
												<td class="center">{{cta.nuImporte}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--<div class="contInfoAlmacen">
					<div>
						<label ng-class="{'quantityExcedente':detailVO.nuStock >= detailVO.nuStockMax,
											'quantitySuccess':detailVO.nuStock > detailVO.nuStockMin && detailVO.nuStock < detailVO.nuStockMax,
											 'quantityWarning':detailVO.nuStock <= detailVO.nuStockMin,
											 'quantityEmpty':detailVO.nuStock == 0 }">
							{{detailVO.flProducto}}
						</label>
					</div>
					<div>
						<label>Nombre: </label><span> {{detailVO.nbTipoProducto}}</span>
					</div>
					<div>
						<label>Presentación: </label><span> {{detailVO.tpPresentacion}}</span>
					</div>
					<div>
						<label>Almacén: </label><span> {{detailVO.nbAlmacen}}</span>
					</div>
					<div>
						<label>Cantidad Disponible: </label><span> {{detailVO.nuStock}}</span>
					</div>
					<div>
						<label>Mínimo: </label><span> {{detailVO.nuStockMin}}</span>
					</div>
					<div>
						<label>Máximo: </label><span> {{detailVO.nuStockMax}}</span>
					</div>
					<div>
						<label>Estatus: </label>
						<span class="badge stAlmacen" ng-class="{'quantityExcedente':detailVO.nuStock >= detailVO.nuStockMax,
								'quantitySuccess':detailVO.nuStock > detailVO.nuStockMin && detailVO.nuStock < detailVO.nuStockMax,
								 'quantityWarning':detailVO.nuStock <= detailVO.nuStockMin,
								 'quantityEmpty':detailVO.nuStock == 0 }">
							{{detailVO.nbStatus}}
						</span>
					</div>
					<div>
						<label>Almacén: </label><span>{{detailVO.nbAlmacen}}</span>
					</div>
					<div>
						<label>Descripción: </label><span>{{detailVO.txDescripcion}}</span>
					</div>
				</div>-->
			</div>
		</div>
	</toast-content>
	<div class="col-xs-12 col-md-12 fadeInDown a-10ms">
		<div class="toast-footer">
			<div class="centerRowAround">
				<button class="btn fadeInDown a-10ms" id="login-btn" ng-click="quitModalDetail()">
					Salir
				</button>
			</div>
		</div>
	</div>
</toast>


<!-- TOAS SOLICITUD DE PRODUCTO -->
<form name="newRequest" id="newRequest" role="form" novalidate>
	<toast is-toast="flags.isToasdRequest" on-show="showToast()" on-hide="quitModalRequest()" icon-toast="fa-cubes"
		title-toast="PEDIDO A SUCURSAL MATRIZ" hidden-close="false" backdrop-toast="true" uppercase-title="true"
		width-toast="60rem">
		<toast-content>
			<div class="row">
				<div class="col-xs-6 col-md-6">
					<div class="form-group">
						<label>Sucursal Matriz:</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-cubes"></i>
							</div>
							<input class="form-control" name="nbSucursalMatriz" ng-model="requestVO.nbSucursalMatriz"
								readonly capitalize />
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-6">
					<div class="form-group">
						<label>Producto a Solicitar:</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-barcode"></i>
							</div>
							<input class="form-control" name="nbProducto" ng-model="requestVO.nbProducto" readonly
								capitalize />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-6">
					<div class="form-group"
						ng-class="{'has-error':newRequest.tpPrioridadVO.$invalid && newRequest.tpPrioridadVO.$dirty}">
						<label><span class="asteriskReq">*</span>Prioridad:</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-list-ul"></i>
							</div>
							<select class="form-control" select2 name="tpPrioridadVO" id="tpPrioridadVO"
								idioma-s2="{{currentLanguage}}" ng-model="requestVO.tpPrioridadVO" required
								ng-options="ci as ci.nbPrioridad for ci in lists.listPriority">
								<option value="">{{'APP.Base.mensaje.seleccioneOpcion'
								| translate}}</option>
							</select>
						</div>
						<span class="fadeInDown a-3ms help-block"
							ng-show="newRequest.tpPrioridadVO.$invalid && newRequest.tpPrioridadVO.$dirty">
							Seleccione una prioridad </span>
					</div>
				</div>
				<div class="col-xs-6 col-md-6">
					<div class="form-group">
						<label>Solicitante:</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-user"></i>
							</div>
							<input class="form-control" name="nbSolicitante" ng-model="requestVO.nbSolicitante" readonly
								capitalize />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-md-6">
					<div class="form-group"
						ng-class="{'has-error':newRequest.tpUnidadMedida.$invalid && newRequest.tpUnidadMedida.$dirty}">
						<label><span class="asteriskReq">*</span>U/M:</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-list-ul"></i>
							</div>
							<select class="form-control" select2 name="tpUnidadMedida" id="tpUnidadMedida"
								idioma-s2="{{currentLanguage}}" ng-model="requestVO.tpUnidadMedidaVO" required
								ng-options="ci as ci.nbUnidadMedida for ci in lists.typeMeasurement">
								<option value="">{{'APP.Base.mensaje.seleccioneOpcion'
									| translate}}</option>
							</select>
						</div>
						<span class="fadeInDown a-3ms help-block"
							ng-show="newRequest.tpUnidadMedida.$invalid && newRequest.tpUnidadMedida.$dirty">
							Seleccione la unidad de medida </span>
					</div>
				</div>
				<div class="col-xs-6 col-md-6">
					<div class="form-group"
						ng-class="{'has-error':newRequest.nuCantidad.$invalid && newRequest.nuCantidad.$dirty}">
						<label><span class="asteriskReq">*</span>Cantidad:</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-list-ul"></i>
							</div>
							<input class="form-control" name="nuCantidad" ng-model="requestVO.nuCantidad" capitalize />
						</div>
						<span class="fadeInDown a-3ms help-block"
							ng-show="newRequest.nuCantidad.$invalid && newRequest.nuCantidad.$dirty">
							Especifique la cantidad </span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div class="form-group"
						ng-class="{'has-error':newRequest.txDescripcion.$invalid && newRequest.txDescripcion.$dirty}">
						<label><span class="asteriskReq">*</span>Descripción:</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-comment"></i>
							</div>
							<textarea class="form-control" rows="3" name="txDescripcion" id="txDescripcion" required
								ng-model="requestVO.txDescripcion" capitalize style="resize: inherit;">
										</textarea>
						</div>
						<span class="fadeInDown a-3ms help-block"
							ng-show="newRequest.txDescripcion.$invalid && newRequest.txDireccion.$dirty">
							La descripción es requerida </span>
					</div>
				</div>
			</div>

			<div class="toast-footer">
				<div class="centerRowAround">
					<a class="btn fadeInDown a-10ms" ng-click="quitModalRequest()">
						Cancelar
					</a>
					<button ng-if="flags.isBtnNew" class="btn btn-danger fadeInDown a-10ms"
						ng-click="addProduct(newRequest,requestVO)">
						Agregar
					</button>
					<button ng-if="flags.isBtnEdit" class="btn btn-danger fadeInDown a-10ms"
						ng-click="notifyProductIsUpdated()">
						Aceptar
					</button>
				</div>
			</div>

		</toast-content>

		<!-- <toast-foot load-toast-foot-default="true" label-cancel="Cancelar" label-success="Agregar"
			on-cancel="quitModalRequest()" on-success="addProduct(newRequest,requestVO)">
		</toast-foot> -->
	</toast>
</form>


<!-- DETALLES DEL LOTE -->
<!-- TOAS DETALLE DEL PRODUCTOS -->
<toast is-toast="flags.lotDetail" on-show="showToast()" on-hide="quitModalDetailLot()" icon-toast="fa-info"
	title-toast="detalle del lote" hidden-close="false" backdrop-toast="false" uppercase-title="true" width-toast="30%">
	<toast-content>
		<div class="row">
			<div class="col-md-4">
				<div class="labelCheck ngOnlyEnter text-center">
					<img class="imgDetail" ng-src="{{lotDetailVO.productoVO.lbImg}}" />
				</div>
			</div>
			<div class="col-md-8">
				<div class="contInfoAlmacen">
					<div>
						<label>Folio: </label><span> {{lotDetailVO.productoVO.flProducto}}</span>
					</div>
					<div>
						<label>Producto: </label><span> {{lotDetailVO.productoVO.nbTipoProducto}}</span>
					</div>
					<div>
						<label>Tipo Producto: </label><span> {{lotDetailVO.productoVO.idTipoProducto}}</span>
					</div>
					<div>
						<label>Presentación: </label><span> {{lotDetailVO.productoVO.tpPresentacion}}</span>
					</div>
				</div>
			</div>
		</div>
	</toast-content>
	<div class="col-xs-12 col-md-12 fadeInDown a-10ms">
		<div class="toast-footer">
			<div class="centerRowAround">
				<button class="btn fadeInDown a-10ms" id="login-btn" ng-click="quitModalDetailLot()">
					Salir
				</button>
			</div>
		</div>
	</div>
</toast>