<section class="content-header">
    <h1>Existencia en Almacén</h1>
    <ol class="breadcrumb">
        <li>
            <a>
                <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
            </a>
        </li>
        <li class="active">{{breadCrumbs.servicio}}</li>
    </ol>
</section>
<section class="content">
    <form name="warehouseTickets" role="form" novalidate class="row centerRow">
        <div class="col-md-10">
            <div class="box box-danger">
                <div class="box-header with-border text-center">
                    <h3 class="box-title">Datos Generales</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <div class="form-group"
                                ng-class="{'has-error':warehouseTickets.flReferencia.$invalid && warehouseTickets.flReferencia.$dirty}">
                                <label><span class="asteriskReq">*</span>Referencia:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-list-ul"></i>
                                    </div>
                                    <select class="form-control" select2 idioma-s2="{{currentLanguage}}"
                                        ng-model="entradaVO.flReferencia" required
                                        ng-options="sws as sws.flSolicitud for sws in lists.listOrdersPending track by sws.idSolicitud"
                                        ng-change="filterProducts(entradaVO.flReferencia)">
                                        <option value="">{{'APP.Base.mensaje.seleccioneOpcion' | translate}}</option>
                                    </select>
                                </div>
                                <span class="fadeInDown a-3ms help-block"
                                    ng-show="warehouseTickets.flReferencia.$invalid && warehouseTickets.flReferencia.$dirty">
                                    La referencia es requerida </span>
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <div class="form-group"
                                ng-class="{'has-error':warehouseTickets.fhHraEntrada.$invalid && warehouseTickets.fhHraEntrada.$dirty}">
                                <label><span class="asteriskReq">*</span>Fecha de Recepción:</label>
                                <div class="input-group" datetime-picker idioma-dtp="{{currentLanguage}}"
                                    options="dateTimePickerOptions" ng-model="entradaVO.fhHraEntrada">
                                    <div class="input-group-addon labelCheck">
                                        <i class="fa fa-calendar-plus-o"></i>
                                    </div>
                                    <input class="form-control inputFecha" readonly name="fhHraEntrada"
                                        id="fhHraEntrada" required />
                                </div>
                                <span class="fadeInDown a-3ms help-block"
                                    ng-show="warehouseTickets.fhHraEntrada.$invalid && warehouseTickets.fhHraEntrada.$dirty">
                                    La fecha es requerida </span>
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <div class="form-group">
                                <label>Autoriza:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <input class="form-control" name="nbUsuarioRecibe"
                                        ng-model="entradaVO.nbUsuarioRecibe" readonly capitalize />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <div class="form-group"
                                ng-class="{'has-error':warehouseTickets.nbUsuarioEntrega.$invalid && warehouseTickets.nbUsuarioEntrega.$dirty}">
                                <label><span class="asteriskReq">*</span>Entrega:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <input class="form-control" name="nbUsuarioEntrega"
                                        ng-model="entradaVO.nbUsuarioEntrega" capitalize required />
                                </div>
                                <span class="fadeInDown a-3ms help-block"
                                    ng-show="warehouseTickets.nbUsuarioEntrega.$invalid && warehouseTickets.nbUsuarioEntrega.$dirty">
                                    La fecha es requerida </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--productos seleccionados-->
    <div class="row" id="products" style="max-height: calc(100vh - 22rem);">
        <form role="form" name="warehouseTicketsIn" id="warehouseTicketsIn" novalidate>
            <div class="col-md-12" ng-if="lists.stockProduct.length > 0">
                <div class="box box-danger">
                    <div class="box-header box-header-custom">
                        <div class="row">
                            <div class="col-md-3 col-xs-3">
                                <h3 class="box-title text-center">
                                    Productos Solicitados: {{(lists.stockProduct | filter:view.filterSearch).length}}
                                </h3>
                            </div>
                            <div class="col-md-4 col-md-offset-2 pull-rigth">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-filter"></i>
                                    </span>
                                    <input id="filterProducts" type="text" class="form-control"
                                        placeholder="Filtrar por..." ng-model="array.filter" />
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-5 pull-rigth col-md-offset-1">
                                <div class="input-group">
                                    <div class="row centerRow">
                                        <button class="btn btn-danger" ng-click="saveAll()">
                                            Guardar Todo
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-hover fadeInUp a-7ms">
                                <thead>
                                    <tr>
                                        <th class="center">FOLIO</th>
                                        <th class="center">NOMBRE</th>
                                        <th class="wrap-text">CANTIDAD DISPONIBLE</th>
                                        <th class="wrap-text">ESTATUS</th>
                                        <th class="wrap-text">U/M</th>
                                        <th class="wrap-text">P/U</th>
                                        <th class="wrap-text">CANTIDAD A RECIBIR</th>
                                        <th class="wrap-text">IMPORTE</th>
                                        <th class="wrap-text">ACCIÓN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        dir-paginate="cta in lists.stockProduct | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
                                        <td class="center">{{cta.flProducto}}</td>
                                        <td class="center">{{cta.nbTipoProducto}}</td>
                                        <td class="center">{{cta.nuStock}}</td>
                                        <td class="center">
                                            <span class="badge stAlmacen" ng-class="{'quantityExcedente':cta.nuStock >= cta.nuStockMax,
                                                'quantitySuccess':cta.nuStock > cta.nuStockMin && cta.nuStock < cta.nuStockMax,
                                                 'quantityWarning':cta.nuStock <= cta.nuStockMin,
                                                 'quantityEmpty':cta.nuStock == 0 }">
                                                {{cta.nbStatus}}
                                            </span>
                                        </td>
                                        <td class="center">{{cta.tpUnidadMedida}}</td>
                                        <td class="center">{{cta.nuPrecio}}</td>
                                        <td class="text-center">
                                            <div class="form-group col-md-offset-2"
                                                ng-class="{'has-error':warehouseTicketsIn.flReferencia.$invalid && warehouseTicketsIn.flReferencia.$dirty}">
                                                <div class="input-group">
                                                    <input class="form-control" name="nuCantidadRecib"
                                                        ng-model="cta.nuCantidadRecib" capitalize required />
                                                </div>
                                                <span class="fadeInDown a-3ms help-block"
                                                    ng-show="warehouseTicketsIn.nuCantidadRecib.$invalid && warehouseTicketsIn.nuCantidadRecib.$dirty">
                                                    Especifique la cantidad</span>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group col-md-offset-2"
                                                ng-class="{'has-error':warehouseTicketsIn.nuTotalImporte.$invalid && warehouseTicketsIn.nuTotalImporte.$dirty}">
                                                <div class="input-group">
                                                    <input class="form-control" type="text" name="nuTotalImporte"
                                                        ng-model="cta.nuTotalImporte" money-mask
                                                        money-mask-prepend="$" />
                                                </div>
                                                <span class="fadeInDown a-3ms help-block"
                                                    ng-show="warehouseTicketsIn.nuTotalImporte.$invalid && warehouseTicketsIn.nuTotalImporte.$dirty">
                                                    El importe total es requerido</span>
                                            </div>
                                        </td>
                                        <td class="center">
                                            <div class="row centerRow">
                                                <button class="btn btn-danger btn-sm" ng-click="showModalCancel($index)"
                                                    tooltip="Eliminar" tooltip-placement="bottom">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="ngShowEnter"
                                        ng-show="(lists.stockProduct | filter:view.searchSomething).length < 1">
                                        <td colspan="6" class="text-center">
                                            <h4>No se encontraron coincidencias</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- DETALLE PORQUE SE CANCELA EL PEDIDO -->
<form name="formReason" id="formReason" role="form" novalidate>
    <toast is-toast="flags.isModalCancel" on-show="showToast()" on-hide="quitModalCancel()" icon-toast="fa-info"
        title-toast="motivo" hidden-close="false" backdrop-toast="false" uppercase-title="true" width-toast="30%">
        <toast-content>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="form-group"
                        ng-class="{'has-error':formReason.txMotivo.$invalid && formReason.txMotivo.$dirty}">
                        <label><span class="asteriskReq">*</span>Motivo de Cancelación:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-comment"></i>
                            </div>
                            <textarea class="form-control" rows="3" name="txMotivo" id="txMotivo" required
                                ng-model="entradaVO.txMotivo" capitalize style="resize: inherit;">
										</textarea>
                        </div>
                        <span class="fadeInDown a-3ms help-block"
                            ng-show="formReason.txMotivo.$invalid && formReason.txMotivo.$dirty">
                            Especifique el motivo </span>
                    </div>
                </div>
            </div>
        </toast-content>
        <div class="col-xs-12 col-md-12 fadeInDown a-10ms">
            <div class="toast-footer">
                <div class="centerRowAround">
                    <button class="btn fadeInDown a-10ms" id="login-btn" ng-click="quitModalCancel()">
                        Cancelar
                    </button>
                    <button class="btn btn-danger fadeInDown a-10ms" id="login-btn"
                        ng-click="confirmDelete(formReason)">
                        Aceptar
                    </button>
                </div>
            </div>
        </div>
    </toast>
</form>