<section class="content-header">
    <h1>Existencia en Almacén</h1>
    <ol class="breadcrumb">
        <li>
            <a>
                <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
            </a>
        </li>
        <li class="active">{{breadCrumbs.servicio}}</li>
    </ol>
</section>
<section class="content">
    <form name="productInStock" role="form" novalidate class="row centerRow">
        <div class="row col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <div class="row middleRow">
                        <div class="col-sm-4">
                            <h3 class="box-title">
                                Productos encontrados:
                                {{ (lists.stock | filter:array.filter).length | number }}
                            </h3>
                        </div>
                        <div class="col-sm-4 ngShowEnter">
                            <div class="row centerRow">
                                <button class="btn btn-danger btn-sm" ng-click="showFormNewProduct()"
                                    tooltip="Registrar Nuevo Productos" tooltip-placement="left">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <!-- <button class="btn btn-danger" ng-click="newProduct()">
                                    Registrar Nuevo
                                </button> -->
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-filter"></i>
                                </span>
                                <input id="filterProducts" type="text" class="form-control" placeholder="Filtrar por..."
                                    ng-model="array.filter" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row" id="scrollProducts" style="max-height: calc(100vh - 22rem);">
                        <div class="col-md-2" ng-repeat="pro in lists.stock | filter:array.filter track by $index">
                            <!--ng-class="{ 'inactive':pro.nuStock === 0, 'active':pro.nuStock > 0 }"-->
                            <ul class="productall">
                                <li class="productall-img">
                                    <!-- <div class="productall-img__iconstatus">
                                        <i class="fa fa-check-circle" tooltip="Disponible" tooltip-placement="bottom"
                                            ng-if="pro.nuStock > 0">
                                        </i>
                                        <i class="fa fa-times-circle" tooltip="Agotado" tooltip-placement="bottom"
                                            ng-if="pro.nuStock === 0">
                                        </i>
                                    </div> -->
                                    <img ng-src="{{ pro.lbImg }}" />
                                    <div class="productall-img__btn" ng-click="showDetailproduct(pro)">
                                        <a class="btn btn-block">
                                            Ver detalle
                                        </a>
                                    </div>
                                </li>
                                <li class="productall-info">
                                    <strong class="productall-info__name text-truncate"
                                        tooltip="{{ pro.nbTipoProducto }}" tooltip-placement="top">
                                        {{ pro.nbTipoProducto | breaktext:true:35:'...' }}
                                    </strong>
                                    <span class="productall-info__type">
                                        {{ pro.nbAlmacen | breaktext:true:35:'...' }}
                                    </span>
                                    <!-- <label class="productall-info__price">
                                        ${{ pro.nuPrecio }}
                                    </label> -->
                                </li>
                            </ul>
                        </div>
                        <div ng-show="(lists.stock | filter:array.filter).length < 1" class="center">
                            <label>
                                <h4>No se encontraron coincidencias</h4>
                            </label>
                        </div>


                    </div>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </form>
</section>

<form role="form" name="newProduct" id="newProduct" novalidate>
    <toast is-toast="flags.isNewProduct" on-show="showToast()" on-hide="quitFormNewProduct()" icon-toast="fa-calendar"
        title-toast="NUEVO PRODUCTO" hidden-close="false" backdrop-toast="false" uppercase-title="true"
        width-toast="55rem">
        <toast-content>
            <div id="boxTitle" name="boxTitle" ng-show="!flags.isColapsed" style="max-height: calc(100vh - 10rem);">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group"
                            ng-class="{'has-error':newProduct.cdFolio.$invalid && newProduct.cdFolio.$dirty}">
                            <label><span class="asteriskReq">*</span>Folio:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-barcode"></i>
                                </div>
                                <input class="form-control" name="cdFolio" ng-model="newProductVO.cdFolio" capitalize
                                    required />
                            </div>
                            <span class="fadeInDown a-3ms help-block"
                                ng-show="newProduct.cdFolio.$invalid && newProduct.cdFolio.$dirty">
                                La folio es requerida </span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group"
                            ng-class="{'has-error':newProduct.nbProducto.$invalid && newProduct.nbProducto.$dirty}">
                            <label><span class="asteriskReq">*</span>Nombre:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-list-ol"></i>
                                </div>
                                <input class="form-control" name="nbProducto" ng-model="newProductVO.nbProducto"
                                    capitalize required />
                            </div>
                            <span class="fadeInDown a-3ms help-block"
                                ng-show="newProduct.nbProducto.$invalid && newProduct.nbProducto.$dirty">
                                El nombre es requerido</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group"
                            ng-class="{'has-error':newProduct.tpProducto.$invalid && newProduct.tpProducto.$dirty}">
                            <label><span class="asteriskReq">*</span>Tipo de Producto:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-list-ul"></i>
                                </div>
                                <select class="form-control" select2 name="tpProducto" id="tpProducto"
                                    idioma-s2="{{currentLanguage}}" ng-model="newProductVO.tpProducto" required
                                    ng-options="tp as tp.nbTipoProducto for tp in lists.typeProduct track by tp.idTipoProducto">
                                    <option value="">{{'APP.Base.mensaje.seleccioneOpcion'
                            | translate}}</option>
                                </select>
                            </div>
                            <span class="fadeInDown a-3ms help-block"
                                ng-show="newProduct.tpProducto.$invalid && newProduct.tpProducto.$dirty">
                                La placa es requerida </span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <label>U/M:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-list-ul"></i>
                                </div>
                                <select class="form-control" select2 name="tpUnidadMedida" id="tpUnidadMedida"
                                    idioma-s2="{{currentLanguage}}" ng-model="newProductVO.tpUnidadMedida" required
                                    ng-options="ci as ci.nbUnidadMedida for ci in lists.typeMeasurement">
                                    <option value="">{{'APP.Base.mensaje.seleccioneOpcion'
                                        | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <label>Presentación:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-list-ol"></i>
                                </div>
                                <input class="form-control" name="tpPresentacion" ng-model="newProductVO.tpPresentacion"
                                    capitalize />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <label>Stock Mínimo:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-sort-numeric-asc"></i>
                                </div>
                                <input class="form-control" name="nuStockMin" ng-model="newProductVO.nuStockMin"
                                    capitalize />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <label>Stock Máximo:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-sort-numeric-desc"></i>
                                </div>
                                <input class="form-control" name="nuStockMax" ng-model="newProductVO.nuStockMax"
                                    capitalize />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group topButton">
                            <input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" multiple
                                uploader="uploader" nv-file-drop="" nv-file-select="" filters="queueLimit, customFilter"
                                accept=".png, .jpg, .jpeg" />
                            <label for="file-1" class="noneSelectedUser btn btn-danger form-control">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                    <path
                                        d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                                </svg>
                                <span
                                    ng-show="pictureValidation.txWich != undefined && uploader.queue.length <= 0">{{pictureValidation.txWich}}
                                    &nbsp; &hellip;</span>
                                <span
                                    ng-show="pictureValidation.txnumPictu != undefined && uploader.queue.length > 0">{{pictureValidation.txnumPictu}}
                                    &nbsp;</span>
                            </label>
                            <!-- <label class="noneSelectedUser" ng-if="uploader.queue.length > 0">
                                <button type="button" class="btn btn-box-tool btn-danger"
                                    ng-click="showModalPicture('S')" tooltip="Ver Imágenes" tooltip-placement="right">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </label> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group"
                            ng-class="{'has-error':newProduct.txDescripcion.$invalid && newProduct.txDescripcion.$dirty}">
                            <label><span class="asteriskReq">*</span>Observaciones:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-comment"></i>
                                </div>
                                <textarea class="form-control" rows="2" name="txDescripcion" id="txDescripcion" required
                                    ng-model="newProductVO.txDescripcion" capitalize style="resize: inherit;">
                    </textarea>
                            </div>
                            <span class="fadeInDown a-3ms help-block"
                                ng-show="newProduct.txDescripcion.$invalid && newProduct.txDireccion.$dirty">
                                La descripción es requerida </span>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="uploader.queue.length > 0">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover header-fixed">
                                <thead>
                                    <tr>
                                        <th class="center">NOMBRE</th>
                                        <th class="center">TAMAÑO</th>
                                        <th class="center">ACCIÓN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                        <td class="center"><strong>{{ item.file.name }}</strong></td>
                                        <td class="center">{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        <td class="center">
                                            <button class="btn btn-danger btn-sm" ng-click="item.remove()"
                                                tooltip="Eliminar" tooltip-placement="left">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </toast-content>
        <toast-foot load-toast-foot-default="true" label-cancel="Salir" label-success="Guardar"
            on-cancel="quitFormNewProduct()" on-success="productoPersist(newProduct, newProductVO)">
        </toast-foot>
    </toast>
</form>



<!-- TOAS DETALLE DEL PRODUCTOS -->
<toast is-toast="flags.isShowDetail" on-show="showToast()" on-hide="quitModalDetail()" icon-toast="fa-info"
    title-toast="detalle del producto" hidden-close="false" backdrop-toast="false" uppercase-title="true"
    width-toast="55%">
    <toast-content>
        <div class="row">
            <div class="col-md-2">
                <div class="labelCheck ngOnlyEnter text-center">
                    <img class="imgDetail" ng-src="{{detailVO.lbImg}}" />
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs preventClic">
                            <li role="presentation" class="tabBox item"
                                ng-class="{ 'active border-box':flags.isDetailProduct}">
                                <a ng-click="toggleViewtabDetail('p')">Producto</a>
                            </li>
                            <li role="presentation" class="tabBox item"
                                ng-class="{ 'active border-box':flags.isDetailByPrice}">
                                <a ng-click="toggleViewtabDetail('pr')">Precios</a>
                            </li>
                        </ul>
                        <div class="box box-danger">
                            <div class="box-body ngShowEnter" ng-show="flags.isDetailProduct">
                                <div class="table-responsive">
                                    <table class="table table-hover header-fixed">
                                        <thead>
                                            <tr>
                                                <th class="center">FOLIO</th>
                                                <th class="center">PRESENTACIÓN</th>
                                                <th class="center">ALMACÉN</th>
                                                <th class="center">MÍNIMO/MÁXIMO</th>
                                                <th class="center">ESTATUS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="center">
                                                    <a>{{detailVO.flProducto}}</a>
                                                </td>
                                                <td class="center">{{detailVO.tpPresentacion}}</td>
                                                <td class="center">{{detailVO.nbAlmacen}}</td>
                                                <td class="center">{{detailVO.nuStockMin}}/{{detailVO.nuStockMax}}</td>
                                                <td class="center">
                                                    <span class="badge stAlmacen"
                                                        ng-class="{'quantityExcedente':detailVO.nuStock >= detailVO.nuStockMax,
                                                                                'quantitySuccess':detailVO.nuStock > detailVO.nuStockMin && detailVO.nuStock < detailVO.nuStockMax,
                                                                                 'quantityWarning':detailVO.nuStock <= detailVO.nuStockMin,
                                                                                 'quantityEmpty':detailVO.nuStock == 0 }">
                                                        {{detailVO.nbStatus}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="box-body ngShowEnter" ng-show="flags.isDetailByPrice">
                                <div class="table-responsive">
                                    <table class="table table-hover header-fixed">
                                        <thead>
                                            <tr>
                                                <th class="center">NOMBRE</th>
                                                <th class="center">PRECIO</th>
                                                <th class="center">ESTATUS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="center">PRECIO UNO</td>
                                                <td class="center">$ 11.90</td>
                                                <td class="center">
                                                    <span class="badge stAlmacen quantitySuccess"
                                                        style="font-size: 1.1rem;">
                                                        ACTIVO
                                                    </span>
                                                    <label>
                                                        <i class='fa fa-check-circle'
                                                            style="font-size: 1.5rem; color: #00BFA5; text-shadow: 1px 1px 1px #ccc; cursor: pointer;"></i>
                                                    </label>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="center">PRECIO DOS</td>
                                                <td class="center">$ 12.90</td>
                                                <td class="center">
                                                    <span class="badge stAlmacen quantityEmpty">
                                                        INACTIVO
                                                    </span>
                                                    <label>
                                                        <i class='fa fa-times-circle'
                                                            style="font-size: 1.5rem; color: #d50000; text-shadow: 1px 1px 1px #ccc; cursor: pointer;"></i>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="center">PRECIO TRES</td>
                                                <td class="center">$ 12.50</td>
                                                <td class="center"><span class="badge stAlmacen quantityEmpty">
                                                        INACTIVO
                                                    </span>
                                                    <label>
                                                        <i class='fa fa-times-circle'
                                                            style="font-size: 1.5rem; color: #d50000; text-shadow: 1px 1px 1px #ccc; cursor: pointer;"></i>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="center">PRECIO CUATRO</td>
                                                <td class="center">$ 11.50</td>
                                                <td class="center"><span class="badge stAlmacen quantityEmpty">
                                                        INACTIVO
                                                    </span>
                                                    <label>
                                                        <i class='fa fa-times-circle'
                                                            style="font-size: 1.5rem; color: #d50000; text-shadow: 1px 1px 1px #ccc; cursor: pointer;"></i>
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </toast-content>
    <div class="col-xs-12 col-md-12 fadeInDown a-10ms">
        <div class="toast-footer">
            <div class="centerRowAround">
                <button class="btn fadeInDown a-10ms" id="login-btn" ng-click="quitModalDetail()">
                    Salir
                </button>
            </div>
        </div>
    </div>
</toast>