<html>
	<head>
		<meta charset="utf-8">
		<title>Control de Combustible</title>
		<style type="text/css">
			.productall-img img {
				height: 6rem;
			}
			bodyGraf {
				font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			}
			.grafica {
				width		: 100%;
				height		: 400px;
				font-size	: 11px;
			}
		</style>
	</head>
	<body>

		<section class="content-header">
			<h1>{{breadCrumbs.servicio}}</h1>
			<ol class="breadcrumb">
				<li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
				</a></li>
				<li class="active">{{breadCrumbs.servicio}}</li>
			</ol>
		</section>
	
		<section class="content">		
			<div class="row">
				<div class="col-md-3" ng-repeat="ctrl in ctrls">
					<!-- small box -->
					<div class="small-box {{ctrl.bgPanel}}">
						<div class="inner">
							<div class="icon">
								<i class="fa {{ctrl.icon}}"></i>
							</div>
		
							<div class="counter" value="ctrl.myValue"
								to="ctrl.myTarget" duration="ctrl.myDuration"
								effect="ctrl.myEffect">
								<h3>{{ctrl.myValue | number:0 }} {{ctrl.nbPanel}}</h3>
							</div>
		
							<h4>{{ctrl.nbPanel2}}</h4>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<div class="box box-danger">
						<div class="box-header with-border">
							<div class="row">
								<div class="col-md-6" style="line-height:2.5;">
									<h3 class="box-title ng-binding">Top 10 Productos</h3>
								</div>
								<div class="col-md-3 text-center">
									<select class="form-control select2" name="zAnio1" 
										id="zAnio1"	ng-model="init.zAnio1" 
										ng-options="option.idAnio as option.descAnio for option in comboAnio">
									</select>
								</div>
								<div class="col-md-3 text-center">
									<select class="form-control select2" name="zMes1" 
										id="zMes1"	ng-model="init.zMes1" 
										ng-options="option.idMes as option.descMes for option in comboMes">
									</select>
								</div>
							</div>
						</div>
						
						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<ul class="nav nav-tabs">
										<li ng-repeat="tab in tabsTOP10"
											ng-class="{'active': tab.isActive}"
											ng-click="changeGraph(tab.nbTab)">
											<a>{{tab.nbTab}}</a>
										</li>
									</ul>
									
									<div ng-if="tabMasV" id="tabMasV">
										<div id="top10MasVen" ng-repeat="pro in arrayTop10MasVen">
											<div class="col-md-5">
												<div class="col-md-2">
													<strong>{{ pro.orden }}</strong>
												</div>
												
												<div class="col-md-5 productall-img">
													<img ng-src="{{ pro.lbImg }}" />
				                                    <div class="productall-img__btn"
				                                        ng-click="showDetailproduct(pro)">
				                                        <a class="btn btn-block">
				                                            Ver detalle
				                                        </a>
				                                    </div>
												</div>
												
												<div class="col-md-5">
													<strong class="productall-info__name" 
														tooltip="{{ pro.nbTipoProducto }}" tooltip-placement="top">
														{{ pro.nbTipoProducto | breaktext:true:35:'...' }}
													</strong>
													<label class="productall-info__price">
				                                        ${{ pro.nuPrecio }}
				                                    </label>
												</div>
											</div>
										</div>
									</div>
										
									<div ng-if="tabMenosV" id="tabMenosV">
										<div id="top10MenosVen" ng-repeat="pro in arrayTop10MenosVen">
											<div class="col-md-5">
												<div class="col-md-2">
													<strong>{{ pro.orden }}</strong>
												</div>
												
												<div class="col-md-5 productall-img">
													<img ng-src="{{ pro.lbImg }}" />
				                                    <div class="productall-img__btn"
				                                        ng-click="showDetailproduct(pro)">
				                                        <a class="btn btn-block">
				                                            Ver detalle
				                                        </a>
				                                    </div>
												</div>
												
												<div class="col-md-5">
													<strong class="productall-info__name" 
														tooltip="{{ pro.nbTipoProducto }}" tooltip-placement="top">
														{{ pro.nbTipoProducto | breaktext:true:35:'...' }}
													</strong>
													<label class="productall-info__price">
				                                        ${{ pro.nuPrecio }}
				                                    </label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-6">
					<div class="box box-danger">
						<div class="box-header with-border">
							<div class="row">
								<div class="col-md-6" style="line-height:2.5;">
									<h3 class="box-title ng-binding">Tiempos de entrega</h3>
								</div>
							</div>
						</div>
						
						<div class="box-body">
							<div class="row">
								<div class="col-md-12 bodyGraf">
									<div id="graficaTiemposEntrega" class="grafica"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="box box-danger">
						<div class="box-header with-border">
							<div class="row">
								<div class="col-md-8" style="line-height:2.5;">
									<h3 class="box-title ng-binding">Ventas e Ingresos</h3>								
								</div>
							</div>
							<div class="box-tools pull-right">
								<button class="btn btn-box-tool" type="button"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
						<div class="box-body">
							<div class="row">
<!-- 								<div class="col-md-12"> -->
								<div class="col-md-12 bodyGraf">
									<div id="graficaVentasXSucursal" class="grafica"></div>
								</div>
<!-- 									<ul class="nav nav-tabs"> -->
<!-- 										<li ng-repeat="tab2 in tabsSucursales" -->
<!-- 											ng-class="{'active': tab2.isActive}" -->
<!-- 											ng-click="changeGraph(tab2.nbTab)"> -->
<!-- 											<a>{{tab2.nbTab}}</a> -->
<!-- 										</li> -->
<!-- 									</ul> -->
									
<!-- 									<div ng-if="tabSucVen" id="tabSucVen"> -->
<!-- 										<div class="row"> -->
<!-- 											<br> -->
<!-- 											<div class="col-md-3"></div> -->
<!-- 											<div class="col-md-2 text-center"> -->
<!-- 												<select class="form-control select2" name="zSuc3"  -->
<!-- 													id="zSuc3"	ng-model="init.zSuc3"  -->
<!-- 													ng-options="option.idTipoSucursal as option.cdTipoSucursal for option in comboSucursal"> -->
<!-- 												</select> -->
<!-- 											</div> -->
<!-- 											<div class="col-md-2 text-center"> -->
<!-- 												<select class="form-control select2" name="zAnio3"  -->
<!-- 													id="zAnio3"	ng-model="init.zAnio3"  -->
<!-- 													ng-options="option.idAnio as option.descAnio for option in comboAnio"> -->
<!-- 												</select> -->
<!-- 											</div> -->
<!-- 											<div class="col-md-2 text-center"> -->
<!-- 												<select class="form-control select2" name="zMes3"  -->
<!-- 													id="zMes3"	ng-model="init.zMes3"  -->
<!-- 													ng-options="option.idMes as option.descMes for option in comboMes"> -->
<!-- 												</select> -->
<!-- 											</div> -->
<!-- 										</div> -->
<!-- 										<div class="row"> -->
<!-- 											<div class="col-md-12 bodyGraf"> -->
<!-- 												<div id="graficaVentasXSucursal" class="grafica"></div> -->
<!-- 											</div> -->
<!-- 											<div class="col-md-6 bodyGraf"> -->
<!-- 												<br> -->
<!-- 												<div id="graficaMetasXSucursal" class="grafica"></div> -->
<!-- 											</div> -->
<!-- 										</div> -->
<!-- 									</div> -->
									
<!-- 									<div ng-if="tabSucIng" id="tabSucIng"> -->
<!-- 										<div class="row"> -->
<!-- 											<div class="col-md-12 bodyGraf"> -->
<!-- 												<div id="graficaIngGanSucursal" class="grafica"></div> -->
<!-- 											</div> -->
<!-- 										</div> -->
<!-- 									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>