<meta charset="utf-8" />
<section class="content-header">
    <h1>{{ breadCrumbs.servicio }}</h1>

    <div class="commands">
        <label>Filtrar productos: <span class="badge">Alt+F</span></label>
        <label>Limpiar filtro: <span class="badge">Alt+C</span></label>
        <label>Mostrar/Ocultar carrito: <span class="badge">Alt+S</span></label>
        <label>Realizar compra: <span class="badge">Alt+P</span></label>
    </div>

    <ol class="breadcrumb">
        <li>
            <a>
                <i class="{{breadCrumbs.icono}}"></i>{{ breadCrumbs.modulo }}
            </a>
        </li>
        <li class="active">{{ breadCrumbs.servicio }}</li>
    </ol>
</section>

<section class="content">
    
    <div class="row">
        
        <div class="col-md-4">
            <div class="box box-danger">
            
                <div class="box-header with-border text-center">
                    <h3 class="box-title">
                        Parámetros de búsqueda
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            
                <div class="box-body">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- <label>Tipo de consulta:</label> -->
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-database"></i>
                                    </div>
                                    <select class="form-control" name="typeSearch" id="typeSearch" select2
                                        data-minimum-results-for-search="Infinity"
                                        idioma-s2="{{ currentLanguage }}"
                                        ng-model="searchVO.typeSearch"
                                        ng-options="tc as tc.nbTipoBusqueda for tc in lists.typeSearch track by tc.idTipoBusqueda">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" ng-if="searchVO.typeSearch.cdTipoBusqueda !== 'TP'">
                            <div class="form-group">
                                <!-- <label>Valor:</label> -->
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-product-hunt"></i>
                                    </div>
                                    <input type="text" class="form-control"
                                        ng-model="searchVO.value"
                                        ng-disabled="searchVO.typeSearch.cdTipoBusqueda === 'TD'" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" ng-if="searchVO.typeSearch.cdTipoBusqueda === 'TP'">
                            <div class="form-group">
                                <!-- <label>Valor:</label> -->
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-product-hunt"></i>
                                    </div>
                                    <select name="typeProduct" id="typeProduct" class="form-control"
                                        select2
                                        idioma-s2="{{ currentLanguage }}"
                                        ng-model="searchVO.typeProduct"
                                        ng-options="tp as tp.nbTipoProducto for tp in lists.typeProduct track by tp.idTipoProducto">
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            
                <div class="box-footer">
                    <div class="row centerRow">
                        <button class="btn btn-danger" ng-click="searchResults()">
                            Buscar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="box box-danger">
            
                <div class="box-header with-border text-center">
                    <h3 class="box-title">
                        Promociones del día
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            
                <div class="box-body">
                    <div class="row">

                        <div class="col-md-4 col-promo"
                            ng-repeat="promo in lists.promos">
                            <div class="promo">
                                <div class="promo-price">
                                    <span>${{ promo.nuPrecio }}</span>
                                </div>
                                <div class="promo-img">
                                    <div class="promo-img__icon"
                                        ng-click="viewImgPromo( promo.lbPromocion )">
                                        <i class="fa fa-eye"></i>
                                    </div>
                                    <img ng-src="{{ promo.lbPromocion }}" class="img-thumbnail" />
                                </div>
                                <div class="promo-btn" ng-click="addTocar(promo,'promo')">
                                    <a class="btn">Agregar al carro</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="box box-danger">
            
                <div class="box-header with-border">
                    <div class="row middleRow">
                        
                        <div class="col-sm-3">
                            <h3 class="box-title">
                                Productos encontrados: 
                                {{ (lists.stock | filter:array.filter).length | number }}
                            </h3>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-4">
                            <div class="input-group filters">
                                <span class="input-group-addon">
                                    <i class="fa fa-filter"></i>
                                </span>
                                <input id="filterProducts" type="text"
                                    class="form-control"
                                    placeholder="Filtrar por..."
                                    ng-blur="validateFiltercode(array.filter)"
                                    ng-model="array.filter" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group filters">
                                <span class="input-group-addon">
                                    <strong>#</strong>
                                </span>
                                <input id="quantityProducts" type="text"
                                    class="form-control text-center"
                                    placeholder="Cantidad"
                                    ng-disabled="!array.isCode"
                                    ng-blur="validateFilterquantity(array.quantity)"
                                    ng-model="array.quantity" integer-number />
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="box-body">
                    <div class="row" id="scrollProducts">

                        <div class="col-md-2" 
                            ng-repeat="pro in lists.stock | filter:array.filter track by $index">

                            <ul class="productall" ng-class="{ 'inactive':pro.nuStock === 0, 'active':pro.nuStock > 0 }">

                                <li class="productall-img">
                                    <div class="productall-img__iconstatus">
                                        <i class="fa fa-check-circle"
                                            tooltip="Disponible" tooltip-placement="bottom"
                                            ng-if="pro.nuStock > 0">
                                        </i>
                                        <i class="fa fa-times-circle"
                                            tooltip="Agotado" tooltip-placement="bottom"
                                            ng-if="pro.nuStock === 0">
                                        </i>
                                    </div>
                                    <img ng-src="{{ pro.lbImg }}" />
                                    <div class="productall-img__btn"
                                        ng-click="showDetailproduct(pro)">
                                        <a class="btn btn-block">
                                            Ver detalle
                                        </a>
                                    </div>
                                </li>

                                <li class="productall-info">
                                    <strong class="productall-info__name text-truncate"
                                        tooltip="{{ pro.nbTipoProducto }}" tooltip-placement="top">
                                        {{ pro.nbTipoProducto | breaktext:true:35:'...' }}
                                    </strong>
                                    <span class="productall-info__type">
                                        {{ pro.tipoProducto | breaktext:true:35:'...' }}
                                    </span>
                                    <label class="productall-info__price">
                                        ${{ pro.nuPrecio }}
                                    </label>
                                </li>

                                <li class="productall-btn">
                                    <a class="btn btn-danger btn-block" ng-click="addTocar(pro,'pro')">
                                        Agregar al carro
                                    </a>
                                </li>

                            </ul>

                        </div>

                    </div>
                </div>
            
                <div class="box-footer">
                    
                </div>
            </div>
        </div>

    </div>

</section>

<div class="visorimage ngOnlyLeave" ng-if="flags.isImgPromo"
    ng-click="flags.isImgPromo=false">
    <img ng-src="{{ imgPromo }}"
        ng-click="$event.stopPropagation()" />
</div>

<div ng-include="'views/ventas/toast.productdetail.html'"></div>