<meta charset="utf-8" />
<section class="content-header">
    <h1>{{ breadCrumbs.servicio }}</h1>
    <ol class="breadcrumb">
        <li>
            <a>
                <i class="{{breadCrumbs.icono}}"></i>{{ breadCrumbs.modulo }}
            </a>
        </li>
        <li class="active">{{ breadCrumbs.servicio }}</li>
    </ol>
</section>

<section class="content">

    <div ng-include="'views/ventas/productos/tipoproductos.html'"></div>

    <!-- <div class="row">
        <div class="col-md-12 mainstock">

            <div ng-repeat="main in lists.mainStock"
                class="mainstock-product ngFadeInRight"
                ng-style="{
                    'width':main.nuSize,
                    'background-color':main.bgColor,
                    'color':main.color
                }"
                ng-click="viewProduct(main)">

                <img class="mainstock-product__img" ng-src="{{ main.lbImagen }}" />
                <h3 class="mainstock-product__name">
                    {{ main.nbTipoProducto }}
                </h3>
            </div>

        </div>
    </div> -->


    <div class="box box-danger fadeInUp a-5ms" ng-if="flags.isReadyProduct">

        <div class="box-header with-border text-center">
            <h3 class="box-title">
                {{ models.currentProduct.nbTipoProducto }}
            </h3>
        </div>
    
        <div class="box-body">

            <!-- HELADOS GOURMET -->
            <div class="row ngFadeIn"
                ng-if="models.currentProduct.cdTipoProducto === 'HELG'">

                <div ng-include="'views/ventas/productos/helados.html'"></div>

            </div>

            <!-- HELADOS TRADICIONALES -->
            <div class="row ngFadeIn"
                ng-if="models.currentProduct.cdTipoProducto === 'HELT'">

                <div ng-include="'views/ventas/productos/helados.html'"></div>

            </div>

            <!-- PALETAS -->
            <div class="row ngFadeIn"
                ng-if="models.currentProduct.cdTipoProducto === 'PAL'">

                <div ng-include="'views/ventas/productos/paletas.html'"
                    ng-controller="paletasController">
                </div>

            </div>

            <!-- MALTEADAS -->
            <div class="row ngFadeIn"
                ng-if="models.currentProduct.cdTipoProducto === 'MAL'">

                <div ng-include="'views/ventas/productos/malteadas.html'"
                    ng-controller="malteadasController">
                </div>

            </div>

            <!-- CAFES -->
            <div class="row ngFadeIn"
                ng-if="models.currentProduct.cdTipoProducto === 'CAF'">

                <div ng-include="'views/ventas/productos/cafes.html'"
                    ng-controller="cafesController">
                </div>

            </div>

            <!-- FRAPPES -->
            <div class="row ngFadeIn"
                ng-if="models.currentProduct.cdTipoProducto === 'BEB'">

                <div ng-include="'views/ventas/productos/frappes.html'"
                    ng-controller="frappesController">
                </div>

            </div>
        </div>
    
    </div>


    <!-- TOAS DETALLE DEL PRODUCTOS -->
    <!-- <toast is-toast="flags.isIcecream"
        on-show=""
        on-hide=""
        icon-toast="fa-cart-plus"
        hidden-close="false"
        backdrop-toast="false"
        uppercase-title="true"
        width-toast="60%"
        title-toast="{{ models.currentProduct.nbTipoProducto }}">
        <toast-content>
            <div class="row" style="padding:1rem;">

                <div class="col-md-6 detailstock-product">
                    
                    <img src="static/dist/img/svg/barquillo-vainilla-doble.svg" height="400"
                        onload="SVGInject(this)" />

                </div>

                <div class="col-md-6 selection-icecream">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Base:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-cubes"></i>
                                    </div>
                                    <select name="base" id="base"
                                        select2
                                        ng-model="models.base"
                                        ng-options="bs as bs.nbBase for bs in lists.bases track by bs.idBase">

                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="inputGroup">
                                        <input id="simple" name="typeice" type="radio"
                                            ng-model="models.tipoHelado" value="sencillo" />
                                        <label for="simple">Sencillo</label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="inputGroup">
                                        <input id="double" name="typeice" type="radio"
                                            ng-model="models.tipoHelado" value="doble" />
                                        <label for="double">Doble</label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="inputGroup">
                                        <input id="triple" name="typeice" type="radio"
                                            ng-model="models.tipoHelado" value="triple" />
                                        <label for="triple">Triple</label>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </div>

                    <hr>

                    <div class="row">

                        <div class="col-md-12">
                            <div class="tastemain">
                                <label>Sabor bola inferior: <strong> Coco</strong></label>
                                <div>
                                    <div class="tasteicon">
                                        <label ng-click="selecTaste(taste)"
                                            ng-class="{ 'active':taste.isActive }"
                                            ng-style="{ 'background-color': taste.color }"
                                            ng-repeat="taste in lists.tastes">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="tastemain">
                                <label>Sabor bola superior: <strong> Coco</strong></label>
                                <div>
                                    <div class="tasteicon">
                                        <label ng-click="selecTaste(taste)"
                                            ng-class="{ 'active':taste.isActive }"
                                            ng-style="{ 'background-color': taste.color }"
                                            ng-repeat="taste in lists.tastes">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="inputGroup">
                                <input id="chispas" name="chispas" type="checkbox"
                                    ng-model="models.chispas" />
                                <label for="chispas">Chispas</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="inputGroup">
                                <input id="lunetas" name="lunetas" type="checkbox"
                                    ng-model="models.lunetas" />
                                <label for="lunetas">Lunetas</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="inputGroup">
                                <input id="oreos" name="oreo" type="checkbox"
                                    ng-model="models.oreos" />
                                <label for="oreos">Oreos</label>
                            </div>
                        </div>

                    </div>

                    <hr style="margin-bottom: 0.5rem;">

                    <div class="row">

                        <div class="col-md-12">

                            <div class="detailproduct-body__pay">
                                <label class="price">
                                    $ 92.00
                                </label>
                                <div class="typepay">
                                    <span>Efectivo</span>
                                    <i class="fa fa-cc-visa" style="color:#0D47A1"></i>
                                    <i class="fa fa-cc-mastercard" style="color:#FF6F00"></i>
                                    <i class="fa fa-cc-amex" style="color:#00BCD4"></i>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-12 detailproduct-body__btn">
                            <a class="btn" ng-disabled="cartaVO.productDetail.nuStock === 0">
                                Agregar al carrito
                            </a>
                            <a class="btn btn-danger" ng-disabled="cartaVO.productDetail.nuStock === 0">
                                Pagar
                            </a>
                        </div>

                    </div>
                </div>

            </div>

        </toast-content>
    </toast> -->

</section>
