<meta charset="utf-8" />
<section class="content-header">
    <h1>{{ breadCrumbs.servicio }}</h1>
    <ol class="breadcrumb">
        <li>
            <a>
                <i class="{{breadCrumbs.icono}}"></i>{{ breadCrumbs.modulo }}
            </a>
        </li>
        <li class="active">{{ breadCrumbs.servicio }}</li>
    </ol>
</section>

<section class="content contentorders">

    <div class="row tabsorders">

        <div class="col-md-12">
            <div class="col-md-4 tabsorders-tabs noneSelectedUser" ng-class="{ 'active':tab.isActive }"
                ng-repeat="tab in lists.tabs track by $index" ng-click="toggleTab(tab)">
                <h4>{{ tab.nbTab }}</h4>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12 ngFadeIn" ng-if="flags.isOrderDay">

            <div class="box box-danger">

                <div class="box-body">
                    <div class="row">

                        <div class="col-md-4">

                            <fieldset>
                                <legend>
                                    PEDIDOS LISTOS
                                </legend>
                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-filter"></i>
                                    </span>
                                    <input id="filterReady" type="text" class="form-control"
                                        placeholder="Filtrar por..." ng-model="array.filterReady" />
                                </div>
                                <br>
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped header-fixed">
                                        <thead>
                                            <tr>
                                                <th class="center"># PEDIDO</th>
                                                <th class="center">ENTREGAR A</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                ng-repeat="ready in lists.ordersReady | filter:array.filterReady track by $index">
                                                <td class="alignMiddle center">{{ ready.cdPedido }}</td>
                                                <td class="alignMiddle center">{{ ready.nbRecogePedido }}</td>
                                                <td class="alignMiddle center">
                                                    <button class="btn btn-danger btn-box-tool"
                                                        tooltip="Pedido entregado" tooltip-placement="left">
                                                        <i class="fa fa-share"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="ngShowEnter"
                                                ng-show="(lists.ordersReady | filter:array.filterReady).length < 1">
                                                <td colspan="6" class="text-center">
                                                    <h4>Sin coincidencias</h4>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>

                        </div>

                        <div class="col-md-8">

                            <fieldset>
                                <legend>
                                    PEDIDOS PENDIENTES
                                </legend>
                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-filter"></i>
                                    </span>
                                    <input id="filterPending" type="text" class="form-control"
                                        placeholder="Filtrar por..." ng-model="array.filterPending" />
                                </div>
                                <br>
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped header-fixed">
                                        <thead>
                                            <tr>
                                                <th class="center"># PEDIDO</th>
                                                <th class="center">ENTREGAR A</th>
                                                <th class="center">PAGADO</th>
                                                <th class="center">FECHA PEDIDO</th>
                                                <th class="center">FECHA ENTREGA</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                dir-paginate="pending in lists.ordersPending | orderBy:order:reverse | filter:array.filterPending | itemsPerPage: array.rowsPerPage">
                                                <td class="alignMiddle center"> <a ng-click="showDetail(pending)">
                                                        {{ pending.cdPedido }}</a></td>
                                                <td class="alignMiddle center">{{ pending.nbRecogePedido }}</td>
                                                <td class="alignMiddle center">${{ pending.nuCantidadPagada }}</td>
                                                <td class="alignMiddle center">{{ pending.fhSolicitud }}</td>
                                                <td class="alignMiddle center">{{ pending.fhEntrega }}</td>
                                                <td class="alignMiddle center">
                                                    <button class="btn btn-danger btn-box-tool" tooltip="Pedido listo"
                                                        tooltip-placement="left">
                                                        <i class="fa fa-share"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr class="ngShowEnter"
                                                ng-show="(lists.ordersPending | filter:array.filterPending).length < 1">
                                                <td colspan="6" class="text-center">
                                                    <h4>Sin coincidencias</h4>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="container-fluid">
                                    <div class="fixed-table-pagination" style="display: block;">
                                        <rows-per-page rows="array.rowsPerPage" filtro="array.filterPending"
                                            array="lists.ordersPending"></rows-per-page>
                                        <div class="pull-right pagination">
                                            <dir-pagination-controls class="pagination" id-pagination="pendings">
                                            </dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12 ngFadeIn" ng-if="flags.isOrderScheduled">

            <div class="box box-danger">

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 class="box-title">
                                Registros encontrados:
                                {{(lists.ordersScheduled | filter:array.filterScheduled).length | number}}
                            </h3>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-filter"></i>
                                </span>
                                <input id="filterScheduled" type="text" class="form-control" placeholder="Filtrar por"
                                    ng-model="array.filterScheduled" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped header-fixed">
                                    <thead>
                                        <tr>
                                            <th class="center"># PEDIDO</th>
                                            <th class="center">ENTREGAR A</th>
                                            <th class="center">PAGADO</th>
                                            <th class="center">FECHA PEDIDO</th>
                                            <th class="center">FECHA ENTREGA</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            dir-paginate="scheduled in lists.ordersScheduled | orderBy:order:reverse | filter:array.filterScheduled | itemsPerPage: array.rowsPerPage">
                                            <td class="alignMiddle center">{{ scheduled.cdPedido }}</td>
                                            <td class="alignMiddle center">{{ scheduled.nbRecogePedido }}</td>
                                            <td class="alignMiddle center">${{ scheduled.nuCantidadPagada }}</td>
                                            <td class="alignMiddle center">{{ scheduled.fhSolicitud }}</td>
                                            <td class="alignMiddle center">{{ scheduled.fhEntrega }}</td>
                                            <td class="alignMiddle center">
                                                <button class="btn btn-danger btn-box-tool" tooltip="Pedido entregado"
                                                    tooltip-placement="left">
                                                    <i class="fa fa-share"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr class="ngShowEnter"
                                            ng-show="(lists.ordersScheduled | filter:array.filterScheduled).length < 1">
                                            <td colspan="6" class="text-center">
                                                <h4>No se encontraron coincidencias</h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="container-fluid">
                                <div class="fixed-table-pagination" style="display: block;">
                                    <rows-per-page rows="array.rowsPerPage" filtro="array.filterScheduled"
                                        array="lists.ordersScheduled"></rows-per-page>
                                    <div class="pull-right pagination">
                                        <dir-pagination-controls class="pagination" id-pagination="scheduleds">
                                        </dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12 ngFadeIn" ng-if="flags.isOrderHistorial">

            <div class="box box-danger">

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 class="box-title">
                                Registros encontrados:
                                {{(lists.orders | filter:array.filterOrders).length | number}}
                            </h3>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-filter"></i>
                                </span>
                                <input id="filterOrders" type="text" class="form-control" placeholder="Filtrar por..."
                                    ng-model="array.filterOrders" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped header-fixed">
                                    <thead>
                                        <tr>
                                            <th class="center"># PEDIDO</th>
                                            <th class="center">ENTREGAR A</th>
                                            <th class="center">PAGADO</th>
                                            <th class="center">FECHA PEDIDO</th>
                                            <th class="center">FECHA ENTREGA</th>
                                            <th>ESTATUS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            dir-paginate="order in lists.orders | orderBy:order:reverse | filter:array.filterOrders | itemsPerPage: array.rowsPerPage">
                                            <td class="alignMiddle center">{{ order.cdPedido }}</td>
                                            <td class="alignMiddle center">{{ order.nbRecogePedido }}</td>
                                            <td class="alignMiddle center">${{ order.nuCantidadPagada }}</td>
                                            <td class="alignMiddle center">{{ order.fhSolicitud }}</td>
                                            <td class="alignMiddle center">{{ order.fhEntrega }}</td>
                                            <td class="alignMiddle center">{{ order.stPedido }}</td>
                                        </tr>
                                        <tr class="ngShowEnter"
                                            ng-show="(lists.orders | filter:array.filterOrders).length < 1">
                                            <td colspan="6" class="text-center">
                                                <h4>No se encontraron coincidencias</h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="container-fluid">
                                <div class="fixed-table-pagination" style="display: block;">
                                    <rows-per-page rows="array.rowsPerPage" filtro="array.filterOrders"
                                        array="lists.orders"></rows-per-page>
                                    <div class="pull-right pagination">
                                        <dir-pagination-controls class="pagination" id-pagination="orders">
                                        </dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--MODAL PARA MOSTRAR EL DETALLE DEL PEDIDO-->
<toast is-toast="flags.isModalDetail" on-show="showToast()" on-hide="quitDetail()" icon-toast="fa-info"
    title-toast="DETALLE de pedido" hidden-close="false" backdrop-toast="false" uppercase-title="true"
    width-toast="60%">
    <toast-content>
        <div class="row">
            <div class="col-md-12">

                <div class="">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title">Datos Generales</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <dt>Folio:</dt>
                                                </td>
                                                <td>{{ordersDetail.cdPedido}}</td>
                                                <td>
                                                    <dt>Fecha/Hora de Perdido:</dt>
                                                </td>
                                                <td>{{ordersDetail.fhSolicitud}}</td>
                                                <td>
                                                    <dt>Fecha/Hora de Entrega:</dt>
                                                </td>
                                                <td>{{ordersDetail.fhEntrega}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <dt>Medio:</dt>
                                                </td>
                                                <td>{{ordersDetail.nbMedioSolicitud | uppercase}}</td>
                                                <td>
                                                    <dt>Pidió:</dt>
                                                </td>
                                                <td>{{ordersDetail.nbSolicitante | uppercase}}</td>

                                                <td>
                                                    <dt>Se Entrega a:</dt>
                                                </td>
                                                <td>{{ordersDetail.nbRecogePedido | uppercase}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <dt>Importe Total:</dt>
                                                </td>
                                                <td>{{ordersDetail.nuCantidadPagada}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="box-header with-border text-center">
                        <h3 class="box-title">{{ordersDetail.pedido.length}} Productos Solicitados</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="center">NOMBRE</th>
                                                    <th class="center">PRECIO UNITARIO</th>
                                                    <th class="center">CANTIDAD</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ordersDetail.pedido">
                                                    <td class="center"><strong>{{ item.nbProducto }}</strong></td>
                                                    <td class="center">{{ item.nuPrecio }}</td>
                                                    <td class="center">{{ item.nuCantidad }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </toast-content>
    <div class="col-xs-12 col-md-12 fadeInDown a-10ms">
        <div class="toast-footer">
            <div class="centerRowAround">
                <button class="btn btn-danger fadeInDown a-10ms" id="login-btn" ng-click="quitDetail()">
                    Salir
                </button>
                <!-- <button class="btn btn-danger fadeInDown a-10ms" id="login-btn" ng-click="confirmDelete(formReason)">
                    Aceptar
                </button> -->
            </div>
        </div>
    </div>
</toast>