<!-- TOAS DETALLE DEL PRODUCTOS -->
<toast is-toast="flags.isProductdetail"
    on-show=""
    on-hide=""
    icon-toast="fa-eye"
    hidden-close="false" backdrop-toast="false" uppercase-title="true"
    width-toast="60%"
	title-toast="DETALLE DEL PRODUCTO">
	<toast-content>
        <div class="row">

            <div class="col-md-6 hidden-xs">
                <carousel-imgs arrayimg="cartaVO.productDetail.listimages"
                    autoslide="false"
                    controls-pauseplay="false"
                    durationslide="8"
                    redirect="false">
                </carousel-imgs>
            </div>

            <div class="col-md-6">
                
                <div class="detailproduct">

                    <div class="detailproduct-header">
                        <h4 class="text-truncate">{{ cartaVO.productDetail.nbTipoProducto }}</h4>
                        <strong>{{ cartaVO.productDetail.flProducto }}</strong>
                    </div>

                    <div class="detailproduct-body">
                        
                        <div class="detailproduct-body__raiting">
                            <p class="badge">
                                <i class="fa {{ cartaVO.productDetail.nuStock === 0?'fa-times-circle':'fa-check-circle' }}"></i>
                                <i ng-bind="cartaVO.productDetail.nuStock === 0?'Agotado':'En existencia'"></i>
                            </p>
                            <div>
                                <span class="stars">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                                <a class="comment">
                                    &nbsp;(3 Comentarios)
                                </a>
                            </div>
                        </div>
                        
                        <div class="detailproduct-body__pay">
                            <label class="price">
                                $ {{ cartaVO.productDetail.nuPrecio }}
                            </label>
                            <div class="typepay">
                                <span>Efectivo</span>
                                <!-- <img src="static/dist/img/tipopago/visa.png" />
                                <img src="static/dist/img/tipopago/mastercard.png" />
                                <img src="static/dist/img/tipopago/amex.png" /> -->
                                <i class="fa fa-cc-visa" style="color:#0D47A1"></i>
                                <i class="fa fa-cc-mastercard" style="color:#FF6F00"></i>
                                <i class="fa fa-cc-amex" style="color:#00BCD4"></i>
                            </div>
                        </div>

                        <div class="detailproduct-body__selection">
                            
                            <div class="taste" ng-if="cartaVO.productDetail.sabores">
                                <span>Sabor: <strong>Mora azul</strong></span>
                                <div>
                                    <div class="tasteicon">
                                        <label ng-click="selecTaste(taste)"
                                            ng-class="{ 'active':taste.isActive }"
                                            ng-style="{ 'background-color': taste.color }"
                                            ng-repeat="taste in cartaVO.productDetail.sabores">
                                        </label>
                                    </div> 
                                    <i class="fa fa-plus-circle"></i>
                                </div>
                            </div>

                            <div class="quantity" ng-if="!cartaVO.productDetail.sabores">
                                <div class="row centerCol">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <a class="btn" style="box-shadow:none;">
                                                        <i class="fa fa-minus"
                                                            style="color: #cf0a2c !important">
                                                        </i>
                                                    </a>
                                                </div>
                                                <input type="text" class="form-control text-center"
                                                    integer-number ng-model="cartaVO.quantity" />
                                                <div class="input-group-btn">
                                                    <a class="btn" style="box-shadow:inherit;">
                                                        <i class="fa fa-plus"
                                                            style="color: #cf0a2c !important">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="detailproduct-body__arrtastes" ng-if="cartaVO.productDetail.sabores">
                            <div style="max-height:6rem;overflow:auto;">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td class="text-center">
                                                <span class="badge">1</span>
                                            </td>
                                            <td class="text-center">
                                                <strong>Mora azul</strong>
                                            </td>
                                            <td class="text-center">
                                                <i class="fa fa-minus-circle"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="detailproduct-body__btn">
                            <a class="btn" ng-disabled="cartaVO.productDetail.nuStock === 0">
                                Agregar al carrito
                            </a>
                            <a class="btn btn-danger" ng-disabled="cartaVO.productDetail.nuStock === 0">
                                Pagar
                            </a>
                        </div>

                    </div>

                </div>
                
            </div>

        </div>

        <div class="tabsproduct">



        </div>
	</toast-content>
</toast>