<html>
<meta charset="utf-8" />
<style>
#map {
	height: 50vh;  
	margin-top: 0px;
	border-radius: 2px;
	border: 1px solid silver;
}

.ssearchbar {
	z-index: 100;
	position: absolute;
	margin-top: 1px;
	right: 4px;
}

.ssearchbar>.box>.box-header {
	cursor: pointer !important;
}

.noFa {
	display: none;
}

.pac-container {
	z-index: 1051 !important;
}
</style>

<body>


<section class="content-header">
	<h1>Existencia de Sucursales</h1>
	<ol class="breadcrumb">
		<li>
			<a>
				<i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a>
		</li>
		<li class="active">{{breadCrumbs.servicio}}</li>
	</ol>
</section>
<section class="content">
	<form name="stockWarehouse" novalidate>
		<div class="row centerCol">
			<div class="col-md-8">
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<h3 class="box-title">Parámetros de búsqueda</h3>
						<div class="box-tools pull-right">
							<button class="btn btn-box-tool" type="button" id="btnAlmacen" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div class="row centerRow" >
							<div class="col-md-4">
								<div class="form-group">
									<label>Tipo de Consulta:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-database"></i>
										</div>
										<select class="form-control" name="typeSearchSeg" id="typeSearchSeg" select2
											data-minimum-results-for-search="Infinity" idioma-s2="{{ currentLanguage }}"
											ng-model="searchVO.typeSearchSeg"
											ng-options="tc as tc.nbTipoBusqueda for tc in lists.typeSearchSeg track by tc.idTipoBusqueda">
										</select>
									</div>
								</div>
							</div>
							<!--  
						    <div class="col-md-8" ng-if="searchVO.typeSearchSeg.cdTipoBusqueda == 'FC'">
							<div class="col-md-4">
								<div class="form-group">
									<label>Fecha Inicio:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-building"></i>
										</div>
										<input type="text" class="form-control inputFecha" date-picker
											ng-model="programarVO.fhInicio" readonly />
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Fecha Fin:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-building"></i>
										</div>
										<input type="text" class="form-control inputFecha" date-picker
											ng-model="programarVO.fhFin" readonly />
									</div>
								</div>
							</div>
							</div>
						-->
							<div class="col-md-6" ng-if="searchVO.typeSearchSeg.cdTipoBusqueda === 'SC'">
								<div class="form-group">
									<label>Sucursales:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-product-hunt"></i>
										</div>
										<select name="sucursales" id="sucursales" class="form-control" select2
											idioma-s2="{{ currentLanguage }}" ng-model="searchVO.sucursales"
											ng-options="tp as tp.nbTipoSucursal for tp in lists.sucursales track by tp.idTipoSucursal">
										</select>
									</div>
								</div>
							</div>
							
							<div class="col-md-6" ng-if="searchVO.typeSearchSeg.cdTipoBusqueda === 'ST'">
								<div class="form-group">
									<label>Estatus:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-product-hunt"></i>
										</div>
										<select name="typeStatus" id="typeStatus" class="form-control" select2
											idioma-s2="{{ currentLanguage }}" ng-model="searchVO.typeStatus"
											ng-options="tp as tp.nbStatus for tp in lists.typeStatus track by tp.idStatus">
										</select>
									</div>
								</div>
							</div>		
						</div>
					</div>
					<div class="box-footer">
						<div class="row centerRow">
							<button class="btn btn-danger" ng-click="searchResults()">
								Buscar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs preventClic">
					<li role="presentation" class="tabBox" ng-class="{ 'active border-box':flags.isMosaic}">
						<a ng-click="toggleViewtab('m')">Mosaico</a>
					</li>
					<li role="presentation" class="tabBox" ng-class="{ 'active border-box':flags.isList }">
						<a ng-click="toggleViewtab('l')">Lista</a>
					</li>
				</ul>
				<div class="box box-danger">
					<div class="box-header with-border">
						<div class="row middleRow">
							<div class="col-sm-3">
								<h4 ng-if="flags.isMosaic">Registros encontrados:
									{{(lists.stockSucursales | filter:view.searchSomething).length | number}}</h4>
								<!-- <h4 ng-if="oldMode && slider.value!='4 meses'">Registros encontrados:
									{{(catTodosAntiguos | filter:view.searchSomething).length | number}}</h4>
								<h4 ng-if="oldMode && slider.value=='4 meses'">Registros encontrados:
									{{(catTodosAntiguos4Meses | filter:view.searchSomething).length | number}}</h4> -->
							</div>
							<div class="col-sm-5">
								<div class="row centerRow">
									<span class="badge spanStatus allStatus labelCheck"
									      ng-click="view.searchSomething = ''">
										Todos
									</span>
									<span class="badge quantitySuccess spanStatus labelCheck"
										ng-click="view.searchSomething = 'Suficiente'">
										Suficiente
									</span>
									<span class="badge quantityWarning spanStatus labelCheck"
										ng-click="view.searchSomething = 'Por Agotarse'">
										Por Agotarse
									</span>
									<span class="badge quantityEmpty spanStatus labelCheck"
										ng-click="view.searchSomething = 'Agotados'">
										Agotados
									</span>
									
								</div>
							</div>
							<!-- <div class="col-md-5 ngShowEnter" ng-show="oldMode">
								<rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
							</div> -->
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-search"></i>
									</span>
									<input id="searchsomething" type="text" class="form-control"
										placeholder="Filtrar por:" ng-model="view.searchSomething"
										ng-model-options="{debounce: 500}" />
									<span class="input-group-addon labelCheck" ng-click="" tooltip="Descargar reporte"
										placement="top">
										<img src="static/dist/img/excel.png" class="img-xs" />
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="box-body ngShowEnter" ng-show="flags.isMosaic">
						<ul class="row ulAlmacen" id="almacenScroll">
							<li class="col-md-3 ngOnlyEnter" ng-class="{ 'imgSmall':grp.tpImg == 'small'}"
								ng-repeat="grp in lists.stockSucursales | filter:view.searchSomething">
								<div class="contImgAlmacen labelCheck ngOnlyEnter" ng-click="showModalDetailProduct(grp)">
									<img ng-src="{{grp.lbImg}}"/>
									<label>
<!-- 									 ng-class="{'quantityExcedente':grp.nuStock >= grp.nuStockMax, -->
<!-- 														'quantitySuccess':grp.nuStock > grp.nuStockMin && grp.nuStock < grp.nuStockMax, -->
<!-- 														 'quantityWarning':grp.nuStock <= grp.nuStockMin, -->
<!-- 														 'quantityEmpty':grp.nuStock == 0 }" -->
										{{grp.cdTipoSucursal}} 
									</label>
								</div>
								<!--<div class="contImgAlmacen ngOnlyEnter" ng-if="grp.stTipo == 'Insumo'">
									<img ng-src="{{grp.blImg}}" />
									<label ng-class="{'quantityExcedente':grp.nuStock >= grp.nuStockMax,
														'quantitySuccess':grp.nuStock > grp.nuStockMin && grp.nuStock < grp.nuStockMax,
														 'quantityWarning':grp.nuStock <= grp.nuStockMin,
														 'quantityEmpty':grp.nuStock == 0 }">
										{{grp.cdGrupo}}
									</label>
								</div>-->
								
								<div class="contInfoAlmacen">
<!-- 									<div class="quantityStock" "> -->
<!-- 										<label>{{grp.cant}}</label> -->
<!-- 									</div> -->
 									<div class="btnRequest"> 
										<button class="btn btn-danger btn-sm" ng-click="showModalDetail(grp)" 
											tooltip="Ver Ubicación" tooltip-placement="left"> 
											<i class="fa fa-map-marker"></i> 
 										</button> 
									</div> 
									<div >
										<label>No. Sucursal:</label><span> {{grp.cdTipoSucursal}}</span>
									</div>
									<div>
											<label>Sucursal:</label><span> {{grp.nbTipoSucursal}}</span>
									</div>
								<!--	<div>
										<label>Direccion:</label><span> {{grp.direccion}}</span>
									</div>-->
									 <div>
										<label>Estatus:<br></label><br><span class="badge stAlmacen" ng-class="
																'quantitySuccess'">Suficiente: 500 <br></span>
									</div> 	
									<div>
										<label>        </label><span class="badge stAlmacen" ng-class="
																 'quantityWarning'"> Por Agotarse: 100<br></span>
									</div> 	
																		 <div>
										<label>        </label><span class="badge stAlmacen" ng-class="
																 'quantityEmpty'"> Agotados: 10<br></span>
									</div> 									
								</div>
							</li>
						</ul>
					</div>
					<div class="box-body ngShowEnter" ng-if="flags.isList">
						<div class="row ngOnlyEnter">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-hover header-fixed">
										<thead>
											<tr>
												<th class="center">NO. SUCURSAL</th>
												<th class="center">SUCURSAL</th>
												<th class="wrap-text">FECHA DE ÚLTIMO PEDIDO</th>
												<th class="wrap-text">UBICACIONES</th>
											</tr>
										</thead>
										<tbody>
											<tr
												dir-paginate="grp in lists.sucursales | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
												<td> 
												<div class="contImgAlmacen labelCheck ngOnlyEnter" ng-click="showModalDetailProduct(grp) ">
												       	<label>
										                 {{grp.cdTipoSucursal}}
									                     </label>
												  </div>   
												</td>
												<td class="center">{{grp.nbTipoSucursal}}</td>
												<td class="center">{{grp.fcUltimoPedido}}</td>
												<td class="center"> 	
														<div > 
										                   <button class="btn btn-danger btn-sm" ng-click="showModalDetail(grp)" 
											                      tooltip="Ver Ubicación" tooltip-placement="left"> 
											                      <i class="fa fa-map-marker"></i> 
 										                   </button> 
 										                </div>
									            </td>
											</tr>
											<tr class="ngShowEnter"
												ng-show="(lists.stockProduct | filter:view.searchSomething).length < 1">
												<td colspan="6" class="text-center">
													<h4>No se encontraron coincidencias</h4>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="container-fluid">
									<div class="fixed-table-pagination" style="display: block;">
										<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething"
											array="lists.stockProduct"></rows-per-page>
										<div class="pull-right pagination">
											<dir-pagination-controls class="pagination"></dir-pagination-controls>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>									
					
					
					
				</div>
			
			</div>
		</div>
	</form>
<!-- TOAST UBICACION -->
<toast is-toast="flags.isShowDetail" on-show="showToast()" on-hide="quitModalDetail()" icon-toast="fa-info"
	title-toast="{{detailVO.nbTipoSucursal}}" hidden-close="false" backdrop-toast="false" uppercase-title="true"
	width-toast="60%">
	<toast-content>
		<div class="row">

			<div class="col-md-12">
				<div class="contInfoAlmacen">
				    <div class="{{viewForm.colMapa}}">
			           <div class="box box-danger" id="mapDiv">
						<div class="box-header with-border center">
							<h3 class="box-title">Ubicación</h3>
							<div class="pull-left">
								<a target="_self" ng-click="collapsar()"><span> <i
										class="{{viewForm.icon}}"></i></span> </a>
							</div>
						</div>
			    			<div class="box-body">
			    			  <div id='map'></div>
						    </div>
				        </div>
			         </div>
				</div>
			</div>
		</div>
	</toast-content>
	<div class="col-xs-12 col-md-12 fadeInDown a-10ms">
		<div class="toast-footer">
			<div class="centerRowAround">
				<button class="btn fadeInDown a-10ms" id="login-btn" ng-click="quitModalDetail()">
					Salir
				</button>
			</div>
		</div>
	</div>
</toast>
<!-- TOAST FIN UBICACION -->


<!-- TOAST DETALLE PROCUCTO-->
<toast is-toast="flags.isShowDetailProduct" on-show="showToast()" on-hide="quitModalDetailProduct()" icon-toast="fa-info"
	title-toast="{{detailVO.nbTipoSucursal}}" hidden-close="false" backdrop-toast="false" uppercase-title="true"
	width-toast="60%">
	<toast-content>
		<div class="row">
		
			<div class="box" id="boxOperaciones" >
					<div class="box-header with-border text-center">
						<h3 class="box-title">Productos en existencia</h3>
						<!-- <div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
							</div> -->
								<div class="input-group  pull-right">
									<span class="input-group-addon">
										<i class="fa fa-search"></i>
									</span>
									<input id="searchsomething" type="text" class="form-control"
										placeholder="Filtrar por:" ng-model="view.searchSomething"
										ng-model-options="{debounce: 500}" />
									<span class="input-group-addon labelCheck" ng-click="" tooltip="Descargar reporte"
										placement="top">
										<img src="static/dist/img/excel.png" class="img-xs" />
									</span>
								</div>							
					</div>
				</div>
				
					<div class="box-body">
					
						<div class="box-body table-responsive"  >

							<table id="garantiasTable"
								class="table table-striped table-hover header-fixed">
								<thead>
									<tr>
										<th class="center" sort order="'folio'" by="order"
											reverse="reverse">CLAVE PRODUCTO</th>

										<th class="center" sort order="'destino'" by="order"
											reverse="reverse">TIPOs</th>
											
										<th class="center" sort order="'fhArribo'" by="order"
											reverse="reverse">CLASIF./SABORES</th>

										<th class="center" sort order="'valido'" by="order"
											reverse="reverse">CANT./PIEZAS</th>
										<th class="center" sort order="'valido'" by="order"
											reverse="reverse">ESTATUS</th>
									</tr>
								</thead>
								<tbody>
									<tr dir-paginate="cta in lists.productoExistencia | filter:fBus  | orderBy:order:reverse | itemsPerPage: view.rowsPerPage " >
										<td class="center">{{cta.flProducto}}</td>
										<td class="center">{{cta.tipoProducto}}</td>
										<td class="center">{{cta.nbTipoProducto}}</td>
										<td class="center">{{cta.nuStock}}</td>
										<td class="center">
											<span class="badge stAlmacen" ng-class="{'quantityExcedente':cta.nuStock >= cta.nuStockMax,
																'quantitySuccess':cta.nuStock > cta.nuStockMin && cta.nuStock < cta.nuStockMax,
																 'quantityWarning':cta.nuStock <= cta.nuStockMin,
																 'quantityEmpty':cta.nuStock == 0 }">
														{{cta.nbStatus}}
										    </span></td>
										
									</tr>
									<tr ng-if="(lists.productoExistencia | filter:fBus).length < 1">
										<td colspan="5" class="text-center">
											<h4>No se encontraron coincidencias</h4>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
				</div>



		</div>
	</toast-content>
	<div class=" col-md-12 fadeInDown a-10ms">
		<div class="toast-footer">
			<div class="centerRowAround">
				<button class="btn fadeInDown a-10ms" id="login-btn" ng-click="quitModalDetailProduct()">
					Salir
				</button>
			</div>
		</div>
	</div>
</toast>
<!-- TOAST FIN DETALLE PRODUCTO -->






</section>


</body>

</html>