<html>
<head>
<meta charset="utf-8">
<style>
#map {
	height: 70vh;
	margin-top: 0px;
	border-radius: 2px;
	border: 1px solid silver;
}

.ssearchbar {
	z-index: 100;
	position: absolute;
	margin-top: 1px;
	right: 4px;
}

.ssearchbar>.box>.box-header {
	cursor: pointer !important;
}

.noFa {
	display: none;
}

.pac-container {
	z-index: 1051 !important;
}
</style>
</head>
<body>
	<section class="content">
	
    <div class="row">
        
        <div class="col-md-4">
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<h3 class="box-title">Parámetros de búsqueda</h3>
						<div class="box-tools pull-right">
							<button class="btn btn-box-tool" type="button" id="btnAlmacen" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div class="row centerRow" >
							<div class="col-md-12">
								<div class="form-group">
									<label>Tipo de Consulta:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-database"></i>
										</div>
										<select class="form-control" name="typeSearchSeg" id="typeSearchSeg" select2
											data-minimum-results-for-search="Infinity" idioma-s2="{{ currentLanguage }}"
											ng-model="searchVO.typeSearchSeg"
											ng-options="tc as tc.nbTipoBusqueda for tc in lists.typeSearchSeg track by tc.idTipoBusqueda">
										</select>
									</div>
								</div>
							</div>

							<div class="col-md-12" ng-if="searchVO.typeSearchSeg.cdTipoBusqueda === 'SC'">
								<div class="form-group">
									<label>Sucursales:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-product-hunt"></i>
										</div>
										<select name="sucursales" id="sucursales" class="form-control" select2
											idioma-s2="{{ currentLanguage }}" ng-model="searchVO.sucursales"
											ng-options="tp as tp.nbTipoSucursal for tp in lists.sucursales track by tp.idTipoSucursal">
										</select>
									</div>
								</div>
							</div>
							
							<div class="col-md-12" ng-if="searchVO.typeSearchSeg.cdTipoBusqueda === 'TD'">
								<div class="form-group">
									<label>Valor:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-product-hunt"></i>
										</div>
										<input type="text" class="form-control" ng-model="searchVO.value"
											ng-disabled="searchVO.typeSearchSeg.cdTipoBusqueda === 'TD'" />
									</div>
								</div>
							</div>		
						</div>
					</div>
					<div class="box-footer">
						<div class="row centerRow">
							<button class="btn btn-danger" ng-click="filterSucursal(searchVO.typeSearchSeg, searchVO.sucursales, searchVO.value)">
								Buscar
							</button>
						</div>
					</div>
				</div>
        </div>

        <div class="col-md-8">
            <div class="box box-danger">
            
                <div class="box-header with-border text-center">
                    <h3 class="box-title">
                       Sucursales Santa Clara
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                
            <div class="box-body">
                <div class="{{viewForm.colMapa}}">
					  <div id="mapDiv">
							<div id='map'></div>
                     </div>
		        </div>
		     </div>     
		        
            </div>
        </div>

    </div>	
	
	</section>
</body>

</html>