<meta charset="utf-8" />
<style>
#seg {
	height: 26vh;  
	margin-top: 0px;
	border-radius: 2px;
	border: 1px solid silver;
}
   
    
</style>
<section class="content-header">
	<h1>Seguimiento de Pedidos</h1>
	<ol class="breadcrumb">
		<li>
			<a>
				<i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a>
		</li>
		<li class="active">{{breadCrumbs.servicio}}</li>
	</ol>
</section>
<section class="content">
	<form name="stockWarehouse" novalidate>
		<div class="row centerCol">
		
			<div class="col-md-8">
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<h3 class="box-title">Parámetros de búsqueda</h3>
						<div class="box-tools pull-right">
							<button class="btn btn-box-tool" type="button" id="btnAlmacen" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div class="row centerRow">
							<div class="col-md-4">
								<div class="form-group">
									<label>Tipo de Consulta:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-database"></i>
										</div>
										<select class="form-control" name="typeSearchSeg" id="typeSearchSeg" select2
											data-minimum-results-for-search="Infinity" idioma-s2="{{ currentLanguage }}"
											ng-model="searchVO.typeSearchSeg"
											ng-options="tc as tc.nbTipoBusqueda for tc in lists.typeSearchSeg track by tc.idTipoBusqueda">
										</select>
									</div>
								</div>
							</div>
						    <div class="col-md-6" ng-if="searchVO.typeSearchSeg.cdTipoBusqueda == 'FC'">
							<div class="col-md-6">
								<div class="form-group">
									<label>Fecha Inicio:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-building"></i>
										</div>
										<input type="text" class="form-control inputFecha" date-picker
											ng-model="programarVO.fhInicio" readonly />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Fecha Fin:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-building"></i>
										</div>
										<input type="text" class="form-control inputFecha" date-picker
											ng-model="programarVO.fhFin" readonly />
									</div>
								</div>
							</div>
							</div>
						
							<div class="col-md-6" ng-if="searchVO.typeSearchSeg.cdTipoBusqueda === 'SC'">
								<div class="form-group">
									<label>Sucursales:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-product-hunt"></i>
										</div>
										<select name="sucursales" id="sucursales" class="form-control" select2
											idioma-s2="{{ currentLanguage }}" ng-model="searchVO.sucursales"
											ng-options="tp as tp.nbTipoSucursal for tp in lists.sucursales track by tp.idTipoSucursal">
										</select>
									</div>
								</div>
							</div>
							
							<div class="col-md-6" ng-if="searchVO.typeSearchSeg.cdTipoBusqueda === 'ST'">
								<div class="form-group">
									<label>Estatus:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-product-hunt"></i>
										</div>
										<select name="typeStatus" id="typeStatus" class="form-control" select2
											idioma-s2="{{ currentLanguage }}" ng-model="searchVO.typeStatus"
											ng-options="tp as tp.nbStatus for tp in lists.typeStatus track by tp.idStatus">
										</select>
									</div>
								</div>
							</div>							
				
						</div>

					</div>
					<div class="box-footer">
						<div class="row centerRow">
							<button class="btn btn-danger" ng-click="searchResults()">
								Buscar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs preventClic">
					<li role="presentation" class="tabBox" ng-class="{ 'active border-box':flags.isMosaic}">
						<a ng-click="toggleViewtab('m')">Mosaico</a>
					</li>
					<li role="presentation" class="tabBox" ng-class="{ 'active border-box':flags.isList }">
						<a ng-click="toggleViewtab('l')">Lista</a>
					</li>
				</ul>
				<div class="box box-danger">
					<div class="box-header with-border">
						<div class="row middleRow">
							<div class="col-sm-3">
								<h4 ng-if="flags.isMosaic">Registros encontrados:
									{{(lists.stockSucursales | filter:view.searchSomething).length | number}}</h4>
								<!-- <h4 ng-if="oldMode && slider.value!='4 meses'">Registros encontrados:
									{{(catTodosAntiguos | filter:view.searchSomething).length | number}}</h4>
								<h4 ng-if="oldMode && slider.value=='4 meses'">Registros encontrados:
									{{(catTodosAntiguos4Meses | filter:view.searchSomething).length | number}}</h4> -->
							</div>
							
<!-- 							<div class="col-sm-5 ngShowEnter" ng-show="searchVO.viewMode != 'antique'"> -->
							   <div class="col-sm-5">
								 <div class="row centerRow">
									<span class="badge spanStatus allStatus labelCheck"
									      ng-click="view.searchSomething = ''">
										Todos
									</span>
									<span class="badge quantityEmpty spanStatus labelCheck"
										ng-click="view.searchSomething = 'Pendiente'">
										Pendiente
									</span>
									<span class="badge quantityWarning spanStatus labelCheck"
										ng-click="view.searchSomething = 'Programada'">
										Programada
									</span>
									<span class="badge quantitySuccess spanStatus labelCheck"
										ng-click="view.searchSomething = 'Entrega'">
										Entrega
									</span>
									
								 </div>
							   </div>
<!-- 							</div> -->
<!-- 							<div class="col-md-5 ngShowEnter" ng-show="oldMode"> -->
<!-- 								<rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider> -->
<!-- 							</div> -->
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-search"></i>
									</span>
									<input id="searchsomething" type="text" class="form-control"
										placeholder="Filtrar por:" ng-model="view.searchSomething"
										ng-model-options="{debounce: 500}" />
									<span class="input-group-addon labelCheck" ng-click="" tooltip="Descargar reporte"
										placement="top">
										<img src="static/dist/img/excel.png" class="img-xs" />
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="box-body ngShowEnter" ng-show="flags.isMosaic">
						<ul class="row ulAlmacen" id="almacenScroll">
							<li class="col-md-3 ngOnlyEnter" ng-class="{ 'imgSmall':grp.tpImg == 'small'}"
								ng-repeat="grp in lists.sucursales | filter:view.searchSomething">
								
								<div class="contImgAlmacen labelCheck ngOnlyEnter" ng-click="showModalDetail(grp)" >
									<img ng-src="{{grp.lbImg}}"/>
									<label>
										{{grp.cdTipoSucursal}} 
									</label>
								</div>
								<!--<div class="contImgAlmacen ngOnlyEnter" ng-if="grp.stTipo == 'Insumo'">
									<img ng-src="{{grp.blImg}}" />
									<label ng-class="{'quantityExcedente':grp.nuStock >= grp.nuStockMax,
														'quantitySuccess':grp.nuStock > grp.nuStockMin && grp.nuStock < grp.nuStockMax,
														 'quantityWarning':grp.nuStock <= grp.nuStockMin,
														 'quantityEmpty':grp.nuStock == 0 }">
										{{grp.cdGrupo}}
									</label>
								</div>-->
								<div class="contInfoAlmacen">
									<div class="quantityStock" ng-class="{'quantityExcedente':grp.nuStock >= grp.nuStockMax,
														'quantitySuccess':grp.nuStock > grp.nuStockMin && grp.nuStock < grp.nuStockMax,
														 'quantityWarning':grp.nuStock <= grp.nuStockMin,
														 'quantityEmpty':grp.nuStock == 0 }">
										<label>{{grp.nuStock}}</label>
									</div>
									<div class="btnRequest">
										<button class="btn btn-danger btn-sm" ng-click="showModalEstatus(grp)"
											tooltip="Ver Seguimiento" tooltip-placement="left">
											<i class="fa fa-truck"></i>
										</button>
									</div>
									<div  ng-click="showModalInfo(grp)" >
										<label >Folio Pedido:</label><span> {{grp.cdTipoSucursal}}</span>
									</div>
									<div>
											<label>Sucursal:</label><span> {{grp.nbTipoSucursal}}</span>
									</div>
									<div>
											<label>Fecha de Solicitud:</label><span> {{grp.fechaSolicitada}}</span>
									</div>									
																	
									<div>
										<label>Estatus:</label><span class="badge stAlmacen" ng-class="{
																'quantitySuccess':grp.nbStatus =='Entrega',
																 'quantityWarning':grp.nbStatus == 'Pendiente',
																 'quantityEmpty':grp.nbStatus == 'Programada'}"> {{grp.nbStatus}} </span> <label>ver seguimiento</label>
									</div>
<!-- 									<div class="col-md-8"> -->
<!-- 										<label>Cambiar Estatus:</label> -->
										
<!-- 										<select name="typeStatus" id="typeStatus" class="form-control" select2 -->
<!-- 											idioma-s2="{{ currentLanguage }}" ng-model="searchVO.typeStatusActualiza"  -->
<!-- 											ng-options="tp as tp.nbStatus for tp in lists.typeStatusActualiza track by tp.idStatus"   > -->
<!-- 										</select> -->
<!-- 									</div> -->
									<div> <br></div>
									<!-- <div>
										<label>Fecha:</label><span> {{grp.fhIngreso}}</span>
									</div> -->
								</div>
							</li>
						</ul>
					</div>
					<div class="box-body ngShowEnter" ng-if="flags.isList">
						<div class="row ngOnlyEnter">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-hover header-fixed">
										<thead>
											<tr>
												<th class="center">FOLIO PEDIDO</th>
												<th class="center">SUCURSAL</th>
												<th class="wrap-text">FECHA SOLICITADA</th>
												<th class="wrap-text">SEGUIMIENTO PEDIDO</th>
												<th class="wrap-text">ESTATUS</th>
											</tr>
										</thead>
										<tbody>
											<tr dir-paginate="grp in lists.sucursales | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
												<td  class="center"  ng-click="showModalDetail(grp)"> 
									                   <a>{{grp.cdTipoSucursal}} </a>
												</td>
												<td class="center">{{grp.nbTipoSucursal}}</td>
												<td class="center">{{grp.fechaSolicitada}}</td>
												<td class="center">														<div > 
										                   <button class="btn btn-danger btn-sm" ng-click="showModalEstatus(grp)" 
											                      tooltip="Ver Seguimiento" tooltip-placement="left"> 
											                      <i class="fa fa-truck"></i> 
 										                   </button> 
 										                </div>     
 										        </td>
												<td class="center">
													<span class="badge stAlmacen" ng-class="{
																'quantitySuccess':grp.nbStatus =='Entrega',
																 'quantityWarning':grp.nbStatus == 'Pendiente',
																 'quantityEmpty':grp.nbStatus == 'Programada'}">
														{{grp.nbStatus}}
													</span>
												</td>
												
											</tr>
											<tr class="ngShowEnter"
												ng-show="(lists.sucursales | filter:view.searchSomething).length < 1">
												<td colspan="6" class="text-center">
													<h4>No se encontraron coincidencias</h4>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="container-fluid">
									<div class="fixed-table-pagination" style="display: block;">
										<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething"
											array="lists.stockProduct"></rows-per-page>
										<div class="pull-right pagination">
											<dir-pagination-controls class="pagination"></dir-pagination-controls>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</form>



<!-- INICIO TOAST INFO SUCURSAL -->
<toast is-toast="flags.isShowInfo"  on-hide="quitModalInfo()" icon-toast="fa-info"
		title-toast="{{detailVO.nbTipoSucursal}}" uppercase-title="true"
	width-toast="60%">
	<toast-content>
		<div class="row">
		
		<section class="col-md-12 content" ng-show="!showBoxRefused">
				<div class="box box-danger" id="datosGenerales" >
					<div class="box-header with-border text-center">
						<h3 class="box-title">Datos Generales</h3>
						<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
						</div> 
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-4">
								<label>Sucursal:</label>
								<div class="input-group">
									<i class="fa fa-map-marker"></i>
									{{detailVO.nbTipoSucursal}}
								</div>
							</div>
							<div class="col-md-4">
								<label>Destino:</label>
								<div class="input-group">
									<i class="fa fa-map-marker"></i>
									{{detailVO.direccion}}
								</div>
							</div>
							<div class="col-md-4">
								<label>Fecha de Solicitud Pedido:</label>
								<div class="input-group">
									<i class="fa fa-calendar"></i>
										{{detailVO.fechaSolicitada}}
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-md-4">
								<label>Teléfono:</label>
								<div class="input-group">
									<i class="fa fa-phone"></i>
									{{detailVO.numTelefono}}  
								</div>
							</div>
							<div class="col-md-4">
								<label>Gerente que lo Solicitó:</label>
								<div class="input-group">
									<i class="fa fa-user"></i>
									{{detailVO.gerente}}  
								</div>
							</div>
						    <div class="col-md-4">
								<label>Estatus:</label>
								<div class="input-group">
									<i class="fa fa-hashtag"></i>
									<a class="badge stAlmacen" ng-class="{
																'quantitySuccess':detailVO.nbStatus =='Entrega',
																 'quantityWarning':detailVO.nbStatus == 'Pendiente',
																 'quantityEmpty':detailVO.nbStatus == 'Programada'}">
							           {{detailVO.nbStatus}}</a>
								</div>
							</div>	
						</div>
						<div class="row">
							<div class="col-md-4">
								<label>Email:</label>
								<div class="input-group">
									<i class="fa fa-envelope"></i>&nbsp;santaclarasuc01@gmail.com
								<!--	{{objectModal.subcategoria}} -->
								</div>
							</div>
							
							<div class="col-md-4">
								<label>Folio Pedido:</label>
								<div class="input-group">
									<i class="fa fa-envelope"></i>&nbsp;
									{{detailVO.cdTipoSucursal}} 
								</div>
							</div>		
									
						</div>
						
					</div>
				</div>
			</section>

		</div>
	</toast-content>
	<div class="col-xs-12 col-md-12 fadeInDown a-10ms">
		<div class="toast-footer">
			<div class="centerRowAround">
				<button class="btn fadeInDown a-10ms" id="login-btn" ng-click="quitModalInfo()">
					Aceptar
				</button>
			</div>
		</div>
	</div>
</toast>

<!-- FIN TOAST INFO SUCURSAL -->
	
	
<!-- TOAST DETALLE PEDIDO -->
<toast is-toast="flags.isShowDetail"  on-hide="quitModalDetail()" icon-toast="fa-info" 
	title-toast="{{detailVO.nbTipoSucursal}}" uppercase-title="true"  hidden-close="false" backdrop-toast="false"
	width-toast="60%">
	<toast-content>

		<section class="content" ng-show="!showBoxRefused">
		<div class="row">
				<div class="box box-danger" id="datosGenerales" >
					<div class="box-header with-border text-center">
						<h3 class="box-title">Detalle del pedido</h3>
						
                        <div class="box-tools pull-right">
                             <button class="btn btn-box-tool" data-widget="collapse">
                                  <i class="fa fa-minus"></i>
                             </button>
                        </div>
					</div>
					<div class="box-body" >
					  <div class=" table-responsive" >

							<table 
								class="table table-striped table-hover header-fixed">
								<thead>
									<tr>
										<th class="center" sort order="'folio'" by="order"
											reverse="reverse">CLAVE PRODUCTO</th>

										<th class="center" sort order="'origen'" by="order"
											reverse="reverse">PRODUCTO</th>
 
										<th class="center" sort order="'destino'" by="order"
											reverse="reverse">TIPOs</th>
											
										<th class="center" sort order="'fhArribo'" by="order"
											reverse="reverse">CLASIF./SABORES</th>

										<th class="center" sort order="'valido'" by="order"
											reverse="reverse">CANT./PIEZAS</th>
										
										<th class="center" sort order="'valido'" by="order"
											reverse="reverse">CANT./PIEZAS AUTORIZADA</th>
									</tr>
								</thead>
								<tbody>
									<tr dir-paginate="cta in lists.pedidoPorSucursal | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage" >
										<td class="center" >{{cta.cdProducto}}</td>
										<td class="center" >{{cta.nbTipoProducto}}</td>
										<td class="center" >{{cta.cdTipoProducto}}</td>
										<td class="center" >{{cta.clasificacion}}</td>
										<td class="center" >{{cta.cantSolicitado}}</td>
										<td class="center" > <div  class="input-group">
										<input class="form-control" name="nuCantidadRecib"
                                                    ng-model="cta.cantSolicitado" capitalize required />
										</div></td>
									</tr>
									
								</tbody>
							</table>
						</div>
<!-- 						<div class="row"> -->

<!--  -->		

					
			
<!--  -->				
			
						
					</div> 
				</div>
			 </div>	
			</section>
	
	</toast-content>
	
		<div class="toast-footer">
			<div class="centerRowAround">
				<button class="btn btn-danger a-10ms" id="login-btn" ng-click="quitModalDetail()">
					Actualizar
				</button>
			</div>
		</div>
	
</toast>

<!--FIN DE TOAST DETALLE PEDIDO -->

<!-- INICIO TOAST INFO ESTATUS -->
<toast is-toast="flags.isShowEstatus"
       on-show="showToast()" 
       on-hide="quitModalEstatus()" 
       icon-toast="fa-truck	"
	   hidden-close="false" backdrop-toast="true"  
	   title-toast="SEGUIMIENTO DE PEDIDO - {{detailVO.nbTipoSucursal}}" uppercase-title="true"
	  width-toast="60%">
	<toast-content>
		

        <div class="content-wizardSteps">
            <div class="progress wizard__progress">
                <div id="progress-wizard" class="progress-bar fadeInLeft a-10ms"
                    role="progressbar"
                    aria-valuenow="10%"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width: 10%">
                </div>
            </div><!--content-wizardStee  -->

            <div class="wizard__steps">
                <ul class="steps">
                    <li ng-repeat="node in nextpedido.listNodespaySeg track by $index" class="fadeInDown a-7ms"
                        ng-class="{'active':node.isActive,'deploy':node.isDeploy}"
                        ng-click="toStepPedido(node)">
                        <div class="step-icon">
                            <i class="fa {{node.iconNode}}"></i>
                        </div>
                        <div class="step-title">
                            {{node.titleNodeSeg}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>

         <hr style="border:1px solid #e4e4e4;">
       
       
       <!-- INICIO -->
        <div class="wizard-body">
        
           <div class="row" ng-show="flagsestatus.isCar">
                <div class="col-md-12">
  
                       <form class="formPay" name="formPay" >

                        <fieldset>
                            <legend>RECIBIDA</legend>

                            <div class="row">
                            <div class="col-xs-6 col-md-6">
					             <div class="form-group">
						             <label>Recibido Por:</label>
						             <div class="input-group">
							            <div class="input-group-addon">
								           <i class="fa fa-user"></i>
							            </div>
							            <input class="form-control"  ng-model="requestVO.nbRecibio" />
						             </div>
					              </div>
				            </div>
                            <div class="col-xs-6 col-md-6">
					             <div class="form-group">
						             <label>Solicitante:</label>
						             <div class="input-group">
							            <div class="input-group-addon">
								           <i class="fa fa-user"></i>
							            </div>
							            <input class="form-control"  ng-model="requestVO.nbSolicitanted" readonly
								            capitalize  />
						             </div>
					              </div>
				            </div>				            
                            <div  class="col-xs-6 col-md-6">
								<div class="form-group">
									<label>Fecha y Hora Recibida:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-building"></i>
										</div>
										<input type="text" class="form-control inputFecha" datetime-picker
											ng-model="programarVO.fhInicio" readonly />
									</div>
								</div>
							</div>
                                                     
				               <div class="col-xs-12 col-md-12">
					               <div class="form-group"
						                ng-class="{'has-error':newRequest.txDescripcion.$invalid && newRequest.txDescripcion.$dirty}">
						                <label><span class="asteriskReq">*</span>Descripción:</label>
						               <div class="input-group">
							              <div class="input-group-addon">
								             <i class="fa fa-comment"></i>
							              </div>
							                  <textarea class="form-control" rows="3" name="txDescripcion" id="txDescripcion" required
								                ng-model="requestVO.txDescripcion" capitalize style="resize: inherit;">
										      </textarea>
						               </div>
						                   <span class="fadeInDown a-3ms help-block"
							                     ng-show="newRequest.txDescripcion.$invalid && newRequest.txDireccion.$dirty">
							                     La descripción es requerida </span>
					               </div>
				              </div>
				              
                             <div class="col-xs-12 col-md-12">
                             <hr style="border:1px solid #e4e4e4;">
                            <div class="row centerRow">
                                <button class="btn btn-danger"   ng-click="payProducts()">
                                    PASO 2
                                </button>
                            </div>
                            </div>
			               </div>

                            

                        </fieldset>
                    </form>  
      
                </div>
           </div>
        

<!--            <div class="row" ng-show="flagsestatus.isPay"> -->
<!--                 <div class="col-md-12"> -->
                   
<!--                      <form class="formPay" name="formPay" > -->

<!--                         <fieldset> -->
<!--                             <legend>APROBADA</legend> -->

<!--                             <div class="row"> -->
<!--                             <div class="col-xs-6 col-md-6"> -->
<!-- 					             <div class="form-group"> -->
<!-- 						             <label>Aprobado Por:</label> -->
<!-- 						             <div class="input-group"> -->
<!-- 							            <div class="input-group-addon"> -->
<!-- 								           <i class="fa fa-user"></i> -->
<!-- 							            </div> -->
<!-- 							            <input class="form-control"  ng-model="requestVO.nbSolicitantvxe"  /> -->
<!-- 						             </div> -->
<!-- 					              </div> -->
<!-- 				            </div> -->
<!--                             <div class="col-xs-6 col-md-6"> -->
<!-- 					             <div class="form-group"> -->
<!-- 						             <label>Solicitante:</label> -->
<!-- 						             <div class="input-group"> -->
<!-- 							            <div class="input-group-addon"> -->
<!-- 								           <i class="fa fa-user"></i> -->
<!-- 							            </div> -->
<!-- 							            <input class="form-control"  ng-model="requestVO.nbSolicitantexd" readonly -->
<!-- 								            capitalize  /> -->
<!-- 						             </div> -->
<!-- 					              </div> -->
<!-- 				            </div>				             -->
<!--                             <div  class="col-xs-6 col-md-6"> -->
<!-- 								<div class="form-group"> -->
<!-- 									<label>Fecha y Hora Aprobada:</label> -->
<!-- 									<div class="input-group"> -->
<!-- 										<div class="input-group-addon"> -->
<!-- 											<i class="fa fa-building"></i> -->
<!-- 										</div> -->
<!-- 										<input type="text" class="form-control inputFecha" datetime-picker -->
<!-- 											ng-model="programarVO.fhIniciox" readonly /> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 				               <div class="col-xs-12 col-md-12"> -->
<!-- 					               <div class="form-group" -->
<!-- 						                ng-class="{'has-error':newRequest.txDescripcionAprob.$invalid && newRequest.txDescripcionAprob.$dirty}"> -->
<!-- 						                <label><span class="asteriskReq">*</span>Descripción:</label> -->
<!-- 						               <div class="input-group"> -->
<!-- 							              <div class="input-group-addon"> -->
<!-- 								             <i class="fa fa-comment"></i> -->
<!-- 							              </div> -->
<!-- 							                  <textarea class="form-control" rows="3" name="txDescripcion" id="txDescripcion" required -->
<!-- 								                ng-model="requestVO.txDescripcionAprob" capitalize style="resize: inherit;"> -->
<!-- 										      </textarea> -->
<!-- 						               </div> -->
<!-- 						                   <span class="fadeInDown a-3ms help-block" -->
<!-- 							                     ng-show="newRequest.txDescripcionAprob.$invalid && newRequest.txDescripcionAprob.$dirty"> -->
<!-- 							                     La descripción es requerida </span> -->
<!-- 					               </div> -->
<!-- 				              </div>                                -->
                              
<!--                             </div> -->

<!--                             <hr style="border:1px solid #e4e4e4;"> -->

<!--                             <div class="row centerRow"> -->
<!--                                 <button class="btn btn-danger" ng-click="payProducts()"> -->
<!--                                    Paso 3 -->
<!--                                 </button> -->
<!--                             </div> -->

<!--                         </fieldset> -->
<!--                     </form>                   -->
                        
                       
<!--                 </div> -->
<!--            </div> -->

           <div class="row" ng-show="flagsestatus.isReceit">
                <div class="col-md-12">
                
                     <form class="formPay" name="formPay" >

<!--                         <fieldset> -->
                        
                         	<ul class="nav nav-tabs preventClic">
					          <li role="presentation" class="tabBox" ng-class="{ 'active border-box':flags.isDatos}">
						          <a ng-click="toggleViewtabEstatus('d')">Datos</a>
					          </li>
					          <li role="presentation" class="tabBox" ng-class="{ 'active border-box':flags.isTabla }">
						          <a ng-click="toggleViewtabEstatus('t')">Tabla</a>
					          </li>
				</ul>   
                         <div class="box-body ngShowEnter" ng-if="flags.isDatos">
                              <div class="row">
                           <div class="col-xs-6 col-md-6">
					             <div class="form-group">
						             <label>Encargado Por:</label>
						             <div class="input-group">
							            <div class="input-group-addon">
								           <i class="fa fa-user"></i>
							            </div>
							            <input class="form-control"  ng-model="requestVO.nbencargado"/>
						             </div>
					              </div>
				            </div>
                            <div class="col-xs-6 col-md-6">
					             <div class="form-group">
						             <label>Solicitante:</label>
						             <div class="input-group">
							            <div class="input-group-addon">
								           <i class="fa fa-user"></i>
							            </div>
							            <input class="form-control"  ng-model="requestVO.nbSolicitantexx"  readonly
								            capitalize  />
						             </div>
					              </div>
				            </div>				            
                            <div  class="col-xs-6 col-md-6">
								<div class="form-group">
									<label>Fecha y Hora de Preparación:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-building"></i>
										</div>
										<input type="text" class="form-control inputFecha" datetime-picker
											ng-model="programarVO.fhPreparacion" readonly />
									</div>
								</div>
							</div>
				               <div class="col-xs-12 col-md-12">
					               <div class="form-group"
						                ng-class="{'has-error':newRequest.txDescripcionPrep.$invalid && newRequest.txDescripcionPrep.$dirty}">
						                <label><span class="asteriskReq">*</span>Descripción:</label>
						               <div class="input-group">
							              <div class="input-group-addon">
								             <i class="fa fa-comment"></i>
							              </div>
							                  <textarea class="form-control" rows="3" name="txDescripcion" id="txDescripcion" required
								                ng-model="requestVO.txDescripcionPrep" capitalize style="resize: inherit;">
										      </textarea>
						               </div>
						                   <span class="fadeInDown a-3ms help-block"
							                     ng-show="newRequest.txDescripcionPrep.$invalid && newRequest.txDescripcionPrep.$dirty">
							                     La descripción es requerida </span>
					               </div>
				              </div>    
                               
                              
                            </div>                      
                         </div>
                         
                         <div class="box-body ngShowEnter" ng-if="flags.isTabla">
                     <div class="col-xs-12 col-md-12">
                    <table class="table table-hover header-fixed fixed-pay">
                        <thead>
                            <tr>
										<th class="center" >CLAVE PRODUCTO</th>

										<th class="center" >PRODUCTO</th>
 
										<th class="center" >TIPOs</th>
											
										<th class="center" >CLASIF./SABORES</th>

										<th class="center">CANT./PIEZAS</th>
										
										<th class="center">CANT./PIEZAS AUTORIZADA</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="detailVO in lists.pedidoPorSucursal">
                                        <td class="center" >{{detailVO.cdProducto}}</td>
										<td class="center" >{{detailVO.nbTipoProducto}}</td>
										<td class="center" >{{detailVO.cdTipoProducto}}</td>
										<td class="center" >{{detailVO.clasificacion}}</td>
										<td class="center" >{{detailVO.cantSolicitado}}</td>
                                        <td class="center" > <div  class="input-group">
										      <input class="form-control" name="nuCantidadRecib"
                                                    ng-model="cta.cantSolicitado" capitalize required /></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                         </div>


                            <hr style="border:1px solid #e4e4e4;">

                            <div class="row centerRow">
                                <button class="btn btn-danger" ng-click="payEncurso()">
                                     Paso 4
                                </button>
                            </div>

<!--                         </fieldset> -->
                    </form>                  
                        
                       
                </div>
           </div> <!--  -->
           
           
<!--  -->  <div class="row" ng-show="flagsestatus.isEnCurso">
                <div class="col-md-12">
                  
                     <form class="formPay" name="formPay" >

                        <fieldset>
                            <legend>EN CURSO</legend>

                            <div class="row">
                           <div class="col-xs-6 col-md-6">
					             <div class="form-group">
						             <label>Chofer encargado:</label>
						             <div class="input-group">
							            <div class="input-group-addon">
								           <i class="fa fa-user"></i>
							            </div>
							            <input class="form-control"  ng-model="requestVO.nbchofer" />
						             </div>
					              </div>
				            </div>
                            <div class="col-xs-6 col-md-6">
					             <div class="form-group">
						             <label>Destino:</label>
						             <div class="input-group">
							            <div class="input-group-addon">
								           <i class="fa fa-map-marker"></i>
							            </div>
							            <input class="form-control"  ng-model="detailVO.direccion" />
						             </div>
					              </div>
				            </div>				            
                            <div  class="col-xs-6 col-md-6">
								<div class="form-group">
									<label>Fecha y Hora de Salida:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-building"></i>
										</div>
										<input type="text" class="form-control inputFecha" datetime-picker
											ng-model="programarVO.fhsalida" readonly />
									</div>
								</div>
							</div>
				               <div class="col-xs-12 col-md-12">
					               <div class="form-group"
						                ng-class="{'has-error':newRequest.txDescripcionsalida.$invalid && newRequest.txDescripcionsalida.$dirty}">
						                <label><span class="asteriskReq">*</span>Descripción:</label>
						               <div class="input-group">
							              <div class="input-group-addon">
								             <i class="fa fa-comment"></i>
							              </div>
							                  <textarea class="form-control" rows="3" name="txDescripcion" id="txDescripcion" required
								                ng-model="requestVO.txDescripcionsalida" capitalize style="resize: inherit;">
										      </textarea>
						               </div>
						                   <span class="fadeInDown a-3ms help-block"
							                     ng-show="newRequest.txDescripcionc.$invalid && newRequest.txDireccion.$dirty">
							                     La descripción es requerida </span>
					               </div>
				              </div>    
                               
                              
                            </div>

                            <hr style="border:1px solid #e4e4e4;">

                            <div class="row centerRow">
                                <button class="btn btn-danger" ng-click="payEntrega()">
                                      Paso 5
                                </button>
                            </div>

                        </fieldset>
                    </form>                  
                        
                       
                </div>
<!--  -->   </div>
           

<!--  -->  <div class="row" ng-show="flagsestatus.isEntrega">
                <div class="col-md-12">
                   
                     <form class="formPay" name="formPay" >

                        <fieldset>
                            <legend>ENTREGADA</legend>

                            <div class="row">
                           <div class="col-xs-6 col-md-6">
					             <div class="form-group">
						             <label>Encargado Por:</label>
						             <div class="input-group">
							            <div class="input-group-addon">
								           <i class="fa fa-user"></i>
							            </div>
							            <input class="form-control"  ng-model="requestVO.nbChofer" readonly
								            capitalize />
						             </div>
					              </div>
				            </div>
                            <div class="col-xs-6 col-md-6">
					             <div class="form-group">
						             <label>Recibido Por:</label>
						             <div class="input-group">
							            <div class="input-group-addon">
								           <i class="fa fa-user"></i>
							            </div>
							            <input class="form-control"  ng-model="detailVO.recibio" />
						             </div>
					              </div>
				            </div>				            
                            <div  class="col-xs-6 col-md-6">
								<div class="form-group">
									<label>Fecha y Hora de Entrega:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-building"></i>
										</div>
										<input type="text" class="form-control inputFecha" datetime-picker
											ng-model="programarVO.fhEntrega" readonly />
									</div>
								</div>
							</div>
				               <div class="col-xs-12 col-md-12">
					               <div class="form-group"
						                ng-class="{'has-error':newRequest.txDescripcion.$invalid && newRequest.txDescripcion.$dirty}">
						                <label><span class="asteriskReq">*</span>Descripción:</label>
						               <div class="input-group">
							              <div class="input-group-addon">
								             <i class="fa fa-comment"></i>
							              </div>
							                  <textarea class="form-control" rows="3" name="txDescripcion" id="txDescripcion" required
								                ng-model="requestVO.txDescripcionEnt" capitalize style="resize: inherit;">
										      </textarea>
						               </div>
						                   <span class="fadeInDown a-3ms help-block"
							                     ng-show="newRequest.txDescripcionEnt.$invalid && newRequest.txDireccion.$dirty">
							                     La descripción es requerida </span>
					               </div>
				              </div>   
                              
                            </div>

                            <hr style="border:1px solid #e4e4e4;">

                            <div class="row centerRow">
                                <button class="btn btn-danger" ng-click="quitModalEstatus()" >
                                   Finalizar pedido
                                </button>
                            </div>

                        </fieldset>
                    </form>                  
                        
                       
                </div>
<!--  -->   </div>
                   
        
        </div>
	   <!-- FIN -->					
					
				
		

		
	</toast-content>

</toast>

<!-- FIN TOAST INFO SUCURSAL -->







</section>