<!DOCTYPE html>
<html ng-app="baseTeclo">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta content="/images/branding/googleg/1x/googleg_standard_color_128dp.png" itemprop="image" />
	<link type="image/x-icon" href="static/dist/img/iconTeclo.ico" rel="shortcut icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	
	<title id="titleapp"></title>
	
	<link rel="stylesheet" href="static/dist/css/base.css" />
	
</head>

<!-- -----------------------------------------------------------------------------------
---- ** EMPIEZA CONTENIDO ONE PAGE ** -->

<body id="bodyGlobal" ng-controller="templateController"
	class="hold-transition {{configuracionApp.tema.cdTema}} sidebar-mini"
	fullscreen="fullScreenActive" only-watched-property ng-cloak>

	<div class="wrapper ngOnlyEnterApp"
		ng-if="currentPath() != '/'  && currentPath() != '/invitado'" ng-cloak>
		<div ng-include="'header.html'">
			<!-- ** HEADER **-->
		</div>
		<div ng-include="'menu.html'">
			<!-- ** MENU **-->
		</div>
		<div class="content-wrapper">
			<div ng-view class="animateVistas">
				<!-- ** CONTENIDO POR PÁGINA **-->
			</div>
			<!-- Botón ir arriba -->
			<div class="scrollup">
				<i class="fa fa-chevron-up"></i>
			</div>
			<!-- /Botón ir arriba -->

			<!-- Notificaciones -->
			<div growl limit-messages="5"></div>
		</div>
		<div ng-include="'footer.html'">
			<!-- ** FOOTER **-->
		</div>

		<div ng-include="'prevshoppingcar.html'">
			<!-- Template de la vista previa del carrito de compras -->
		</div>
		<div ng-include="'toast.payproducts.html'">
			<!-- Template de la vista previa del carrito de compras -->
		</div>
	</div>
	<!-- Validación de login -->
	<div class="ngOnlyEnter" ng-if="currentPath() === '/' || currentPath() == '/invitado'" ng-view ng-cloak>
		<!-- ** LOGIN **-->
	</div>
</body>

<!-- ** TERMINA CONTENIDO ONE PAGE ** 
------------------------------------------------------------------------------------ -->

<!--______________________________.:: JQUERY v2.2.0 ::.________________________________ -->
<script src="static/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<script src="static/dist/js/jquery-ui.min.js"></script>

<!--____________________________.:: BOOTSTRAP v3.3.6 ::._______________________________ -->
<script src="static/dist/js/bootstrap.min.js"></script>

<!--___________________________.:: ANGULAR-JS v1.5.8 ::._______________________________ -->
<script src="static/js/angular.min.js"></script>

<!-- LIBRERIAS ANGULAR-JS -->
	<!-- Block UI v0.2.1 -->
	<script src="static/plugins/blockUI/angular-block-ui.min.js"></script>
	<!-- Device Detector -->
	<script src="static/js/lib/re-tree.min.js"></script>
	<script src="static/js/lib/ng-device-detector.min.js"></script>
	<!-- JWT -->
	<script src="static/js/lib/angular-jwt.min.js"></script>
	<!-- NG Storage -->
	<script src="static/js/lib/ngStorage.min.js"></script>
	<!-- Route lib -->
	<script src="static/js/lib/angular-route.min.js"></script>
	<!-- Traslate lib -->
	<script src="static/js/lib/angular-translate.min.js"></script>
	<script src="static/js/lib/angular-translate-loader-static-files.min.js"></script>
	<!-- Translate Storage Cookie-->
	<script src="static/js/lib/angular-translate-storage-local.min.js"></script>
	<script src="static/js/lib/angular-translate-storage-cookie.min.js"></script>
	<!-- Angular drag and drop -->
	<script src="static/js/lib/angular-drag-and-drop-lists.min.js"></script>
	<!-- Cookies lib -->
	<script src="static/js/lib/angular-cookies.min.js"></script>
	<!-- Resource lib -->
	<script src="static/js/lib/angular-resource.min.js"></script>
	<!-- Responsive lib -->
	<script src="static/js/lib/angular-responsive.js"></script>
	<!-- Upload Module -->
	<script src="static/js/lib/angular-base64-upload.js"></script>
	<!-- Animate -->
	<script src="static/dist/js/angular-animate.min.js"></script>
	
<!-- LIBRERIAS -->
	<!-- Moment -->
	<script src="static/js/lib/moment.js"></script>
	<!-- bootstrap carousel -->
	<script src="static/js/lib/ui-bootstrap-tpls.min.js"></script>
	<!-- Underscore -->
	<script src="static/js/lib/underscore-min.js"></script>
	<!-- humanizeDuration -->
	<script src="static/js/lib/humanizeDuration.js"></script>
	<!-- Canvas -->
	<script src="static/js/lib/canvasjs.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-base64.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-utf8.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/sha512.min.js"></script>
		
<!--_________________________________.:: PLUGINS ::.___________________________________ -->

	<!-- SlimScroll 1.3.0 -->
	<script src="static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="static/plugins/fastclick/fastclick.js"></script>
	<!-- Sparkline v2.1.2 -->
	<script src="static/plugins/sparkline/jquery.sparkline.min.js"></script>
	<!-- Jvectormap v1.2.2 -->
	<script src="static/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="static/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
	<!-- ChartJS 1.0.1 -->
	<script src="static/plugins/chartjs/Chart.min.js"></script>
	<!-- Raphael 1.0.0 -->
	<script src="static/dist/js/pages/raphael-min.js"></script>
	<!-- Morris 1.0.0 -->
	<script src="static/dist/js/pages/morris.min.js"></script>
	<!-- bootstrap datepicker v2.0.0 -->
	<script src="static/plugins/datepicker/bootstrap-datepicker.js"></script>
	<!-- bootstrap timepicker v0.2.3 -->
	<script src="static/plugins/timepicker/bootstrap-timepicker.min.js"></script>
	<!-- bootstrap datetimepicker v4.15.35 -->
	<script src="static/plugins/datetimepicker-v4/bootstrap-datetimepicker.js"></script>
	<!-- Select2 v4.0.1 -->
	<script src="static/plugins/select2/select2.full.min.js"></script>
	<!-- Plugin WebUI-Popover v1.2.17 -->
	<script src="static/plugins/webui-popover/webui-popover.js"></script>
	<!-- Plugin SmartWizard - Steps v3.3.1 -->
	<script src="static/plugins/smartWizard/smartWizard.js"></script>
	<!-- DataTables v1.10.7 -->
	<script src="static/plugins/datatables/jquery.dataTables.min.js"></script>
	<!-- InputMask -->
	<script src="static/plugins/input-mask/jquery.inputmask.js"></script>
	<script src="static/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
	<script src="static/plugins/input-mask/jquery.inputmask.extensions.js"></script>
	<!-- Plugin alertas Javascript -->
	<script src="static/plugins/notify/notify.js"></script>
	<script src="static/plugins/notify/prettify.js"></script>
	<!-- BootstrapSelect v1.12.3-->
	<script src="static/plugins/bootstrapSelect/bootstrap-select.min.js"></script>
	
	<!--bootstrap-star-rating -->
	<script src="static/plugins/bootstrap-star-rating/star-rating.min.js"></script>
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/css/star-rating.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/js/star-rating.min.js"></script> -->
	
	<!-- SVG INJECT -->
	<script src="static/plugins/svginject.js"></script>
	
	<!-- PLUGIN SLICK -->
	<script src="static/plugins/slick/slick.min.js"></script>
	
	
	<!-- Colorpicker v2.0.0 -->
	<script src="static/plugins/colorpicker/bootstrap-colorpicker.js"></script>
	<!-- AMCHARTS -->
    <script src="static/plugins/amcharts/amcharts.js"></script>
    <script src="static/plugins/amcharts/ammap.js"></script>
    <script src="static/plugins/amcharts/mapMexico-svg.js"></script>
    <script src="static/plugins/amcharts/serial.js"></script>
    <script src="static/plugins/amcharts/piechart.js"></script>
    <script src="static/plugins/amcharts/funnel.js"></script>
    <script src="static/plugins/amcharts/gantt.js"></script>
    <script src="static/plugins/amcharts/gauge.js"></script>
    <script src="static/plugins/amcharts/radar.js"></script>
    <script src="static/plugins/amcharts/themes/black.js"></script>
    <script src="static/plugins/amcharts/themes/chalk.js"></script>
    <script src="static/plugins/amcharts/themes/dark.js"></script>
    <script src="static/plugins/amcharts/themes/light.js"></script>
    <script src="static/plugins/amcharts/themes/themeTeclo.js"></script>
    <script src="static/plugins/amcharts/themes/patterns.js"></script>
    <script src="static/plugins/amcharts/themes/customThemes.js"></script>
	<script src="static/plugins/amcharts/export/export.min.js"></script>
	
	<!-- UPLOAD PICTURE PLUGIN -->
	<script src="static/plugins/angular-file-upload/angular-file-upload.js" type="text/javascript"></script>
	<script src="static/plugins/angular-file-upload/es5-shim.min.js" type="text/javascript"></script>
	<script src="static/plugins/angular-file-upload/es5-sham.min.js" type="text/javascript"></script>
	<script src="static/plugins/angular-file-upload/console-sham.js" type="text/javascript"></script>
	
<!--_________________________________.:: BASE ::.______________________________________ -->

	<!-- Angular app -->
	<script src="static/js/app.js"></script>
	<!-- AdminLTE App -->
	<script src="static/dist/js/appTeclo.js"></script>
	<!-- Components Custom -->
	<script src="static/dist/js/components.js"></script>

<!--________________________________.:: CONFIG ::.______________________________________ -->
	
	<!-- Constantes -->
	<script src="static/js/constantes/constanteConfig.js"></script>
	<!-- Route -->
	<script src="static/js/config/routeConfig.js"></script>
	<!-- Event -->
	<script src="static/js/events/routeEvent.js"></script>
	<!-- Storage -->
	<script src="static/js/config/storageConfig.js"></script>
	<!-- Locale config -->
	<script src="static/js/config/angular-locale_es-mx.js"></script>
	<!-- Translate -->
	<script src="static/js/config/angular-translate.js"></script>
	<!-- Growl notify -->
	<script src="static/js/config/notifyConfig.js"></script>

<!--_____________________________.:: INTERCEPTORES ::.__________________________________ -->
	
	<!-- Interceptors -->
	<script src="static/js/interceptors/interceptorsConfig.js"></script>
	<!-- Request -->
	<script src="static/js/interceptors/requestInterceptor.js"></script>
	<!-- Error -->
	<script src="static/js/interceptors/errorInterceptor.js"></script>

<!--_______________________________.:: FACTORYS ::._____________________________________ -->

	<!-- Mensajes errores -->
	<script src="static/js/factorys/messageFactory.js"></script>
	<!-- Mensajes modal -->
	<script src="static/js/factorys/mensajesModalFactory.js"></script>

<!--_______________________________.:: FILTERS ::.______________________________________ -->
	<!-- formatDateTime -->
	<script src="static/js/filters/formatDateTime.js"></script>
	<!-- groupBy | contartexto -->
	<script src="static/js/filters/angularFilters.js"></script>
	<!-- tiempoRelativo | timeMinutes -->
	<script src="static/js/filters/tiempoRelativo.js"></script>

<!--______________________________.:: DIRECTIVES ::._____________________________________ -->
	<!-- integerNumber | integerDecimal -->
	<script src="static/js/directivas/integerNumberOnlyDirective.js"></script>
	<!-- dirPagination -->
	<script src="static/js/directivas/pagination.js"></script>
	<!-- checklistModel -->
	<script src="static/js/directivas/checklist-model.js"></script>
	<!-- capitalize -->
	<script src="static/js/directivas/textUpperCase.js"></script>
	<!-- progressBar -->
	<script src="static/js/directivas/progressBar.js"></script>
	<!-- onFinishRender -->
	<script src="static/js/directivas/emitLastRepeaterElement.js"></script>
	<!-- camelCase -->
	<script src="static/js/directivas/camelCase-directive.js"></script>
	<!-- sort -->
	<script src="static/js/directivas/sort.directive.js"></script>
	<!-- rowsPerPage -->
	<script src="static/js/directivas/rowsPerPage.js"></script>
	<!-- fullscreen -->
	<script src="static/js/directivas/angular-fullscreen.js"></script>
	<!-- datePicker -->
	<script src="static/js/directivas/datepicker-directive.js"></script>
	<!-- timePicker -->
	<script src="static/js/directivas/timepicker-directive.js"></script>
	<!-- datetimePicker -->
	<script src="static/js/directivas/datetimepicker-directive.js"></script>
	<!-- select2 -->
	<script src="static/js/directivas/select2-directive.js"></script>
	<!-- selectPicker -->
	<script src="static/js/directivas/selectpicker-directive.js"></script>
	<!-- tooltip -->
	<script src="static/js/directivas/tooltip-directive.js"></script>
	<!-- switcher -->
	<script src="static/js/directivas/switch-directive.js"></script>
	<!-- webuipopover -->
	<script src="static/js/directivas/webuiPopover-directive.js"></script>
	<!-- popover -->
	<script src="static/js/directivas/popoverBootstrap-directive.js"></script>
	<!-- wizard -->
	<script src="static/js/directivas/angularWizard-directive.js"></script>
	<!-- modal && modalHeader && modalBody && modalFooter -->
	<script src="static/js/directivas/modalBootstrap-directive.js"></script>
	<!-- growl -->
	<script src="static/plugins/growlNotify/angular-growl.js"></script>
	<!-- dndLists -->
	<script src="static/js/directivas/dragNdropLists-directive.js"></script>
	<!-- DIRECTIVA DE AUTOCOMPLETE -->
	<script src="static/js/directivas/autocomplete-directive.js"></script>
	<!-- COUNTER -->
	<script src="static/js/directivas/angular-counter.min.js"></script>
	
	<script src="static/js/directivas/tabConfigurationDirective.js"></script>
	<!-- SLIDER -->
	<script src="static/js/directivas/rzslider-directive.js"></script>
	<!-- directiva mascara de moneda -->
	<script src="static/js/directivas/rw-money-mask.js"></script>
	<!-- SLICK-CAROUSEL -->
	<script src="static/js/directivas/slick.directive.js"></script>
	<!--DIRECTIVA DEL TOAST-->
	<script src="static/js/directivas/toast.directive.js"></script>
	<!--DIRECTIVA DEL CAROUSEL-->
	<script src="static/js/directivas/carousel.directive.js"></script>
	<!--DIRECTIVA DRAG-N-DROP ELEMENT-->
	<script src="static/js/directivas/dndelement.directive.js"></script>
	

 <!-- Mapa Google  -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa8nkCVL_PA7eky6v7bDeZIWn1JoNMwh8&libraries=places" async defer></script>

<!--______________________________.:: SERVICES ::._______________________________________ -->

<!-- APLICACIÓN -->
	<!-- JWT -->
	<script src="static/js/services/aplicacion/jwtService.js"></script>
	<!-- Storage -->
	<script src="static/js/services/aplicacion/storageService.js"></script>
	<!-- Login -->
	<script src="static/js/services/aplicacion/loginService.js"></script>
	<script src="static/js/services/aplicacion/logOutService.js"></script>
	<!-- Menu -->
	<script src="static/js/services/aplicacion/menuDinamicoService.js"></script>
	
	<!-- Modal -->
	<script src="static/dist/js/angular-modal-service.js"></script>
	<script src="static/js/services/aplicacion/alertasModalService.js"></script>

<!-- GESTIÓN DE INVENTARIO -->
	<script src="static/js/services/inventario/inventarioService.js"></script>

<!-- GESTIÓN DE INVENTARIO -->
	<script src="static/js/services/venta/ventaService.js"></script>

<!-- GESTIÓN DE SUCURSALES -->
	<script src="static/js/services/sucursales/seguimientoService.js"></script>
    <script src="static/js/services/sucursales/existenciaSucursalService.js"></script>
    <script src="static/js/services/sucursales/ubicacionService.js"></script>
    
<!-- ADMINISTRACIÓN -->	
	<script src="static/js/services/administracion/administracionService.js"></script>
	<!-- Configuración aplicación -->
	<script src="static/js/services/aplicacion/configAppService.js"></script>
	
<!-- CORTE DE CAJA -->	
<script src="static/js/services/ventasMatriz/aperturaCajaService.js"></script>
<script src="static/js/services/ventasMatriz/movimientoCajaService.js"></script>	
<script src="static/js/services/ventasMatriz/corteCajaService.js"></script>	

<script src="static/js/services/ventasMatriz/depositoParcialService.js"></script>
<script src="static/js/services/ventasMatriz/listaCorteCajaService.js"></script>

<!--______________________________.:: CONTROLLERS ::._______________________________________ -->

<!-- TEMPLATE -->
	<script src="static/js/controllers/login/templateController.js"></script>
	<!-- Login -->
	<script src="static/js/controllers/login/loginController.js"></script>
	<!-- Header -->
	<script src="static/js/controllers/login/headerController.js"></script>
	<!-- Menu -->
	<script src="static/js/controllers/login/menuController.js"></script>
	<!-- Footer -->
	<script src="static/js/controllers/login/footerController.js"></script>
	
	<!-- Modal -->
	<script src="static/js/controllers/templatemodal/modalController.js"></script>
	<script src="static/js/controllers/templatemodal/mensajeModalController.js"></script>
	<script src="static/js/controllers/templatemodal/modalMensajeController.js"></script>
	<script src="static/js/controllers/templatemodal/mensajeTokenModalController.js"></script>

<!--GESTION DE SUCURSALES-->
	<script src="static/js/controllers/sucursales/ubicacionSucursalesController.js"></script>
    <script src="static/js/controllers/sucursales/seguimientoController.js"></script>
     <script src="static/js/controllers/sucursales/existenciaSucursalController.js"></script>
     
<!-- GESTIÓN DE INVENTARIO -->
	<script src="static/js/controllers/inventario/controlExistenciaController.js"></script>
	<!--CONTROL DE ENTRADA A ALMANCEN-->
	<script src="static/js/controllers/inventario/entradasAlmacenController.js"></script>
	<!-- PRODUCTOS -->
	<script src="static/js/controllers/inventario/productosController.js"></script>

<!-- GESTIÓN DE VENTAS -->
	<!-- Ventas -->
	<script src="static/js/controllers/ventas/cartaController.js"></script>
	<script src="static/js/controllers/ventas/puntoVentaController.js"></script>
	<script src="static/js/controllers/ventas/productos/paletasController.js"></script>
	<script src="static/js/controllers/ventas/productos/malteadasController.js"></script>
	<script src="static/js/controllers/ventas/productos/cafesController.js"></script>
	<script src="static/js/controllers/ventas/productos/frappesController.js"></script>

	<!-- Seguimiento de pedidos -->
	<script src="static/js/controllers/ventas/seguimientoPedidosController.js"></script>

<!-- CORTE DE CAJA -->	
    <script src="static/js/controllers/ventasMatriz/aperturaCajaController.js"></script>
    <script src="static/js/controllers/ventasMatriz/movimientoCajaController.js"></script>
    <script src="static/js/controllers/ventasMatriz/corteCajaController.js"></script>

    <script src="static/js/controllers/ventasMatriz/depositoParcialController.js"></script>
    <script src="static/js/controllers/ventasMatriz/listaCorteCajaController.js"></script>

<!-- 	Dashboard -->
	<script src="static/js/controllers/dashboard/dashboardProveedoresController.js"></script>
	<script src="static/js/controllers/dashboard/dashboardVentasController.js"></script>
	<script src="static/js/controllers/dashboard/unidadesActivasController.js"></script>
	<script src="static/js/controllers/dashboard/unidadesReparacionController.js"></script>
	<script src="static/js/controllers/dashboard/unidadesDetenidosController.js"></script>
	<script src="static/js/controllers/dashboard/dashboardVentasSucursalController.js"></script>

<!-- ADMINISTRACIÓN -->
	<!-- Configuración aplicación -->
	<script src="static/js/controllers/administracion/configuracionAppController.js"></script>
	<!-- Cambiar contraseña -->
	<script src="static/js/controllers/administracion/administracionModificaClaveController.js"></script>

	<!-- Componentes web -->
	<script src="static/js/controllers/administracion/resources/pluginsWebController.js"></script>
	<script src="static/js/controllers/administracion/resources/pasoUnoController.js"></script>
	<script src="static/js/controllers/administracion/resources/pasoDosController.js"></script>
	<script src="static/js/controllers/administracion/resources/pasoTresController.js"></script>
	<!-- Herramientas web -->
	<script src="static/js/controllers/administracion/resources/toolsWebController.js"></script>
	
	
</html>
