<nav class="carprev ngFadeOut"
    ng-if="shoppingcar.isShoppingview"
    ng-click="shoppingcar.isShoppingview=false;">
    <div class="carprev-content"
        ng-click="$event.stopPropagation()">
        
        <div class="carprev-content__body">
            <div class="titleproducts">
                <h4>Productos: {{ shoppingcar.listProducts.length }}</h4>
                <span ng-click="shoppingcar.isShoppingview=false;">
                    &times;
                </span>
            </div>
            <div id="scrollProductscar" ng-if="shoppingcar.listProducts.length > 0">
                <table class="table table-hover products">
                    <tbody>
                        <tr ng-repeat="product in shoppingcar.listProducts">
                            <td class="alignMiddle text-center" width="20%">
                                <img ng-src="{{ product.lbProducto }}" />
                            </td>
                            <td class="alignMiddle" width="70%">
                                <label>{{ product.nbProducto }}</label>
                                <br>
                                <span class="badge">{{ product.nuCantidad }}</span>
                                <span class="price">${{ product.nuTotal }}</span>
                            </td>
                            <td class="alignMiddle text-center" width="10%"
                                tooltip="Quitar producto" tooltip-placement="left"
                                ng-if="!shoppingcar.isShowPay"
                                ng-click="removeOfcar(product)">
                                <i class="fa fa-times"></i>
                            </td>
                            <td class="alignMiddle text-center" width="10%"
                                tooltip="Quitar producto" tooltip-placement="left"
                                ng-if="shoppingcar.isShowPay">
                                <i class="fa fa-times disabled"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="none-products" ng-if="shoppingcar.listProducts.length === 0">
                <i class="fa fa-shopping-cart"></i>
                <i class="textproduct">
                    El carrito de compras está vacío
                </i>
            </div>
        </div>

        <div class="carprev-content__foot">
            <table class="table qantity">
                <tbody>
                    <tr>
                        <td class="text-right">
                            <label>SUB-TOTAL</label>
                        </td>
                        <td class="text-right">
                            <strong>
                                {{ shoppingcar.listProducts.length === 0 
                                    ? '$0.00'
                                    : '$'+shoppingcar.subtotal }}
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">
                            <label>TOTAL</label>
                        </td>
                        <td class="text-right">
                            <strong>
                                {{ shoppingcar.listProducts.length === 0
                                    ? '$0.00'
                                    : '$'+shoppingcar.total }}
                            </strong>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="buttons">
                <a class="btn btn-block"
                    ng-click="empyingCar()"
                    ng-disabled="shoppingcar.listProducts.length === 0">
                    Vaciar carrito
                </a>
                <button class="btn btn-danger btn-block"
                    ng-click="toPay(shoppingcar.listProducts)"
                    ng-disabled="shoppingcar.listProducts.length === 0 || shoppingcar.isShowPay">
                    Realizar pago
                </button>
            </div>
        </div>

    </div>
</nav>