<!-- TOAS DETALLE DEL PRODUCTOS -->
<toast is-toast="shoppingcar.isShowPay"
    on-show="showToast()"
    on-hide="quitModalDetail()"
    icon-toast="fa-credit-card"
    hidden-close="false" backdrop-toast="true" uppercase-title="true"
    width-toast="60%"
    title-toast="PAGO DE PRODUCTOS">
	<toast-content>
        <div class="content-wizardSteps">
            <div class="progress wizard__progress">
                <div id="progress-wizard" class="progress-bar fadeInLeft a-10ms"
                    role="progressbar"
                    aria-valuenow="10%"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width: 10%">
                </div>
            </div>

            <div class="wizard__steps">
                <ul class="steps">
                    <li ng-repeat="node in shoppingcar.listNodespay track by $index" class="fadeInDown a-7ms"
                        ng-class="{'active':node.isActive,'deploy':node.isDeploy}"
                        ng-click="toStep(node)">
                        <div class="step-icon">
                            <i class="fa {{node.iconNode}}"></i>
                        </div>
                        <div class="step-title">
                            {{node.titleNode}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
        <hr style="border:1px solid #e4e4e4;">
        
        <div class="wizard-body">

            <div class="row" ng-show="flagspay.isCar">
                <div class="col-md-9">
                    <table class="table table-hover header-fixed fixed-pay">
                        <thead>
                            <tr>
                                <th>IMAGEN</th>
                                <th width="166px">PRODUCTO</th>
                                <th width="130px">CANTIDAD</th>
                                <th>PRECIO</th>
                                <th>TOTAL</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pro in shoppingcar.listProducts">
                                <td class="alignMiddle text-center">
                                    <img ng-src="{{ pro.lbProducto }}" height="40" />
                                </td>
                                <td width="166px" class="alignMiddle text-truncate">
                                    <span tooltip="{{ pro.nbProducto }}" tooltip-placement="top">
                                        {{ pro.nbProducto }}
                                    </span>
                                </td>
                                <td width="130px" class="alignMiddle">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <a class="btn" style="box-shadow:none;">
                                                    <i class="fa fa-minus"
                                                        style="color: #cf0a2c !important">
                                                    </i>
                                                </a>
                                            </div>

                                            <input type="text" class="form-control text-center inputFecha"
                                                integer-number ng-model="pro.nuCantidad" readonly />

                                            <div class="input-group-btn">
                                                <a class="btn" style="box-shadow:inherit;">
                                                    <i class="fa fa-plus"
                                                        style="color: #cf0a2c !important">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center alignMiddle">
                                    <label>${{ pro.nuPrecio }}</label>
                                </td>
                                <td class="text-center alignMiddle">
                                    <label>${{ pro.nuTotal }}</label>
                                </td>
                                <td class="text-center alignMiddle">
                                    <a class="btn btn-box-tool" ng-click="removeOfcar(pro)">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">
                    <div class="carprev-content__foot">
                        <div class="form-group">
                            <label>Forma de pago:</label>
                            <select name="typePay" id="typePay" class="form-control"
                                select2
                                data-minimum-results-for-search="Infinity"
                                ng-model="shoppingcar.typePay">
                                
                                <option value="efectivo" selected="true">Efectivo</option>
                                <option value="tarjeta">Tarjeta</option>
                                
                            </select>
                        </div>
                        <table class="table qantity" style="margin-top:0.5rem;">
                            <tbody>
                                <tr>
                                    <td class="text-right">
                                        <label>SUB-TOTAL</label>
                                    </td>
                                    <td class="text-right">
                                        <strong>
                                            {{ shoppingcar.listProducts.length === 0 
                                                ? '$0.00'
                                                : '$'+shoppingcar.subtotal }}
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                        <label>TOTAL</label>
                                    </td>
                                    <td class="text-right">
                                        <strong>
                                            {{ shoppingcar.listProducts.length === 0
                                                ? '$0.00'
                                                : '$'+shoppingcar.total }}
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="buttons">
                            <button class="btn btn-danger btn-block"
                                ng-click="nextPay()">
                                Continuar al pago
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="flagspay.isPay">
                <div class="col-md-12">
                    
                    <form class="formPay" name="formPay" ng-if="flagspay.isCashPay">

                        <fieldset>
                            <legend>PAGO EN EFECTIVO</legend>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Subtotal:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <strong>$</strong>
                                            </div>
                                            <input class="form-control text-right inputFecha" name="subtotalPay"
                                                ng-model="shoppingcar.subtotal"
                                                readonly capitalize />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Total a pagar:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <strong>$</strong>
                                            </div>
                                            <input class="form-control text-right inputFecha" name="totalPay"
                                                ng-model="shoppingcar.total"
                                                readonly capitalize />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Monto recibido:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                    <strong>$</strong>
                                            </div>
                                            <input class="form-control text-right" name="mountReceive"
                                                ng-model="shoppingcar.mountreceive"
                                                ng-change="countDevol(shoppingcar.mountreceive)"
                                                capitalize />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <table class="table">
                                        <tr>
                                            <td class="text-right">
                                                <label>Cambio:</label>
                                            </td>
                                            <td class="text-right">
                                                <strong style="color:#00BFA5">
                                                    ${{ shoppingcar.changedevol }}
                                                </strong>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <hr style="border:1px solid #e4e4e4;">

                            <div class="row centerRow">
                                <button class="btn btn-danger" ng-click="payProducts()">
                                    Realizar pago y generar recibo
                                </button>
                            </div>

                        </fieldset>
                    </form>

                    <form class="formPay" name="formPay" ng-if="flagspay.isCardPay">
                        <fieldset>
                            <legend>PAGO CON TARJETA</legend>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Número de tarjeta:</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-credit-card"></i>
                                                    </div>
                                                    <input class="form-control" name="nuCard"
                                                        ng-model="shoppingcar.nuCard" maxlength="16"
                                                        integer-number />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Nombre completo:</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </div>
                                                    <input class="form-control" name="nbName"
                                                        ng-model="shoppingcar.nbName" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Fecha de expiración:</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input class="form-control" name="fhExpirate"
                                                        ng-model="shoppingcar.fhExpirate" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Código CCV:</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-asterisk"></i>
                                                    </div>
                                                    <input class="form-control" name="cdCcv"
                                                        ng-model="shoppingcar.cdCcv" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    
                                    <div class="contentcard" style="width: 100%;text-align: center;">
                                        <img src="static/dist/img/credit-card.png" style="height: 17rem;" />
                                    </div>

                                </div>
                            </div>

                            <hr style="border:1px solid #e4e4e4;">

                            <div class="row centerRow">
                                <button class="btn btn-danger" ng-click="payProducts()">
                                    Realizar pago y generar recibo
                                </button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>

            <div class="row" ng-show="flagspay.isReceit">
                <div class="col-md-12">
                    <div id="receit" class="contentreceit row">
                        
                        <div class="contentreceit__receit">

                            <div class="receit-header">
                                <img src="static/dist/img/santaclaralogo.png" />
                                <div class="receit-header__title">
                                    <h4>Sucursal: Helados Santa Clara Polanco, CDMX</h4>
                                    <span><i>
                                        Av. Pdte. Masaryk 194, Polanco,
                                        Polanco V Secc, 11560 Ciudad de México, CDMX
                                    </i></span>
                                    <p>Tel: 01 55 5280 5122</p>
                                </div>
                                <img src="static/dist/img/barcode.jpg" />
                                <h4 style="margin-top:1rem;">Vendedor: <strong>Andrés Pérez</strong></h4>
                            </div>

                            <div class="receit-body">
                                
                                <p>Fecha: <strong>{{ dateCurrent() }}</strong></p>
                                <p>Ticket: <strong>#15478</strong></p>

                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="p in shoppingcar.listProducts">
                                            <td class="alignMiddle text-center">
                                                {{ p.nuCantidad }}
                                            </td>
                                            <td class="alignMiddle">
                                                {{ p.nbProducto }}
                                            </td>
                                            <td class="alignMiddle text-right">
                                                <strong>${{ p.nuTotal }}</strong>
                                            </td>
                                            <td class="alignMiddle text-right">
                                                <strong>${{ p.nuTotal }}</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <hr style="border:1px dashed #e4e4e4;">

                                <div class="row">
                                    <div class="col-md-4">
                                        <h3>TOTAL</h3>
                                    </div>
                                    <div class="col-md-8 text-right">
                                        <h3>$ {{ shoppingcar.total }}</h3>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <hr style="border:1px solid #e4e4e4;">

                    <div class="row centerRow">
                        <button class="btn btn-danger" ng-click="printReceit('receit');">
                            Imprimir recibo
                        </button>
                    </div>
                </div>                
            </div>

        </div>

	</toast-content>
</toast>